<div class="wa-circuit-display">
  <div class="ls-circuit-canevas">
    <div class="circuit-start">
      <div class="wa-circuit-endpoint-content">
        <span [ngClass]="messages.CIRCUIT_START_ICON" class="wa-circuit-endpoint-icn fa-2x"></span>
        <span [innerText]="messages.FIRST_STEP_TXT" class="wa-step-bounds-txt"></span>
      </div>
    </div>
    <div class="steps-container">
      <div *ngFor="let step of circuit.steps; index as i">
        <div class="ls-circuit-display-step-container">
          <div *ngIf="showSkippedStepsIcons(i)">
            <span [ngClass]="getSkippedStepInfoClass()" class="wa-skipped-step-info">
              <ng-container *ngFor="let validator of step.validatedBy">
                <i class="fa ls-icon-valider-en-urgence wa-emergency-validation-icon"
                   ngbTooltip="{{messages.validatedInEmergencyByToolTipTxt(validator.firstname + ' ' + validator.lastname)}}">
              </i>
               <span class="wa-step-validator">
                      {{validator.firstname + ' ' + validator.lastname}}
                 <wa-circuit-comment [comment]="step.comment"></wa-circuit-comment>
               </span>
              </ng-container>
            </span>
          </div>
          <div [ngClass]="getStepClasses(i, step)" class="wa-circuit-step">
            <div class="wa-step-top-line">
              <span *ngIf="isActiveStep(i)"
                    [ngClass]="messages.CIRCUIT_ACTIVE_STEP_ICON+ ' '+ commonStyles.getSuccessStyleClass()"
                    class="fa-2x wa-active-step-icon"></span>
              <div class="step-number">{{i + 1}}.</div>
              <div class="step-name">{{step.name}}</div>
              <div [ngClass]="getStepIconClass(step)" class="step-icn" ngbTooltip="{{getStepTooltip(step)}}"></div>
            </div>
            <div class="wa-display-step-separator"></div>
            <div [ngClass]="isInstance ? 'wa-circuit-instance' : ''" class="wa-step-validator-list">
              <ng-container *ngIf="isPassed(step)">
                <div *ngFor="let validator of step.validators" class="wa-box-step-validator">
                  <ng-container *ngIf="isActualValidator(step, validator); else validatorNameTmpl">
                    <span [ngClass]="getValidatorClasses(step)" class="wa-validation-action-icon"></span>
                    <span class="wa-step-validator wa-actual-validator">
                      {{validator.firstname + ' ' + validator.lastname}}
                      <wa-circuit-comment [comment]="step.comment"></wa-circuit-comment>
                    </span>
                  </ng-container>
                  <ng-template #validatorNameTmpl>
                    <span class="wa-step-validator">
                      {{validator.firstname + ' ' + validator.lastname}}
                    </span>
                  </ng-template>
                </div>
              </ng-container>
              <ng-container *ngIf="!isPassed(step)">
                <div *ngFor="let validator of step.validators">
                  <span class="wa-step-validator">
                    {{validator.firstname + ' ' + validator.lastname}}
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wa-circuit-end">
      <div [ngClass]="getCircuitEndAdditionalClasses()" class="wa-circuit-endpoint-content">
        <span *ngIf="this.isCircuitOver()"
              [ngClass]="messages.CIRCUIT_ACTIVE_STEP_ICON" class="wa-circuit-endpoint-icn fa-lg"></span>
        <span [ngClass]="messages.CIRCUIT_END_ICON" class="wa-circuit-endpoint-icn fa-2x"></span>
        <span [innerText]="messages.LAST_STEP_TXT" class="wa-step-bounds-txt"></span>
      </div>
    </div>
  </div>
</div>
