.wa-step-validator, .wa-skipped-step-info {
  position: relative;

  wa-circuit-comment {
    position: absolute;
    left: -5rem;
    top: calc(50% + -1rem);
  }
}

.wa-circuit-endpoint-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.wa-circuit-step {
  margin: 1rem auto;
}
