<wa-modal-header [activeModal]="activeModal" [title]="typeAct.id ? messages.UPDATE_NEW_TYPE_ACT : messages.CREATE_NEW_TYPE_ACT"></wa-modal-header>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <form class="ls-form" [formGroup]="typeActForm">
        <div class="form-group required">
          <label [innerText]="messages.NEW_TYPE_SITTING_NAME" for="name"></label>
          <input formControlName="name"
                 class="form-control"
                 id="name"
                 maxlength="80"
                 name="name"
                 placeholder="{{messages.NEW_TYPE_ACT_NAME_PLACE_HOLDER}}"
                 type="text"
          >
          <div *ngIf="typeActForm.controls['name']?.errors?.duplicatedName && typeActForm.controls['name'].dirty"
               [innerHTML]="messages.DUPLICATED_TYPEACT_ERROR_MESSAGE"
               class="ls-error-message text-danger"></div>
          <div *ngIf="typeActForm.controls['name']?.errors?.required && typeActForm.controls['name'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.NATURES_LIST" for="natures"></label>
          <ng-select formControlName="natures"
                     class="input-group ls-select"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableNatures"
                     [multiple]="false"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     id="natures"
                     placeholder="{{messages.NATURE_PLACE_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{ item.name }}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{ item.name }}</span>
            </ng-template>

          </ng-select>
          <div *ngIf="typeActForm.controls['natures']?.errors?.required && typeActForm.controls['natures'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger">
          </div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.FORM_IS_TRANSMISSIBLE"></label>
          <div class="btn-group-toggle ls-actions-bar ls-actions-bar-align-left"
               name="isTransferable"
               ngbRadioGroup>
            <input id="isTransferableTrue" formControlName="isTransferable" [value]="true" class="btn-check" ngbButton type="radio">
            <label for="isTransferableTrue" class="btn ls-btn-radio btn-outline-primary" ngbButtonLabel><span
              [innerText]="commonMessages.YES"></span>
            </label>

            <input id="isTransferableFalse" formControlName="isTransferable" [value]="false" class="btn-check" ngbButton type="radio">
            <label for="isTransferableFalse" class="btn ls-btn-radio btn-outline-primary" ngbButtonLabel>
              <span
                [innerText]="commonMessages.NO"></span>
            </label>
          </div>
        </div>

        <div *ngIf="isSittingEnable" class="form-group required">
          <label [innerText]="messages.TYPE_ACT_IS_DELIBERATING"></label>

          <div class="btn-group-toggle ls-actions-bar ls-actions-bar-align-left"
               name="isDeliberative"
               ngbRadioGroup>
            <input id="isDeliberativeTrue" formControlName="isDeliberative" [value]="true" class="btn-check" ngbButton type="radio">
            <label for="isDeliberativeTrue" class="btn ls-btn-radio btn-outline-primary" ngbButtonLabel>
              <span [innerText]="commonMessages.YES"></span>
            </label>

            <input id="isDeliberativeFalse" formControlName="isDeliberative" [value]="false" class="btn-check" ngbButton type="radio">
            <label for="isDeliberativeFalse" class="btn ls-btn-radio btn-outline-primary" ngbButtonLabel>
              <span [innerText]="commonMessages.NO"></span>
            </label>
          </div>
        </div>

        <div *ngIf="this.generateNumber">
          <div class="form-group required">
            <label [innerText]="messages.COUNTER_LIST" for="counters"></label>
            <ng-select formControlName="counters"
                       class="input-group ls-select"
                       [clearAllText]="waCommonMessages.CLEAR_ALL"
                       [items]="availableCounters"
                       [multiple]="false"
                       [notFoundText]="waCommonMessages.NO_RESULT"
                       bindLabel="name"
                       id="counters"
                       placeholder="{{messages.COUNTER_PLACE_HOLDER}}" selectOnTab>
              <ng-template let-item="item" ng-option-tmp>
                {{ item.name }}
              </ng-template>
              <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
                <span class="ng-value-label">{{ item.name }}</span>
              </ng-template>
            </ng-select>
            <div *ngIf="typeActForm.controls['counters']?.errors?.required && typeActForm.controls['counters'].dirty"
                 [innerHTML]="commonMessages.REQUIRED_FIELD"
                 class="ls-error-message text-danger">
            </div>
          </div>
        </div>

        <div class="form-group required" *ngIf="this.isWriting">
          <label [innerText]="messages.DRAFT_TEMPLATE_LIST" for="draftTemplates"></label>
          <ng-select formControlName="draftTemplates"
                     class="input-group ls-select"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableDraftTemplates"
                     [multiple]="true"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     id="draftTemplates"
                     placeholder="{{messages.DRAFT_TEMPLATE_PLACE_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{ item.name }}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{ item.name }}</span>
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group required" *ngIf="this.isProjectGenerate">
          <label [innerText]="messages.GENERATE_TEMPLATE_PROJECT_LIST" for="projectGenerateTemplate"></label>
          <ng-select formControlName="projectGenerateTemplate"
                     class="input-group ls-select"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableProjectGenerateTemplates"
                     [multiple]="false"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     bindValue="id"
                     id="projectGenerateTemplate"
                     placeholder="{{messages.GENERATE_TEMPLATE_PROJECT_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{ item.name }}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{ item.name }}</span>
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group required" *ngIf="this.isActGenerate">
          <label [innerText]="messages.GENERATE_TEMPLATE_ACT_LIST" for="actGenerateTemplate"></label>
          <ng-select formControlName="actGenerateTemplate"
                     class="input-group ls-select"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableActGenerateTemplates"
                     [multiple]="false"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     bindValue="id"
                     id="actGenerateTemplate"
                     placeholder="{{messages.GENERATE_TEMPLATE_ACT_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{ item.name }}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{ item.name }}</span>
            </ng-template>
          </ng-select>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-5">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>
        <wa-button (btnClick)="addOrUpdateAct()"
                   [disabled]="typeActForm.invalid"
                   [icon]="typeAct.id ? commonIcons.SAVE_ICON : commonIcons.CREATE_ICON"
                   [processing]="isSubmitting"
                   [title]="typeAct.id ? messages.ACT_TYPE_UPDATE : messages.ACT_TYPE_ADD"
                   tabindex="4">
        </wa-button>
      </div>
    </div>
  </div>
</div>
