<label [ngClass]="btnStyle" class="custom-file-upload btn" title="{{title}}">
  <span [class]="icon"></span>
  <span [innerText]="title"></span>
  <input #inputFile [accept]="types" [attr.name]="name" [multiple]="multiple" type="file">
</label>
