<wa-modal [title]="messages.MODAL_TITLE_CREATE">
  <div modalBody>
    <form class="ls-form" [formGroup]="draftTemplateForm" (ngSubmit)="onSubmit()">
      <div class="form-group required">
        <label for="name">{{messages.FORM_FIELD_NAME_LABEL}}</label>
        <input
            formControlName="name"
            id="name"
            [attr.aria-label]="messages.FORM_FIELD_NAME_LABEL_PLACEHOLDER"
            aria-describedby="name"
            class="form-control actor-group-name-field"
            placeholder="{{messages.FORM_FIELD_NAME_LABEL_PLACEHOLDER}}" type="text">
        <wa-control-messages [control]="draftTemplateForm.get('name')"></wa-control-messages>
      </div>
      <div class="form-group required">
        <label for="draft_template_type">{{messages.FORM_FIELD_DRAFT_TEMPLATE_TYPES_LABEL}}</label>
        <ng-select formControlName="draft_template_type"
                   id="draft_template_type"
                   [items]="optionDraftTemplateTypes"
                   bindLabel="name"
                   labelForId="draft_template_types"
                   placeholder="{{messages.FORM_FIELD_DRAFT_TEMPLATE_TYPES_LABEL_PLACEHOLDER}}"
                   clearAllText="{{commonMessages.CLEAR_ALL}}"
                   class="input-group ls-select"
        >
        </ng-select>
        <wa-control-messages [control]="draftTemplateForm.get('draft_template_type')"></wa-control-messages>
      </div>

      <wa-file-upload formControlName="draft_template_file"
                      [fileUploadRequired]="true"
                      [fileUploadTooltipMessage]="messages.formFieldDraftTemplateFileHelp(1)"
                      [fileUploadLabel]="messages.FORM_FIELD_DRAFT_TEMPLATE_FILE_LABEL"
                      [fileUploadBtnText]="messages.FORM_FIELD_DRAFT_TEMPLATE_FILE_BUTTON_TEXT"
                      [fileUploadBtnTitle]="messages.FORM_FIELD_DRAFT_TEMPLATE_FILE_BUTTON_TEXT"
                      [fileUploadAcceptType]="[fileType.ODT]"
      ></wa-file-upload>
    </form>
  </div>
  <div modalFooterButtons>
    <wa-button (btnClick)="submitDraftTemplate()"
               [disabled]="!draftTemplateForm.valid"
               [icon]="commonIcons.CREATE_ICON"
               [title]="commonMessages.SAVE"
               tabindex="4">
    </wa-button>
  </div>
</wa-modal>
