<wa-modal-header [activeModal]="activeModal" [title]="title"></wa-modal-header>

<div class="modal-body">
  <ng-content select=[modalBody]></ng-content>
</div>

<div class="modal-footer">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>
        <ng-content select=[modalFooterButtons]></ng-content>
      </div>
</div>
