<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<wa-panel [htmlText]="messages.CONNEXION_PASTELL_HELP"></wa-panel>

<div class="main-content">
  <form [formGroup]="connexionForm" class="ls-form">
    <div class="form-group required">
      <label [innerText]="messages.URL_PASTELL_INPUT_LABEL" for="#urlPastell"></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span [innerText]="commonMessages.HTTPS_PROTOCOL" class="input-group-text"></span>
        </div>
        <input class="form-control"
               formControlName="pastellUrl"
               id="#urlPastell"
               maxlength="255"
               name="urlPastell"
               placeholder="{{messages.URL_PASTELL_INPUT_PLACE_HOLDER}}"
               type="text">
      </div>
    </div>

    <div class="form-group required">
      <label [innerText]="messages.ID_PASTELL_INPUT_LABEL" for="#username"></label>
      <input class="form-control"
             formControlName="username"
             id="#username"
             maxlength="80"
             name="username"
             placeholder="{{messages.ID_PASTELL_INPUT_PLACE_HOLDER}}"
             type="text">
    </div>

    <div class="form-group">
      <label [innerText]="messages.PASSWORD_PASTELL_INPUT_LABEL" for="#passwordPastell"></label>
      <ls-password formControlName="password"
                   id="#passwordPastell"
                   name="passwordPastell"
      ></ls-password>
    </div>

    <div class="form-group required">
      <label [innerText]="messages.IDE_PASTELL_INPUT_LABEL" for="#idEPastell"></label>
      <input class="form-control"
             formControlName="pastellEntityId"
             id="#idEPastell"
             maxlength="10"
             name="idEPastell"
             placeholder="{{messages.IDE_PASTELL_INPUT_PLACE_HOLDER}}"
             type="number">
    </div>

    <div class="form-group required">
      <label [innerText]="messages.URL_SLOW_INPUT_LABEL" for="#slowUrl"></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span [innerText]="commonMessages.HTTPS_PROTOCOL" class="input-group-text"></span>
        </div>
        <input class="form-control"
               formControlName="slowUrl"
               id="#slowUrl"
               maxlength="255"
               name="slowUrl"
               placeholder="{{messages.URL_SLOW_INPUT_PLACE_HOLDER}}"
               type="text">
      </div>
    </div>

    <div *ngIf="testMessage">
      <span [innerHTML]="testMessage"
            [ngClass]="testSuccess ? commonStyles.getSuccessStyleClass() : commonStyles.getErrorStyleClass()"></span>
    </div>

    <div class="ls-actions-bar ls-actions-bar-align-right">
      <wa-button (btnClick)="testConnexion()"
                 [processing]="isTesting"
                 [title]="messages.BTN_TEST_CONNEXION_PASTELL_TITLE"
                 [weight]="weight.SECONDARY">
      </wa-button>

      <wa-save-button (btnClick)="save()"
                      [disabled]="isSubmitDisabled || !connexionForm.valid"
                      [processing]="isSubmitting">
      </wa-save-button>
    </div>
  </form>
</div>
