<label [innerText]="messages.SEND_PROJECT_TO_I_PARAPHEUR_MODAL_CIRCUIT_INPUT_LABEL" for="iparapheur-select"></label>
<wa-tooltip [message]="messages.SEND_PROJECT_TO_I_PARAPHEUR_MODAL_CIRCUIT_INPUT_TOOLTIP"></wa-tooltip>

<wa-panel *ngIf="errorMessage"
          [htmlText]="errorMessage"
          [style]="style.DANGER">
</wa-panel>

<ng-select id="iparapheur-select"
           *ngIf="!errorMessage && iParapheurCircuitList"
           [clearAllText]="waCommonMessages.CLEAR_ALL"
           [notFoundText]="waCommonMessages.NO_RESULT"
           [items]="iParapheurCircuitList"
           [(ngModel)]="selectedIParapheurCircuit"
           (ngModelChange)="onChange()"
           bindLabel="name"
           class="input-group ls-select"
           name="iparapheur-select"
           placeholder="{{messages.SEND_PROJECT_TO_I_PARAPHEUR_MODAL_CIRCUIT_INPUT_PLACE_HOLDER}}"
           selectOnTab>
</ng-select>

<wa-spinner-box *ngIf="!errorMessage && !iParapheurCircuitList"></wa-spinner-box>
