<div class="modal-header">
  <h1 [innerText]="title"
      class="modal-title"></h1>
  <wa-button (btnClick)="activeModal.dismiss({isError:false})"
             [colorOnHover]="true"
             [iconSize]="'large'"
             [icon]="commonIcons.CLOSE_ICON"
             [onlyIcon]="true"
             [style]="style.DANGER"
             [title]="commonMessages.CLOSE">
  </wa-button>
</div>
