<div>
  <ngb-accordion #documentAccordion="ngbAccordion" [activeIds]="getOpenedAccordion()">
    <ngb-panel id="{{searchForm}}">
      <ng-template let-opened="opened" ngbPanelHeader>
        <wa-accordion-panel-header (toggle)="documentAccordion.toggle(searchForm)" [opened]="opened" [title]="searchMessages.FORM_TITLE"></wa-accordion-panel-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <form class="ls-form" #searchForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label [innerText]="searchMessages.ACT_NAME" for="project_name"></label>
                <input [(ngModel)]="search.project_name"
                       (ngModelChange)="checkEmptyRequest()"
                       class="form-control"
                       id="project_name"
                       maxlength="80"
                       name="project_name"
                       placeholder="{{searchMessages.ACT_NAME_PLACE_HOLDER}}"
                       type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label [innerText]="searchMessages.TYPESACTS" for="typeacts"></label>
                <ng-select [(ngModel)]="search.typeacts"
                           (change)="checkEmptyRequest()"
                           [multiple]="true"
                           [items]="availableTypeActs"
                           [notFoundText]="waCommonMessages.NO_RESULT"
                           bindLabel="name"
                           class="input-group ls-select"
                           id="typeacts"
                           maxlength="80"
                           name="typeacts"
                           placeholder="{{searchMessages.TYPE_ACT_PLACE_HOLDER}}"
                           >
                  <ng-template let-item="item" ng-option-tmp>
                    {{item.name}}
                  </ng-template>
                  <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                    <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
                    <span class="ng-value-label">{{item.name}}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label [innerText]="searchMessages.CODE_ACT" for="code_act"></label>
                <wa-tooltip [message]="searchMessages.HELPER"></wa-tooltip>
                <input [(ngModel)]="search.code_act"
                       (ngModelChange)="checkEmptyRequest()"
                       class="form-control"
                       id="code_act"
                       maxlength="80"
                       name="code_act"
                       placeholder="{{searchMessages.CODE_ACT_PLACE_HOLDER}}"
                       type="text">
              </div>
            </div>
          </div>
          <div class="ls-actions-bar ls-stepper-actions-btns ls-actions-bar-align-center">
            <wa-reinit-button
                (btnClick)="searchForm.reset()"
                (click)="reset()">
            </wa-reinit-button>

            <wa-search-button
                [disabled]="isSubmitDisabled"
                (btnClick)="searchRequest()"
                [title] = "commonMessages.SEARCH">
            </wa-search-button>
          </div>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div *ngIf="searchSubmit && resultFound" class="tabSearch">
  <wa-table [elements]="projectsList"
            [loading]="loading"
            [pagination]="pagination"
            [tbody]="tbody"
            [theader]="theader"
            [singleActions]="singleActions"
            (gotoPage)="gotoPage($event)">
  </wa-table>

  <ng-template #theader>
    <th [innerText]="searchMessages.ACT_NAME" class="col"></th>
    <th [innerText]="searchMessages.CODE_ACT" class="col-2"></th>
    <th [innerText]="searchMessages.TYPESACTS" class="col"></th>
  </ng-template>

  <ng-template #tbody let-element>
    <td class="col">
      <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT)"
          [item]="element">
      </wa-table-row-action>
    </td>
    <td [innerText]="element.codeAct"
        class="col-2"></td>
    <td [innerText]="element.typeAct.name"
        class="col"></td>
  </ng-template>
</div>

<div *ngIf="searchSubmit && !resultFound" class="main-content tabSearch">
  <div [innerHTML]="searchMessages.NO_RESULT"></div>
</div>
