<div class="container">
  <div class="row">
    <div class="col">
      <wa-licence [licence]="licence"></wa-licence>
      <wa-support></wa-support>
    </div>
    <div class="col" >
      <wa-release-notes [releaseNotes]="releaseNotes" [applicationName]="applicationVersion.getFullName()"></wa-release-notes>
    </div>
  </div>
</div>
