<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<wa-panel [htmlText]="messages.USE_NOTICE"></wa-panel>

<div class="main-content container separated-columns">
  <div class="row">
    <div class="col">
      <ng-container *ngFor="let groupSetting of structureSetting?.groupSettings; let i = index">
        <table class="table table-striped inner-table mb-3">
          <thead>
          <tr>
            <th [innerText]="groupSetting?.name"></th>
            <th class="toggle-button-column"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let setting of groupSetting.settings; let i = index">
            <tr>
              <td [innerText]="setting.name"></td>
              <td class="toggle-button-column col-1">
                <wa-slider (valueChange)="valueChanged(groupSetting.code, setting.code, $event)"
                           [title]="setting.name"
                           [(ngModel)]="setting.active">
                </wa-slider>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>



