<wa-header></wa-header>

<wa-sidebar [logo]="logo"
            [menu]="menu"
            [name]="structureName">
</wa-sidebar>

<ls-content>
  <wa-page></wa-page>
</ls-content>

<ls-footer active="web-actes" application_name="{{getApplicationName()}}"></ls-footer>
<wa-spinner></wa-spinner>
