<wa-modal-header [activeModal]="activeModal" [title]="user.id ? userListMessages.EDIT_USER : userListMessages.CREATE_USER"></wa-modal-header>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <form class="ls-form" [formGroup]="userForm">
        <div class="form-group required" *ngIf="userRightsUtils.isSuperAdmin()">
          <label [innerText]="messages.STRUCTURE" for="structure"></label>
          <ng-select (ngModelChange)="onStructureChange()"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableStructures"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="structure"
                     class="input-group ls-select"
                     formControlName="structure"
                     id="structure"
                     placeholder="{{messages.STRUCTURE}}"
                     selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{ item.businessName }}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{ item.businessName }}</span>
            </ng-template>
          </ng-select>
          <div *ngIf="userForm.controls['structure']?.errors?.required && userForm.controls['structure'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.ROLE" for="role"></label>
          <ng-select formControlName="role"
                     [items]="this.selectedStructure ? this.selectedStructure.roles : getRoles()"
                     clearAllText="{{waCommonMessages.CLEAR_ALL}}"
                     notFoundText="{{waCommonMessages.NO_RESULT}}"
                     bindLabel="role"
                     class="input-group ls-select"
                     id="role"
                     placeholder="{{messages.ROLE}}"
                     selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{ item.name }}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{ item.name }}</span>
            </ng-template>
          </ng-select>
          <div *ngIf="userForm.controls['role']?.errors?.required && userForm.controls['role'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.CIVILITY" for="civility"></label>
          <ng-select formControlName="civility"
                     [items]="['M.', 'Mme']"
                     clearAllText="{{waCommonMessages.CLEAR_ALL}}"
                     class="input-group ls-select"
                     id="civility"
                     maxlength="80"
                     bindLabel="civility"
                     placeholder="{{userModalMessages.CIVILITY_PLACE_HOLDER}}"
                     selectOnTab>
          </ng-select>
          <div *ngIf="userForm.controls['civility']?.errors?.required && userForm.controls['civility'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.LAST_NAME" for="lastname"></label>
          <input formControlName="lastname"
                 class="form-control"
                 id="lastname"
                 maxlength="80"
                 name="lastname"
                 placeholder="{{userModalMessages.LAST_NAME_PLACE_HOLDER}}"
                 type="text">
          <div *ngIf="userForm.controls['lastname']?.errors?.required && userForm.controls['lastname'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.FIRST_NAME" for="firstname"></label>
          <input formControlName="firstname"
                 class="form-control"
                 id="firstname"
                 maxlength="80"
                 name="firstname"
                 placeholder="{{userModalMessages.FIRST_NAME_PLACE_HOLDER}}"
                 type="text">
          <div *ngIf="userForm.controls['firstname']?.errors?.required && userForm.controls['firstname'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.USERNAME" for="username"></label>
          <input formControlName="username"
                 [attr.disabled]="user.id ? '' : undefined"
                 class="form-control"
                 id="username"
                 maxlength="80"
                 name="username"
                 placeholder="{{userModalMessages.USERNAME_PLACE_HOLDER}}"
                 type="text">
          <div *ngIf="userForm.controls['username']?.errors?.duplicatedUserName && userForm.controls['username'].dirty"
               [innerHTML]="userModalMessages.USER_DUPLICATE_LOGIN"
               class="ls-error-message text-danger"></div>
          <div *ngIf="userForm.controls['username']?.errors?.required && userForm.controls['username'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.EMAIL" for="email"></label>
          <input formControlName="email"
                 [attr.disabled]="user.id ? '' : undefined"
                 class="form-control"
                 id="email"
                 maxlength="80"
                 name="email"
                 placeholder="{{userModalMessages.EMAIL_PLACE_HOLDER}}"
                 type="text">
          <div *ngIf="userForm.controls['email']?.errors?.required && userForm.controls['email'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
          <div *ngIf="userForm.controls['email']?.errors?.pattern && userForm.controls['email'].dirty"
               [innerHTML]="userModalMessages.USER_WRONG_EMAIL"
               class="ls-error-message text-danger"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-5">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>
        <wa-button (btnClick)="addOrUpdateUser()"
                   [icon]="user.id ? commonIcons.SAVE_ICON : commonIcons.CREATE_ICON"
                   [processing]="isSubmitting"
                   [disabled]="userForm.invalid"
                   [title]="user.id ? userListMessages.EDIT_USER : userListMessages.CREATE_USER"
                   tabindex="4">
        </wa-button>
      </div>
    </div>
  </div>
</div>
