<wa-modal-header [activeModal]="activeModal" [title]="title"></wa-modal-header>

<div class="modal-body">
  <div *ngIf="type==='normal'" [innerHTML]="content"></div>
  <wa-panel *ngIf="type==='info'" [htmlText]="content"></wa-panel>
</div>

<div class="modal-footer">
  <div class="ls-actions-bar ls-actions-bar-align-right">
    <wa-cancel-button (btnClick)="onCancel()"
                      *ngIf="cancelButton">
    </wa-cancel-button>

    <wa-button (btnClick)="onConfirm()"
               [icon]="icon"
               [style]="style"
               [title]="confirmMsg">
    </wa-button>
  </div>
</div>
