<ls-sidebar>
  <section class="ls-sidebar-coll-logo">
    <img *ngIf="logo" [alt]="name"
         [src]="logo">
    <span [innerText]="name"></span>
  </section>

  <section class="ls-sidebar-menu">
    <ul class="main-menu">
      <li *ngFor="let item of menu" routerLinkActive="active">
        <a [routerLink]="'/'+ (item.ref ? item.ref : '')">
          <i [ngClass]="item.icon ? item.icon : commonIcons.DEFAULT_MENU_ICON"></i>
          <span [innerText]="item.name"></span>
        </a>
        <ul class="sub-menu">
          <li *ngFor="let subItem of item.subItems" routerLinkActive="active">
            <a [routerLink]="'/'+ (subItem.ref ? subItem.ref : '')">
              <span [innerText]="subItem.name"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</ls-sidebar>
