<div class="form-group">
  <ngb-accordion #documentAccordion="ngbAccordion" [activeIds]="getOpenedAccordion()" class="no-padding">
    <ngb-panel *ngIf="voters" id="{{votersListId}}">
      <ng-template let-opened="opened" ngbPanelHeader>
        <wa-accordion-panel-header
          (toggle)="documentAccordion.toggle(votersListId)"
          [opened]="opened"
          [title]="voteMessages.HEADER_TITLE_VOTERS">
        </wa-accordion-panel-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <wa-table [elements]="voters" [inner]="true" [tbody]="tbody_voters" [theader]="theader_voters">
        </wa-table>

        <ng-template #theader_voters>
        </ng-template>
        <ng-template #tbody_voters let-element disabled="true" ngbRadioGroup>
          <td *ngIf="element?.is_present || element?.mandataire_id"
              [innerText]="!element?.mandataire_id ? element.name : element|joinVoterRepresentative"
              class="col"></td>
          <td *ngIf="element?.is_present || element?.mandataire_id" class="col">
            <input
              (change)="onValueChange()"
              [(ngModel)]="element.result"
              [checked]="element.result == VoteAction.YES"
              [id]="'details_yes'+ '_' + element.actor_id"
              [name]="'details_yes'+ '_' + element.actor_id"
              [value]="VoteAction.YES"
              type="radio">
            <label for="{{'details_yes'+ '_' + element.actor_id}}">{{voteMessages.LABEL_YES}}</label>
          </td>
          <td *ngIf="element?.is_present || element?.mandataire_id" class="col">
            <input
              (change)="onValueChange()"
              [(ngModel)]="element.result"
              [checked]="element.result == VoteAction.NO"
              [id]="'details_no'+ '_' + element.actor_id"
              [name]="'details_no'+ '_' + element.actor_id"
              [value]="VoteAction.NO"
              type="radio">
            <label for="{{'details_no'+ '_' + element.actor_id}}">{{voteMessages.LABEL_NO}}</label>
          </td>
          <td *ngIf="element?.is_present || element?.mandataire_id" class="col">
            <input
              (change)="onValueChange()"
              [(ngModel)]="element.result"
              [checked]="element.result == VoteAction.ABSTENTION"
              [id]="'details_abstention'+ '_' + element.actor_id"
              [name]="'details_abstention'+ '_' + element.actor_id"
              [value]="VoteAction.ABSTENTION"
              type="radio">
            <label for="{{'details_abstention'+ '_' + element.actor_id}}">{{voteMessages.LABEL_ABSTENTION}}</label>
          </td>
          <td *ngIf="element?.is_present || element?.mandataire_id" class="col">
            <input
              (change)="onValueChange()"
              [(ngModel)]="element.result"
              [checked]="element.result == VoteAction.NO_WORDS"
              [id]="'details_no_participating'+ '_' + element.actor_id"
              [name]="'details_no_participating'+ '_' + element.actor_id"
              [value]="VoteAction.NO_WORDS"
              type="radio">
            <label for="{{'details_no_participating'+ '_' + element.actor_id}}">{{voteMessages.LABEL_NO_PARTICIPATING}}</label>
          </td>
        </ng-template>
      </ng-template>
    </ngb-panel>

    <ngb-panel *ngIf="this.voters" id="{{absentVotersListId}}">
      <ng-template let-opened="opened" ngbPanelHeader>
        <wa-accordion-panel-header
          (toggle)="documentAccordion.toggle(absentVotersListId)"
          [opened]="opened"
          [title]="voteMessages.HEADER_TITLE_ABSENT_VOTERS">
        </wa-accordion-panel-header>
      </ng-template>

      <ng-template ngbPanelContent>
        <wa-table [elements]="getAbsentVoters()" [inner]="true" [tbody]="tbody_absent_voters" [theader]="theader_absent_voters">
        </wa-table>
        <ng-template #theader_absent_voters>
        </ng-template>
        <ng-template #tbody_absent_voters let-element ngbRadioGroup>
          <td [innerText]="element.name" class="col">
          </td>
        </ng-template>
      </ng-template>
    </ngb-panel>

    <ngb-panel *ngIf="this.voters" id="{{voteShortcutListId}}">
      <ng-template let-opened="opened" ngbPanelHeader>
        <wa-accordion-panel-header
          (toggle)="documentAccordion.toggle(voteShortcutListId)"
          [opened]="opened"
          [title]="voteMessages.HEADER_TITLE_SHORTCUT">
        </wa-accordion-panel-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <wa-table [elements]="voterGroups" [inner]="true" [tbody]="tbody_shortcut" [theader]="theader_shortcut">
        </wa-table>

        <ng-template #theader_shortcut>
          <th [innerText]="voteMessages.HEADER_TITLE_NAME"></th>
          <th class="col"></th>
          <th class="col"></th>
          <th class="col"></th>
          <th class="col"></th>
        </ng-template>

        <ng-template #tbody_shortcut let-element>
          <td [innerText]="element.name" class="col"></td>
          <td class="col">
            <input
              (change)="selectAllVoteOnChange(element)"
              [(ngModel)]="element.result"
              [checked]="element.result === VoteAction.YES"
              [id]="'details_shortcut_yes_' + element.name"
              [name]="'details_shortcut_yes_' + element.name"
              [value]="VoteAction.YES"
              type="radio">
            <label [for]="'details_shortcut_yes_' + element.name">{{voteMessages.LABEL_YES}}</label>
          </td>

          <td class="col">
            <input
              (change)="selectAllVoteOnChange(element)"
              [(ngModel)]="element.result"
              [checked]="element.result === VoteAction.NO"
              [id]="'details_shortcut_no_' + element.name"
              [name]="'details_shortcut_no_' + element.name"
              [value]="VoteAction.NO"
              type="radio">
            <label [for]="'details_shortcut_no_' + element.name">{{voteMessages.LABEL_NO}}</label>
          </td>

          <td class="col">
            <input
              (change)="selectAllVoteOnChange(element)"
              [(ngModel)]="element.result"
              [checked]="element.result == VoteAction.ABSTENTION"
              [id]="'details_shortcut_abstention_' + element.name"
              [name]="'details_shortcut_abstention_' + element.name"
              [value]="VoteAction.ABSTENTION"
              type="radio">
            <label [for]="'details_shortcut_abstention_' + element.name">{{voteMessages.LABEL_ABSTENTION}}</label>
          </td>

          <td class="col">
            <input
              (change)="selectAllVoteOnChange(element)"
              [(ngModel)]="element.result"
              [checked]="element.result == VoteAction.NO_WORDS"
              [id]="'details_shortcut_no_words_' + element.name"
              [name]="'details_shortcut_no_words_' + element.name"
              [value]="VoteAction.NO_WORDS"
              type="radio">
            <label [for]="'details_shortcut_no_words_' + element.name">{{voteMessages.LABEL_NO_PARTICIPATING}}</label>
        </ng-template>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <wa-table [elements]="[fakeVote]" [inner]="true" [tbody]="totalBody" [theader]="totalHeader">
  </wa-table>

  <ng-template #totalHeader>
  </ng-template>

  <ng-template #totalBody disabled="true" class="fa-bold">
    <td class="col">
      <span disabled="disabled" id="total_recap" [innerText]="voteMessages.getTotalVote(getTotalVotes(), getTotalVoters())"></span>
    </td>
    <td class="col">
      <span disabled="disabled" id="total_recap_oui"> {{getVoteCount(VoteAction.YES)}} </span>
      <label for="total_recap_oui">{{voteMessages.LABEL_YES}}</label>
    </td>
    <td class="col">
      <span disabled="disabled" id="total_recap_non">{{getVoteCount(VoteAction.NO)}}</span>
      <label for="total_recap_non">{{voteMessages.LABEL_NO}}</label>
    </td>

    <td class="col">
      <span disabled="disabled" id="total_recap_abstention">{{getVoteCount(VoteAction.ABSTENTION)}}</span>
      <label for="total_recap_abstention">{{voteMessages.LABEL_ABSTENTION}}</label>
    </td>
    <td class="col">
      <span disabled="disabled" id="total_recap_pas_de_participation">{{getVoteCount(VoteAction.NO_WORDS)}}</span>
      <label for="total_recap_pas_de_participation">{{voteMessages.LABEL_NO_PARTICIPATING}}</label>
    </td>
  </ng-template>
</div>
