<div class="input-group ls-actions-bar ls-actions-bar-align-left">
  <wa-go-back-button (btnClick)="back()"></wa-go-back-button>

  <wa-button (btnClick)="modifyCircuit()"
             *ngIf="currentCircuit.hasAvailableAction(CircuitRight.isEditable)"
             [icon]="commonIcons.EDIT_ICON"
             [title]="messages.MODIFY_CIRCUIT_BTN_TXT">
  </wa-button>
</div>

<wa-panel *ngIf="!currentCircuit.hasAvailableAction(CircuitRight.isEditable)"
          [text]="messages.CIRCUIT_NON_EDITABLE_TXT">
</wa-panel>

<div class="page-content">
  <div class="global-circuit-fields ls-form">
    <div class="form-group">
      <label>{{messages.CIRCUIT_NAME_FIELD_LABEL}}</label>
      <div>{{currentCircuit.name}}</div>
    </div>

    <div class="description-group form-group">
      <label>{{messages.CIRCUIT_DESCRIPTION_FIELD_LABEL}}</label>
      <div [innerText]="currentCircuit?.description"></div>
    </div>
  </div>
  <wa-circuit-display [circuit]="currentCircuit"></wa-circuit-display>
</div>
