
.page-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;

  margin-top: 1em;
}

.global-circuit-fields {
  flex: 1 1 25%;
  max-width: 32rem;
  margin-right: 2em;

  .circuit-name-field {
    min-width: 16rem;
  }

  .description-group {
    margin-top: 2rem;

    .description-input {
      height: 10rem;
    }
  }

  label {
    margin-bottom: 0.5rem;
  }

}
