<wa-modal-header [activeModal]="activeModal" [title]="messages.TITLE"></wa-modal-header>

<div class="modal-body wa-step-form">
  <div class="wa-action-description">
    <span [innerText]="messages.ACTION_DESCRIPTION"></span>
  </div>

  <div [ngClass]="commentIsRequired ? 'required' : ''" class="form-group">
    <label [innerText]="messages.COMMENT_LABEL" for="commentInput"></label>
    <ls-max-length-textarea [(ngModel)]="comment"
                            [required]="commentIsRequired"
                            id="commentInput"
                            maxlength="500">
    </ls-max-length-textarea>
  </div>
</div>

<div class="modal-footer">
  <div class="row bottom-btn-bar">
    <div class="col-md-12">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>

        <wa-save-button
          (click)="confirmAction()"
          [disabled]="confirmBtnIsDisabled()"
          [icon]="confirmBtnIcon"
          [processing]="isProcessing"
          [style]="style"
          [title]="messages.CONFIRM_BTN_TITLE">
        </wa-save-button>
      </div>
    </div>
  </div>
</div>
