<wa-modal-header [activeModal]="activeModal"
                 [title]="messages.IMPORT_ORGANIZATION_MODAL_TITLE">
</wa-modal-header>

<div class="modal-body">
  <tree-root [nodes]="treeOrganizations" [options]="options" class="wa-tree-select in-modal"></tree-root>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col footer-information">
      <span
        [innerText]="messages.modalSelectedStructures(selectedOrganizations().length + selectedStructures().length)"></span>
    </div>
    <div class="col-5">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>


        <wa-button (btnClick)="createOrganizationsAndStructures()"
                   [disabled]="selectedEntities().length===0"
                   [icon]="commonIcons.ADD_ICON"
                   [processing]="isSubmitting"
                   [title]="'Importer'">
        </wa-button>
      </div>
    </div>
  </div>
</div>

