<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="main-content">
  <form class="ls-form">
    <div class="form-group">
      <label [innerText]="messages.ADD_IMAGE_BUTTON_TITLE"></label>
      <wa-tooltip [message]="messages.AddImageHelp(imageSize)"></wa-tooltip>
      <label *ngIf="!url" class="btn btn-primary hidden-input btn-add-image" title="{{messages.ADD_IMAGE_TITLE}}">
        <span [class]="commonIcons.ADD_ICON"></span>
        <span [innerText]="messages.ADD_IMAGE_TITLE"></span>
        <input (change)="onFileChanged($event)" [accept]="getFileExtensions()" type="file">
      </label>

      <div *ngIf="url" class="preview">
        <div class="file file-field">
          <img [alt]="selectedFile ? selectedFile.name : ''" [height]="imageSize" [src]="url"
               [title]="selectedFile ? selectedFile.name : ''"
               [width]="imageSize">
          <span *ngIf="selectedFile" [innerText]="selectedFile.name"></span>
        </div>
        <div class="ls-small-buttons-bar">
          <wa-button (btnClick)="deleteImage()"
                     [colorOnHover]="true"
                     [icon]="commonIcons.DELETE_ICON"
                     [onlyIcon]="true"
                     [style]="style.DANGER"
                     [title]="messages.DELETE_IMAGE_TITLE">
          </wa-button>
          <label [title]="messages.REPLACE_IMAGE_TITLE" class="btn hidden-input wa-primary-on-hover no-text-button">
            <input (change)="onFileChanged($event)" [accept]="getFileExtensions()" type="file">
            <span [ngClass]="commonIcons.REPLACE_ICON" class="success-over-icon"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label [innerText]="messages.HEADER_TEXT_INPUT_TEXT_TITLE" for="#name"></label>
      <input [(ngModel)]="name"
             class="form-control"
             id="#name"
             maxlength="80"
             name="name"
             placeholder="{{messages.HEADER_TEXT_INPUT_PLACE_HOLDER}}"
             type="text">
    </div>
    <div class="form-group">
      <label [innerText]="messages.SPINNER_LABEL" for="spinnerStructure"></label>
      <ng-select (change)="onSpinnerChanged($event)"
                 [(ngModel)]="selectSpinnerStructure"
                 [items]="spinnersItems"
                 (clear)="resetSpinner();"
                 autofocus
                 bindLabel="name"
                 bindValue="value"
                 class="input-group ls-select"
                 id="spinnerStructure"
                 name="spinnerStructure"
                 placeholder="{{messages.SPINNER_PLACE_HOLDER}}"
                 selectOnTab tabindex="1">
        <ng-template let-item="item" ng-option-tmp>
          {{item.name}}
        </ng-template>
      </ng-select>
    </div>

    <div class="ls-actions-bar ls-actions-bar-align-right">
      <wa-save-button (btnClick)="save()"
                      [disabled]="isSubmitting">
      </wa-save-button>
    </div>
  </form>
</div>
