<div class="ls-actions-bar ls-actions-bar-main">

  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>

  <a *ngIf="displayState != projectDisplayState.VALIDATED_INTO_SITTING" [routerLink]="('/'+ routingPaths.PROJECTS_CREATE_PATH)"
     [state]="{goto:router.url}">
    <wa-button
      [icon]="commonIcons.CREATE_ICON"
      [title]="messages.CREATE_PROJECT">
    </wa-button>
  </a>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadProjects()"
          [commonActions]="commonActions"
          [elements]="projects"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActionsOthers]="otherSingleActions"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <ng-container [ngSwitch]="displayState">
    <ng-template [ngSwitchCase]="projectDisplayState.DRAFT">
      <th class="col-auto state-icn-container" [innerText]="waCommonMessages.STATE" scope="col"></th>
      <th class="col" [innerText]="waCommonMessages.ACT_NAME" scope="col"></th>
      <th class="col-2" [innerText]="waCommonMessages.TYPE_ACT" scope="col"></th>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.VALIDATING">
      <th [innerText]="waCommonMessages.CODE_ACT" class="col-2" scope="col"></th>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col-4" scope="col"></th>
      <th [innerText]="waCommonMessages.TYPE_ACT" class="col-2" scope="col"></th>
      <th [innerText]="messages.STEP" class="col-2" scope="col"></th>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.TO_BE_VALIDATED">
      <th [innerText]="waCommonMessages.CODE_ACT" class="col-2" scope="col"></th>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col-4" scope="col"></th>
      <th [innerText]="waCommonMessages.TYPE_ACT" class="col-2" scope="col"></th>
      <th [innerText]="messages.STEP" class="col-2" scope="col"></th>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.VALIDATED">
      <th class="col-auto state-icn-container" [innerText]="waCommonMessages.STATE" scope="col"></th>
      <th [innerText]="waCommonMessages.CODE_ACT" class="col-2" scope="col"></th>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col" scope="col"></th>
      <th [innerText]="waCommonMessages.TYPE_ACT" class="col-2" scope="col"></th>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.VALIDATED_INTO_SITTING">
      <th [innerText]="waCommonMessages.STATE" class="col-auto state-icn-container" scope="col"></th>
      <th [innerText]="waCommonMessages.CODE_ACT" class="col-2" scope="col"></th>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col-6" scope="col"></th>
      <th [innerText]="waCommonMessages.TYPE_ACT" class="col-2" scope="col"></th>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.UNASSOCIATED">
      <th [innerText]="waCommonMessages.STATE" class="col-auto text-center state-icn-container" scope="col"></th>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col" scope="col"></th>
      <th [innerText]="waCommonMessages.TYPE_ACT" class="col-2" scope="col"></th>
      <th [innerText]="messages.STEP" class="col-2" scope="col"></th>
    </ng-template>

    <ng-template ngSwitchDefault>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col" scope="col"></th>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #tbody let-element>
  <ng-container [ngSwitch]="displayState">
    <ng-template [ngSwitchCase]="projectDisplayState.DRAFT">
      <td class="col-auto state-icn-container">
        <div class="text-center state-icn">
          <span [ngClass]="getIconForState(element?.stateact)"
                ngbTooltip="{{element?.stateact?.name}}"
                placement="top">
          </span>
        </div>
      </td>
      <td class="col">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ProjectsBreadcrumb.PathBreadcrumb.get(routingPaths.PROJECTS_DRAFTS_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td [innerText]="element?.typeAct?.name" class="col-2"></td>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.VALIDATING">
      <td [innerText]="element?.codeAct" class="col-2"></td>
      <td class="col-4">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ProjectsBreadcrumb.PathBreadcrumb.get(routingPaths.PROJECTS_VALIDATING_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td [innerText]="element?.typeAct?.name" class="col-2"></td>
      <td [innerText]="element?.circuit?.currentStep?.name" class="col-2"></td>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.TO_BE_VALIDATED">
      <td [innerText]="element?.codeAct" class="col-2"></td>
      <td class="col-4">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ProjectsBreadcrumb.PathBreadcrumb.get(routingPaths.PROJECTS_TO_BE_VALIDATED_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td [innerText]="element?.typeAct?.name" class="col-2"></td>
      <td [innerText]="element?.circuit?.currentStep?.name" class="col-2"></td>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.VALIDATED">
      <td class="col-auto state-icn-container">
        <div class="text-center state-icn" ngbTooltip="{{element?.stateact?.name}}" placement="top">
          <span
            [ngClass]="getIconForState(element?.stateact)">
          </span>
        </div>
      </td>
      <td [innerText]="element?.codeAct" class="col-2"></td>
      <td class="col">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ProjectsBreadcrumb.PathBreadcrumb.get(routingPaths.PROJECTS_VALIDATED_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td [innerText]="element?.typeAct?.name" class="col-2"></td>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.VALIDATED_INTO_SITTING">
      <td class="col-auto state-icn-container">
        <div class="text-center state-icn">
          <span
            [ngClass]="getIconForState(element?.stateact)"
            ngbTooltip="{{element?.stateact?.name}}"
            placement="top">
          </span>
        </div>
      </td>
      <td [innerText]="element?.codeAct" class="col-2"></td>
      <td class="col-4">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ProjectsBreadcrumb.PathBreadcrumb.get(routingPaths.PROJECTS_VALIDATED_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td [innerText]="element?.typeAct?.name" class="col-4"></td>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.UNASSOCIATED">
      <td class="col-auto state-icn-container">
        <div class="text-center state-icn">
          <span
            [ngClass]="getIconForState(element?.stateact)"
            ngbTooltip="{{element?.stateact?.name}}"
            placement="top">
          </span>
        </div>
      </td>
      <td class="col">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ProjectsBreadcrumb.PathBreadcrumb.get(routingPaths.PROJECTS_WITHOUT_SITTING_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td [innerText]="element?.typeAct?.name" class="col-2"></td>
      <td [innerText]="element?.circuit?.currentStep?.name" class="col-2"></td>
    </ng-template>

    <ng-template ngSwitchDefault>
      <td class="col-4">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT)"
          [item]="element"></wa-table-row-action>
      </td>
    </ng-template>
  </ng-container>
</ng-template>
