$slider-size: 13px;

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 0;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .slider:before {
    -ms-transform: translateX($slider-size);
    transform: translateX($slider-size);
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bs-ls-grey-200);
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: $slider-size;
      width: $slider-size;
      left: 2px;
      bottom: 2px;
      background-color: var(--bs-white);
      -webkit-transition: .4s;
      transition: .4s;
    }

    /* Rounded sliders */
    &.round {
      border-radius: 17px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}

.switch {
  input:focus + .slider {
    box-shadow: 0 0 1px var(--bs-ls-primary-600);
  }

  input:checked + .slider {
    background-color: var(--bs-ls-primary-600);
  }
}
