<div
  *ngIf="secondaryActions?.actions.length>0 || primaryActions?.actions.length>0 || otherActions?.actions.length>0"
  class="ls-actions-bars"
  role="group">
  <div *ngIf="secondaryActions?.actions.length>0" class="ls-actions-bar">
    <ng-container *ngFor="let item of secondaryActions.actions; let index = index">
      <wa-button (done)="sendResult($event)"
                 *ngIf="item.enabled && item.actionValidator?.isActionValid([argument])"
                 [action]="item"
                 [argument]="[argument]"
                 [icon]="item.icon"
                 [style]="item.style"
                 [title]="item.longName"
                 [weight]="weight.SECONDARY"
                 id="{{item.name | toSnakeCase}}-secondary"
                 waActionable>
      </wa-button>
    </ng-container>
  </div>
  <div *ngIf="primaryActions?.actions.length>0" class="ls-actions-bar">
    <ng-container *ngFor="let item of primaryActions.actions; let index = index">
      <wa-button (done)="sendResult($event)"
                 *ngIf="item.enabled && item.actionValidator?.isActionValid([argument])"
                 [action]="item"
                 [argument]="[argument]"
                 [icon]="item.icon"
                 [style]="item.style"
                 [title]="item.longName"
                 [weight]="weight.PRIMARY"
                 id="{{item.name | toSnakeCase}}-primary"
                 waActionable>
      </wa-button>
    </ng-container>
  </div>
  <div *ngIf="otherActions?.actions.length>0" class="ls-actions-bar">
    <ng-container *ngFor="let item of otherActions.actions; let index = index">
      <wa-button (done)="sendResult($event)"
                 *ngIf="item.enabled && item.actionValidator?.isActionValid([argument])"
                 [action]="item"
                 [argument]="[argument]"
                 [icon]="item.icon"
                 [style]="item.style"
                 [title]="item.longName"
                 [weight]="weight.SECONDARY"
                 id="{{item.name | toSnakeCase}}-other"
                 waActionable>
      </wa-button>
    </ng-container>
  </div>
</div>
