<div class="main-content container separated-columns">
  <div class="row">
    <div class="col" *ngIf="notificationsOptions?.userNotifications.values.length>0">
      <wa-options-list [optionsList]="notificationsOptions?.userNotifications"></wa-options-list>
    </div>
    <div class="col" *ngIf="notificationsOptions?.otherNotifications.values.length>0">
      <wa-options-list [optionsList]="notificationsOptions?.otherNotifications"></wa-options-list>
    </div>
  </div>
</div>
