<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>
  <wa-button (btnClick)="createActor()"
             [icon]="commonIcons.CREATE_ICON"
             [title]="messages.BUTTON_ADD">
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reload()"
          [elements]="actors"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerHTML]="commonMessages.NOT_BREAKABLE_SPACE" class="col-1"></th>
  <th [innerText]="messages.HEADER_RANK" class="col"></th>
  <th [innerText]="messages.HEADER_NAME" class="col"></th>
  <th [innerText]="messages.HEADER_ACTORGROUP" class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td *ngIf="element" class="col-1">
    <wa-actor-activate-button [actor]="element"></wa-actor-activate-button>
  </td>
  <td [innerText]="element?.rank" class="col"></td>
  <td [innerText]="element?.name" class="col"></td>
  <td [innerText]="element?.actor_groups|joinActorGroups" class="col"></td>
</ng-template>
