<ng-container *ngIf="endedInError">
  <span [innerText]="messages.ACT_TELETRANSMISSION_ORDERED_FAILURE_MESSAGE"></span>
</ng-container>

<ng-container *ngIf="!endedInError">
  <span [innerText]="messages.ACT_TELETRANSMISSION_ORDERED_SUCCESS_MESSAGE"></span>
</ng-container>
