<div class="form-group" *ngIf="!isTypeActEditable">
  <label [innerText]="messages.ACT_TYPE"></label>
  <div class="form-group">
    <span [innerText]="typeAct.name" class="value"></span>
  </div>
</div>

<div class="form-group required" *ngIf="isTypeActEditable">
  <label [innerText]="messages.ACT_TYPE"></label>
  <wa-list-or-button [(ngModel)]="typeAct"
                     (ngModelChange)="onChangeTypeAct()"
                     [items]="typeActsChoices"
                     [maxLength]="maxButtons"
                     [placeholder]="messages.ACT_TYPE_PLACEHOLDER"
                     [required]="true"
                     id=typeAct>
  </wa-list-or-button>
</div>

<div class="form-group required">
  <label [innerText]="messages.ACT_NAME" for="actName"></label>
  <ls-max-length-textarea [(ngModel)]="actName"
                          [required]="true"
                          id="actName"
                          maxlength="500">
  </ls-max-length-textarea>
</div>

<div *ngIf="isStateEditable" class="form-group required">
  <label [innerText]="messages.ACT_STATE"></label>
  <wa-list-or-button [(ngModel)]="stateAct"
                     (ngModelChange)="onChangeStateAct()"
                     [items]="stateActsChoices"
                     [maxLength]="maxButtons"
                     [placeholder]="messages.ACT_STATE_PLACEHOLDER"
                     [required]="true"
                     id="stateActs">
  </wa-list-or-button>
</div>
