<h2 [innerText]="sittingListMessages.SEND_SITTING_CONVOCATION_DOCUMENTS_TITLE"></h2>

<div class="form-group text-center">
  <wa-button (done)="generationDone($event)"
             [action]="generateSummonAction"
             [argument]="[summon]"
             waActionable>
  </wa-button>
</div>

<form [formGroup]="documentForm" class="ls-form">
  <wa-file-upload formControlName="convocation"
                  (change)="documentsChanged()"
                  [fileUploadRequired]="true"
                  [fileUploadDeletable]="false"
                  [fileUploadTooltipMessage]="sittingListMessages.formFieldFileHelp(10)"
                  [fileUploadLabel]="sittingListMessages.FORM_FIELD_CONVOCATION_FILE_LABEL"
                  [fileUploadBtnText]="sittingListMessages.FORM_FIELD_CONVOCATION_FILE_BUTTON_TEXT"
                  [fileUploadBtnTitle]="sittingListMessages.FORM_FIELD_CONVOCATION_FILE_BUTTON_TEXT"
                  [fileUploadAcceptType]="[fileType.PDF]"
                  (fileDownload)="downloadFile(documentForm.value.convocation)">
  </wa-file-upload>

  <wa-file-upload formControlName="executiveSummary"
                  (change)="documentsChanged()"
                  [fileUploadRequired]="false"
                  [fileUploadReplaceable]="true"
                  [fileUploadTooltipMessage]="sittingListMessages.formFieldFileHelp(10)"
                  [fileUploadLabel]="sittingListMessages.FORM_FIELD_EXECUTIVE_SUMMARY_FILE_LABEL"
                  [fileUploadBtnText]="sittingListMessages.FORM_FIELD_EXECUTIVE_SUMMARY_FILE_BUTTON_TEXT"
                  [fileUploadBtnTitle]="sittingListMessages.FORM_FIELD_EXECUTIVE_SUMMARY_FILE_BUTTON_TEXT"
                  [fileUploadAcceptType]="[fileType.PDF]"
                  (fileDownload)="downloadFile(documentForm.value.executiveSummary)"
                  (deleteFile)="deleteFile()">
  </wa-file-upload>
</form>
