<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>

  <wa-button
    (done)="actionDone($event)"
    [action]="userActionItemFactory.getActionItem(userAction.ADD_USER)"
    [icon]="commonIcons.CREATE_ICON"
    [title]="usersListMessages.CREATE_USER"
    waActionable>
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadUsers()"
          [singleActions]="singleActions"
          [elements]="users"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerHTML]="commonMessages.NOT_BREAKABLE_SPACE" class="col-1"></th>
  <th [innerText]="messages.LAST_NAME" class="col"></th>
  <th [innerText]="messages.FIRST_NAME" class="col"></th>
  <th [innerText]="messages.USERNAME" class="col"></th>
  <th [innerText]="messages.STRUCTURE_NAME" class="col"></th>
  <th [innerText]="messages.ROLE" class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td class="col-1">
    <wa-slider #btn (valueChange)="toggleActivation(element, $event, btn)"
               [(ngModel)]="element.active"
               [title]="commonMessages.ACTIVATE_DEACTIVATE"></wa-slider>
  </td>
  <td [innerText]="element?.lastname|uppercase" class="col"></td>
  <td [innerText]="element?.firstname" class="col"></td>
  <td [innerText]="element?.username" class="col"></td>
  <td [innerText]="element?.structures|joinStructures" class="col"></td>
  <td [innerText]="element?.roles|joinRoles" class="col"></td>
</ng-template>
