<wa-table-common-actions (actionResult)="actionDone($event)" *ngIf="hasCommonActions()"
                         [actionItemsSets]="commonActions"
                         [arguments]="selectedElements"
                         [class]="'wa-common-actions'"
                         [enabled]="isCommonActionsEnabled">
</wa-table-common-actions>

<table [ngClass]="this.inner ? 'inner-table' : ''" class="table table-striped with-highlights">
  <thead>
  <tr class="d-flex" matSort>
    <th *ngIf="hasCommonActions()" scope="col">
      <wa-check-all (selectAll)="selectAll($event)"></wa-check-all>
    </th>
    <ng-container *ngTemplateOutlet="theader ? theader: theaderDefault"></ng-container>
    <th *ngIf="hasSingleActions()" [ngClass]="getSingleActionsColClass()" scope="col"></th>
  </tr>
  </thead>
  <tbody cdkDropList [cdkDropListDisabled]="!isDraggable" (cdkDropListDropped)="onDrop($event)">
  <ng-container *ngFor="let element of elements; let i = index">
    <tr [class.selected]="isSelected(element.id)" class="d-flex" cdkDrag cdkDragLockAxis="y">
      <td *ngIf="hasCommonActions()">
        <input (change)="selectRow()" [(ngModel)]="selectedRows[element.id]" type="checkbox">
      </td>
      <ng-container
        *ngTemplateOutlet="tbody ? tbody: tbodyDefault ; context: {$implicit: element}"></ng-container>
      <td *ngIf="hasSingleActions()" [ngClass]="getSingleActionsColClass()" class="text-right"
          style="padding-top: 0; padding-bottom: 0">
        <wa-table-single-item-actions
          (actionResult)="actionDone($event)"
          [actionItems]="singleActions"
          [argument]="element"
          [class]="'wa-single-item-actions'"
          [otherActionItemsSets]="singleActionsOthers">
        </wa-table-single-item-actions>
      </td>
    </tr>
  </ng-container>
  <ng-container *ngIf="loading">
    <tr>
      <td class="col empty-table-content">
        <wa-spinner-box></wa-spinner-box>
      </td>
    </tr>
  </ng-container>
  <ng-container *ngIf="!loading && elements && elements.length === 0">
    <tr>
      <td class="col empty-table-content">
        <span [innerText]="filtered ? commonMessages.NO_RESULTS : commonMessages.EMPTY_TABLE_MESSAGE"
              class="empty-table-text"></span>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

<ng-template #theaderDefault>
  <th [innerText]="'Id'" class="col"></th>
</ng-template>

<ng-template #tbodyDefault let-element>
  <td [innerText]="element?.id" class="col"></td>
</ng-template>

<ngb-pagination (pageChange)="onPageChanged($event)"
                *ngIf="pagination && pagination.count > pagination.perPage"
                [(page)]="pagination.page"
                [collectionSize]="pagination.count"
                [maxSize]="3"
                [pageSize]="pagination.perPage"
                [rotate]="true"
                class="d-flex justify-content-end">
</ngb-pagination>
