tr {

  &:hover wa-table-single-item-actions {
    opacity: 1;
  }
}

.empty-table-content {
  padding: 1.5em;
  text-align: center;
}

.empty-table-text {
  font-style: italic;
}

.wa-table-action-container {
  min-width: 7rem;
}

ngb-pagination {
  z-index: 0;
  position: relative;
}
