<div class="input-group wa-search-bar">
  <span class="input-group-text">
    <label #searchBarLabel for="searchBar">
      <span [ngClass]="commonIcons.SEARCH_ICON"></span>
    </label>
  </span>
  <input #searchBarInput
         (ngModelChange)="this.filterUpdate.next($event)"
         [(ngModel)]="filterString"
         [attr.aria-label]="waCommonMessages.SEARCH_OR_FILTER_FIELD_PLACEHOLDER"
         class="form-control"
         id="searchBar"
         placeholder="{{waCommonMessages.SEARCH_OR_FILTER_FIELD_PLACEHOLDER}}"
         type="text">
  <div class="input-group-append">
    <button (click)="resetFilters()" [title]="waCommonMessages.EMPTY_FILTERS"
            class="btn btn-outline-secondary" type="button">
      <span [ngClass]="commonIcons.CLOSE_ICON"></span>
    </button>
  </div>
</div>
