<label [innerText]="messages.THEME_LABEL"></label>
<ng-select (change)="change.emit()"
           [(ngModel)]="theme"
           (ngModelChange)="themeChange.emit(theme)"
           [clearAllText]="waCommonMessages.CLEAR_ALL"
           [items]="themeList"
           [ngModelOptions]="{ standalone : true }"
           [notFoundText]="waCommonMessages.NO_RESULT"
           bindLabel="name"
           class="ls-select ls-select-tree ls-select-tree-with-header"
           placeholder="{{messages.THEME_PLACEHOLDER}}">

  <ng-template let-item="item" ng-option-tmp>
    <div [ngClass]="getLeafClass(item)"class="style">
      <span *ngFor="let item2 of [].constructor(item.depth)" class="before"></span>
      <span [innerText]="'- '+ item.name" class="ls-select-tree-content"></span></div>
  </ng-template>
</ng-select>
