<div class="input-group ls-actions-bar ls-actions-bar-align-left">
  <wa-go-back-button (click)="back()"></wa-go-back-button>

  <wa-save-button (btnClick)="saveCircuit()"
                  [disabled]="saveBtnDisabled()"
                  [processing]="waitingForBackendResponse"
                  [title]="messages.SAVE_CIRCUIT">
  </wa-save-button>
</div>


<div class="page-content">
  <div class="global-circuit-fields ls-form">
    <div class="required form-group">
      <label>{{messages.CIRCUIT_NAME_FIELD_LABEL}}</label>
      <input
        [(ngModel)]="currentCircuit.name"
        [attr.aria-label]="messages.CIRCUIT_NAME_PLACEHOLDER"
        aria-describedby="name"
        class="form-control circuit-name-field"
        placeholder="{{messages.CIRCUIT_NAME_PLACEHOLDER}}" type="text">
    </div>

    <div class="description-group form-group">
      <label>{{messages.CIRCUIT_DESCRIPTION_FIELD_LABEL}}</label>
      <textarea
        [(ngModel)]="currentCircuit.description"
        [attr.aria-label]="messages.CIRCUIT_DESCRIPTION_PLACEHOLDER"
        aria-describedby="description"
        class="form-control description-input"
        maxLength="500"
        placeholder="{{messages.CIRCUIT_DESCRIPTION_PLACEHOLDER}}">
        </textarea>
    </div>
  </div>

  <div class="circuit-editor">
    <div class="ls-circuit-canevas">
      <div class="circuit-start wa-circuit-endpoint">
        <div class="wa-circuit-endpoint-content">
          <div [ngClass]="messages.CIRCUIT_START_ICON" class="wa-circuit-endpoint-icn fa-2x"></div>
          <div class="wa-step-bounds-txt">{{messages.FIRST_STEP_TXT}}</div>
        </div>
      </div>
      <div class="steps-container">
        <div class="ls-circuit-link-container">
          <div class="wa-circuit-link"></div>
          <div [ngClass]="isFirstStep() ? 'firstStep' : ''" class="ls-link-button-container">
            <div (click)="createStep(0)" [autoClose]="false" [ngbPopover]="popCreateContent"
                 [popoverTitle]="popCreateTitle" class="add-step-btn" create-btn
                 placement="right" popoverClass="wa-circuit-edition"
                 triggers="manual">
              <span [ngClass]="commonIcons.ADD_ICON"></span>
              <span class="add-step-btn-txt">{{messages.ADD_STEP_BTN_TXT}}</span>
            </div>
          </div>
        </div>

        <div *ngFor="let step of currentCircuit.steps; index as i">
          <div class="ls-circuit-step-container">
            <div [ngClass]="getAdditionalStepClass(i)" class="wa-circuit-step">
              <div class="wa-step-top-line">
                <div class="step-number">{{i + 1}}.</div>
                <div class="step-name">{{step.name}}</div>
                <div [ngClass]="getStepIconClass(step)" class="step-icn fa"></div>
              </div>
              <div class="wa-step-validator-list">
                <div *ngFor="let validator of step.validators">
                  <span class="wa-step-validator">{{validator.firstname + ' ' + validator.lastname}}</span>
                </div>
              </div>
            </div>
            <div class="ls-circuit-step-external-buttons">
              <div (click)="editStep(i)" [autoClose]="false" [ngClass]="commonIcons.EDIT_ICON"
                   [ngbPopover]="popEditContent" [popoverTitle]="popEditTitle" class="edit-step-btn"
                   placement="right-top"
                   popoverClass="wa-circuit-edition"
                   triggers="manual" [title]="messages.EDIT_STEP_TITLE"></div>
              <div (click)="deleteStep(i)" [ngClass]="commonIcons.DELETE_ICON"
                   class="delete-step-btn" [title]="messages.CONFIRM_DELETE_STEP_TITLE"></div>
            </div>
          </div>

          <div class="ls-circuit-link-container">
            <div class="wa-circuit-link"></div>
            <div class="ls-link-button-container">
              <div (click)="createStep(i + 1)" [autoClose]="false" [ngbPopover]="popCreateContent"
                   [popoverTitle]="popCreateTitle" class="add-step-btn" create-btn
                   placement="right" popoverClass="wa-circuit-edition"
                   triggers="manual">
                <span [ngClass]="commonIcons.ADD_ICON"></span>
                <span class="add-step-btn-txt">{{messages.ADD_STEP_BTN_TXT}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="circuit-end wa-circuit-endpoint">
        <div class="wa-circuit-endpoint-content">
          <div [ngClass]="messages.CIRCUIT_END_ICON" class="wa-circuit-endpoint-icn fa-2x"></div>
          <div class="wa-step-bounds-txt">{{messages.LAST_STEP_TXT}}</div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #popEditContent let-idx="idx" let-stepData="stepData">
  <wa-step-editor
    (cancelChange)="cancelStepEdition()"
    (validateChange)="confirmStepEdition($event, idx)"
    [forUpdate]="true"
    [previousStepNames]="getOtherStepsNames(idx)"
    [step]="stepData">
  </wa-step-editor>
</ng-template>

<ng-template #popCreateContent let-idx="idx" let-stepData="stepData">
  <wa-step-editor
    (cancelChange)="cancelStepCreation()"
    (validateChange)="confirmStepCreation($event, idx)"
    [forUpdate]="false"
    [previousStepNames]="getOtherStepsNames(idx)"
    [step]="stepData">
  </wa-step-editor>
</ng-template>

<ng-template #popEditTitle>{{messages.EDIT_STEP_TITLE}}</ng-template>
<ng-template #popCreateTitle>{{messages.CREATE_STEP_TITLE}}</ng-template>
