
.spinner {
  margin-left: 2rem;
  color: grey;
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-top: 1em;

}

.global-circuit-fields {
  flex: 1 1 25%;
  max-width: 32rem;

  .circuit-name-field {
    min-width: 16rem;
  }

  .description-group {
    margin-top: 2rem;

    .description-input {
      height: 10rem;
    }
  }

  label {
    margin-bottom: 0.5rem;
  }

}

.circuit-editor {
  display: grid;
  grid-template-columns: 66% auto;
  height: 100%;

  .ls-link-button-container {
    .add-step-btn {
      width: max-content;
      cursor: pointer;

      .add-step-btn-txt {
        margin-left: 0.2em;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

    }

    &:hover {
      .add-step-btn {
        .add-step-btn-txt {
          opacity: 100;
        }
      }
    }

    &.firstStep {
      .add-step-btn {
        .add-step-btn-txt {
          opacity: 100;
        }
      }
    }
  }


}
