<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>

  <wa-button
      (done)="actionDone($event)"
      [action]="counterActionItemFactory.getActionItem(counterAction.ADD_COUNTER)"
      [icon]="commonIcons.CREATE_ICON"
      [title]="messages.CREATE_COUNTER"
      waActionable>
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadCounters()"
          [commonActions]="commonActions"
          [elements]="counters"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActionsOthers]="otherSingleActions"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerText]="messages.NAME"
      class="col-2"></th>
  <th [innerText]="messages.COMMENT"
      class="col-3"></th>
  <th [innerHTML]="messages.COUNTER_DEF"
      class="col-2"></th>
  <th [innerHTML]="messages.COUNTER_REINIT_DEF"
      class="col-2"></th>
  <th [innerHTML]="messages.COUNTER_SEQUENCE"
      class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td [innerText]="element.name"
      class="col-2"></td>
  <td [innerText]="element.comment"
      class="col-3"></td>
  <td [innerText]="element.counter_def"
      class="col-2"></td>
  <td [innerText]="element.reinit_def"
      class="col-2"></td>
  <td [innerText]="element.sequence.name + ' : ' + element.sequence.sequence_num"
      class="col"></td>
</ng-template>


