<wa-modal-header [activeModal]="activeModal" [title]="messages.CHECK_IPARAPHEUR_REFUSAL_MODAL_TITLE"></wa-modal-header>

<div class="modal-body">
  <wa-panel [style]="styles.WARNING" [text]="refusalText"></wa-panel>
  <span [innerText]="messages.CHECK_IPARAPHEUR_REFUSAL_MODAL_TEXT" class="tip"></span>
</div>

<div class="modal-footer">
  <div class="row bottom-btn-bar">
    <div class="col-md-12">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-button (btnClick)="onModifyProject()"
                   [icon]="messages.MODIFY_PROJECT_BUTTON_ICON"
                   [title]="messages.MODIFY_PROJECT_BUTTON_TITLE"
                   [weight]="weight.SECONDARY">
        </wa-button>

        <wa-button (btnClick)="onCloseProject()"
                   [title]="messages.CHECK_IPARAPHEUR_REFUSAL_MODAL_BUTTON_TITLE">
        </wa-button>
      </div>
    </div>
  </div>
</div>

