<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar ls-actions-bar-main">
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadProjects()"
          (dropElement)="onDrop($event)"
          [commonActions]="commonActions"
          [elements]="containers_sitting"
          [filtered]="hasFilter()"
          [loading]="loading"
          [singleActionsOthers]="otherSingleActions"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [isDraggable]="true"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <ng-container matSort (matSortChange)="announceSortChange($event)">
    <th class="col-auto " [innerHTML]="commonMessages.NOT_BREAKABLE_SPACE"></th>
    <th class="col-auto" [mat-sort-header]="waCommonMessages.SORT_BY_ACT_STATE">
      <span [innerText]="waCommonMessages.STATE"></span>
    </th>
    <th class="col-1">
      <span [innerText]="waCommonMessages.ORDRE"></span>
    </th>
    <th class="col-2" [mat-sort-header]="waCommonMessages.SORT_BY_ACT_THEME">
      <span [innerText]="waCommonMessages.THEME"></span>
    </th>
    <th class="col" [mat-sort-header]="waCommonMessages.SORT_BY_ACT_NAME">
      <span [innerText]="waCommonMessages.ACT_NAME"></span>
    </th>
    <th class="col-2" [mat-sort-header]="waCommonMessages.SORT_BY_CODE_ACT">
      <span [innerText]="waCommonMessages.CODE_ACT"></span>
    </th>
    <th class="col-2">
      <span [innerText]="waCommonMessages.TYPE_ACT"></span>
    </th>
  </ng-container>
</ng-template>

<ng-template #tbody let-element>
  <td class="col-auto pointer">
    <span [ngClass]="commonIcons.REORDER_LINES_ICON"></span>
  </td>
  <td class="col-auto state-icon">
    <div class=""
         ngbTooltip="{{element?.container?.stateacts[element?.container?.stateacts.length - 1].name}}"
         placement="top">
          <span
            [ngClass]="getIconForState(element?.container?.stateacts[element?.container?.stateacts.length - 1])"
          >
          </span>
    </div>
  </td>
  <td [innerText]="element?.rank" class="col-1"></td>
  <td [innerText]="element?.container.project?.theme?.name|noValue" class="col-2"></td>
  <td [innerText]="element?.container.project.name" class="col"></td>
  <td [innerText]="element?.container.project?.code_act|noValue" class="col-2"></td>
  <td [innerText]="element?.container.typesact?.name|noValue" class="col-2"></td>
</ng-template>
