<wa-modal-header [activeModal]="activeModal"
                 [title]="typeSitting.id ? messages.UPDATE_NEW_SITTING_TYPE : messages.CREATE_NEW_SITTING_TYPE"></wa-modal-header>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <form class="ls-form" [formGroup]="typeSittingForm">
        <div class="form-group required">
          <label [innerText]="messages.NEW_TYPE_SITTING_NAME" for="name"></label>
          <input class="form-control"
                 formControlName="name"
                 id="name"
                 maxlength="80"
                 name="name"
                 placeholder="{{messages.NEW_TYPE_SITTING_NAME_PLACE_HOLDER}}"
                 type="text"
          >
          <div *ngIf="typeSittingForm.controls['name']?.errors?.duplicatedName && typeSittingForm.controls['name'].dirty"
               [innerHTML]="messages.TYPE_SITTING_DUPLICATE_NAME"
               class="ls-error-message text-danger"></div>
          <div *ngIf="typeSittingForm.controls['name']?.errors?.required && typeSittingForm.controls['name'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger">
          </div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.FORM_IS_DELIBERATING"></label>
          <wa-tooltip [message]="messages.FORM_IS_DELIBERATING_INFO_MESSAGE"></wa-tooltip>

          <div class="btn-group-toggle ls-actions-bar ls-actions-bar-align-left"
               name="isDeliberating"
               ngbRadioGroup>
            <input id="isDeliberatingYes" formControlName="isDeliberating" [value]="true" class="btn-check" ngbButton type="radio">
            <label for="isDeliberatingYes" class="btn ls-btn-radio btn-outline-primary" ngbButtonLabel>
              <span [innerText]="commonMessages.YES"></span>
            </label>

            <input id="isDeliberatingNo" formControlName="isDeliberating" [value]="false" class="btn-check" ngbButton type="radio">
            <label for="isDeliberatingNo" class="btn ls-btn-radio btn-outline-primary" ngbButtonLabel>
              <span [innerText]="commonMessages.NO"></span>
            </label>
          </div>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.TYPE_ACTS" for="typesActs"></label>
          <ng-select formControlName="typesActs"
                     [items]="availableTypeActs"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [multiple]="true"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     class="input-group ls-select"
                     id="typesActs"
                     placeholder="{{messages.NEW_TYPE_ACTS_NAME_PLACE_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{item.name}}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{item.name}}</span>
            </ng-template>
          </ng-select>
          <div *ngIf="typeSittingForm.controls['typesActs']?.errors?.required && typeSittingForm.controls['typesActs'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger">
          </div>
        </div>

        <div class="form-group required">
          <label for="actorGroups">{{messagesActorGroup.FORM_FIELD_ACTOR_GROUPS_LABEL}}</label>
          <ng-select formControlName="actorGroups"
                     id="actorGroups"
                     class="input-group ls-select"
                     [items]="optionActorGroups"
                     [multiple]="true"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     bindLabel="name"
                     labelForId="actorGroups"
                     placeholder="{{messagesActorGroup.FORM_FIELD_ACTOR_GROUPS_LABEL_PLACEHOLDER}}"
                     clearAllText="{{commonMessages.CLEAR_ALL}}">
          </ng-select>
          <div *ngIf="typeSittingForm.controls['actorGroups']?.errors?.required && typeSittingForm.controls['actorGroups'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger">
          </div>
        </div>

        <div class="form-group">
          <label [innerText]="messages.GENERATE_TEMPLATE_CONVOCATION_LIST" for="convocationGenerateTemplate"></label>
          <ng-select formControlName="convocationGenerateTemplate"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableConvocationGenerateTemplates"
                     [multiple]="false"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     bindValue="id"
                     class="input-group ls-select"
                     id="convocationGenerateTemplate"
                     placeholder="{{messages.GENERATE_TEMPLATE_CONVOCATION_PLACE_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{item.name}}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{item.name}}</span>
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group">
          <label [innerText]="messages.GENERATE_TEMPLATE_EXECUTIVE_SUMMARY_LIST" for="executiveSummaryGenerateTemplate"></label>
          <ng-select formControlName="executiveSummaryGenerateTemplate"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableExecutiveSummaryGenerateTemplates"
                     [multiple]="false"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     bindValue="id"
                     class="input-group ls-select"
                     id="executiveSummaryGenerateTemplate"
                     placeholder="{{messages.GENERATE_TEMPLATE_EXECUTIVE_SUMMARY_PLACE_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{item.name}}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{item.name}}</span>
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group">
          <label [innerText]="messages.GENERATE_TEMPLATE_DELIBERATIONS_LIST_LIST" for="deliberationsListGenerateTemplate"></label>
          <ng-select formControlName="deliberationsListGenerateTemplate"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableDeliberationsListGenerateTemplates"
                     [multiple]="false"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     bindValue="id"
                     class="input-group ls-select"
                     id="deliberationsListGenerateTemplate"
                     placeholder="{{messages.GENERATE_TEMPLATE_DELIBERATIONS_LIST_PLACE_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{item.name}}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{item.name}}</span>
            </ng-template>

          </ng-select>
        </div>

        <div class="form-group">
          <label [innerText]="messages.GENERATE_TEMPLATE_VERBAL_TRIAL_LIST" for="verbalTrialGenerateTemplate"></label>
          <ng-select formControlName="verbalTrialGenerateTemplate"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableVerbalTrialGenerateTemplates"
                     [multiple]="false"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     class="input-group ls-select"
                     bindLabel="name"
                     bindValue="id"
                     id="verbalTrialGenerateTemplate"
                     placeholder="{{messages.GENERATE_TEMPLATE_VERBAL_TRIAL_PLACE_HOLDER}}" selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{item.name}}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{item.name}}</span>
            </ng-template>
          </ng-select>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-7">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>
        <wa-button (btnClick)="addOrUpdateSitting()"
                   [icon]="typeSitting.id ? commonIcons.SAVE_ICON : commonIcons.CREATE_ICON"
                   [processing]="isSubmitting"
                   [disabled]="typeSittingForm.invalid"
                   [title]="typeSitting.id ? messages.TYPE_SITTING_UPDATE : messages.SITTING_TYPE_ADD"
                   tabindex="4">
        </wa-button>
      </div>
    </div>
  </div>
  <div class="col-md-5">
  </div>
</div>
