<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>
  <wa-button (btnClick)="createDraftTemplate()"
             [icon]="commonIcons.CREATE_ICON"
             [title]="messages.BUTTON_ADD">
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reload()"
          [elements]="draftTemplates"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerText]="messages.HEADER_NAME" class="col"></th>
  <th [innerText]="messages.HEADER_TYPE" class="col"></th>
  <th [innerText]="messages.HEADER_FILE" class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td [innerText]="element?.name" class="col"></td>
  <td [innerText]="element?.draft_template_type.name" class="col"></td>
  <td [innerText]="element?.draft_template_file.name" class="col"></td>
</ng-template>
