<wa-modal [title]="actor.id ? messages.MODAL_TITLE_UPDATE:messages.MODAL_TITLE_CREATE">
  <div modalBody>
    <form class="ls-form" [formGroup]="actorForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="form-group required">
              <label for="civility">{{messages.FORM_FIELD_CIVILITY_LABEL}}</label>
              <input
                  formControlName="civility"
                  id="civility"
                  [attr.aria-label]="messages.FORM_FIELD_CIVILITY_LABEL_PLACEHOLDER"
                  aria-describedby="civility"
                  class="form-control actor-civility-field"
                  placeholder="{{messages.FORM_FIELD_CIVILITY_LABEL_PLACEHOLDER}}" type="text">
              <wa-control-messages [control]="actorForm.get('civility')"></wa-control-messages>
            </div>
            <div class="form-group required">
              <label for="lastname">{{messages.FORM_FIELD_LASTNAME_LABEL}}</label>
              <input
                  formControlName="lastname"
                  id="lastname"
                  [attr.aria-label]="messages.FORM_FIELD_LASTNAME_LABEL_PLACEHOLDER"
                  aria-describedby="lastname"
                  class="form-control actor-lastname-field"
                  placeholder="{{messages.FORM_FIELD_LASTNAME_LABEL_PLACEHOLDER}}" type="text">
              <wa-control-messages [control]="actorForm.get('lastname')"></wa-control-messages>
            </div>
            <div class="form-group required">
              <label for="firstname">{{messages.FORM_FIELD_FIRSTNAME_LABEL}}</label>
              <input
                  formControlName="firstname"
                  id="firstname"
                  [attr.aria-label]="messages.FORM_FIELD_FIRSTNAME_LABEL_PLACEHOLDER"
                  aria-describedby="firstname"
                  class="form-control actor-firstname-field"
                  placeholder="{{messages.FORM_FIELD_FIRSTNAME_LABEL_PLACEHOLDER}}" type="text">
              <wa-control-messages [control]="actorForm.get('firstname')"></wa-control-messages>
            </div>
            <div class="form-group required">
              <label for="email">{{messages.FORM_FIELD_EMAIL_LABEL}}</label>
              <input
                  formControlName="email"
                  id="email"
                  [attr.aria-label]="messages.FORM_FIELD_EMAIL_LABEL_PLACEHOLDER"
                  aria-describedby="email"
                  class="form-control actor-email-field"
                  placeholder="{{messages.FORM_FIELD_EMAIL_LABEL_PLACEHOLDER}}" type="text">
              <wa-control-messages [control]="actorForm.get('email')"></wa-control-messages>
              <div *ngIf="actorForm.controls['email']?.errors?.duplicate && actorForm.controls['email'].dirty"
                   [innerHTML]="messages.ACTOR_EMAIL_ALREADY_USED_ERROR_MESSAGE"
                   class="ls-error-message text-danger"></div>
            </div>
          </div>
          <div class="col-sm">

            <div class="form-group">
              <label for="cellphone">{{messages.FORM_FIELD_CELLPHONE_LABEL}}</label>
              <input
                  formControlName="cellphone"
                  id="cellphone"
                  [attr.aria-label]="messages.FORM_FIELD_CELLPHONE_LABEL_PLACEHOLDER"
                  aria-describedby="cellphone"
                  class="form-control actor-cellphone-field"
                  placeholder="{{messages.FORM_FIELD_CELLPHONE_LABEL_PLACEHOLDER}}" type="text">
              <wa-control-messages [control]="actorForm.get('cellphone')"></wa-control-messages>
            </div>
            <div class="form-group">
              <label for="actor_groups">{{messages.FORM_FIELD_ACTOR_GROUPS_LABEL}}</label>
              <ng-select formControlName="actor_groups"
                         id="actor_groups"
                         [items]="optionActorGroups"
                         bindLabel="name"
                         labelForId="actor_groups"
                         [multiple]="true"
                         placeholder="{{messages.FORM_FIELD_ACTOR_GROUPS_LABEL_PLACEHOLDER}}"
                         clearAllText="{{commonMessages.CLEAR_ALL}}"
                         class="input-group ls-select"
              >
              </ng-select>
            </div>
            <wa-control-messages [control]="actorForm.get('actor_groups')"></wa-control-messages>
            <div class="form-group">
              <label for="rank">{{messages.FORM_FIELD_RANK_LABEL}}</label>
              <input
                  formControlName="rank"
                  id="rank"
                  [attr.aria-label]="messages.FORM_FIELD_RANK_LABEL_PLACEHOLDER"
                  aria-describedby="rank"
                  class="form-control actor-rank-field"
                  placeholder="{{messages.FORM_FIELD_RANK_LABEL_PLACEHOLDER}}" type="text">
            </div>
            <div class="form-group">
              <label for="title">{{messages.FORM_FIELD_TITLE_LABEL}}</label>
              <input
                  formControlName="title"
                  id="title"
                  [attr.aria-label]="messages.FORM_FIELD_TITLE_LABEL_PLACEHOLDER"
                  aria-describedby="title"
                  class="form-control actor-title-field"
                  placeholder="{{messages.FORM_FIELD_TITLE_LABEL_PLACEHOLDER}}" type="text">
              <wa-control-messages [control]="actorForm.get('title')"></wa-control-messages>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div modalFooterButtons>
    <wa-button (btnClick)="onSubmit()"
               [disabled]="!actorForm.valid"
               [icon]="actor.id ? commonIcons.SAVE_ICON : commonIcons.CREATE_ICON"
               [title]="commonMessages.SAVE"
               [processing]="isSubmitting"
               tabindex="4">
    </wa-button>
  </div>
</wa-modal>
