<button #buttonElement
        [disabled]="disabled
        || (processing || actionable?.processing)
        || (actionable?.action.actionValidator && !actionable?.action.actionValidator?.isActionValid(actionable.argument))"
        (click)="btnClick.emit($event)"
        [ngClass]="getBtnClasses()" class="btn btn-icon-label" title="{{title}}" type="button">
  <span *ngIf="iconOnLeft" [ngClass]="(processing || actionable?.processing) && processingIcon ? processingIcon : icon + getIconClasses()"></span>
  <span *ngIf="title && !onlyIcon" [innerText]="title"></span>
  <span *ngIf="!iconOnLeft" [ngClass]="(processing || actionable?.processing) && processingIcon ? processingIcon : icon + getIconClasses()"></span>
</button>
