<div (click)="toggle.emit()" class="wa-accordion-header">
  <span [ngClass]="opened ? commonIcons.CLOSE_ACCORDION_ICON : commonIcons.EXPAND_ACCORDION_ICON"
        class="wa-primary icon"></span>
  <span [innerText]="title" class="title"></span>
</div>
