.alert {
    padding: 5px 15px 5px 15px;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert.alert-error {
    color: #EA463A;
    background-color: #F9CFCF;
    border-color: #EA463A;
}

.alert.alert-info {
    color: #3586C3;
    background-color: #EBF7FF;
    border-color: #B1DFFF;
}

.alert.alert-success {
    color: #47AA5A;
    background-color: #C7F2CD;
    border-color: #47AA5A;
}

.alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #856404;
}

.alert.alert-left-align {
    justify-content: left;
}

.alert.alert-left-align i {
    padding: 0 15px 0 5px;
}

.alert.fixed-message {
    position: absolute;
    top: 15px;
    left: 10%;
    right: 10%;
}

.alert i {
    font-size: 25px !important;
}

.alert span {
    text-align: left;
    padding-left: 30px;
}

footer {
    color: #D3D3D3;
    width: 100%;
    min-height: 40px;
    background-color: #222222;
    display: flex;
    align-items: center;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.box:first-child > span {
    margin-right: auto;
}

.box:last-child > span {
    margin-left: auto;
}

footer div:nth-child(1) {
    display: none;
    margin-left: 18px;
}

footer a {
    opacity: 0.5;
    transition: opacity .15s ease-in-out;
    text-decoration: none;
}

footer a:hover {
    opacity: 1;
}

footer div:nth-child(3) {
    margin-right: 20px;
}

.copyright {
    justify-content: flex-start;
    margin-left: 18px;
    font-size: 14px;
}

@media (min-width: 1200px) {
    footer div:nth-child(1) {
        display: inherit;
    }

    .copyright {
        flex: 0 1 auto;
        justify-content: center;
        margin-left: 0;
    }
}

.products > a:not(:last-child) {
    margin-right: 10px;
}

input {
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    transition-duration: 0.2s;
}

input:focus {
    box-shadow: 0 0 4px 1px #CDEEDB;
    border-color: #CDEEDB;
}

input:not([type=checkbox]) {
    height: 30px;
    width: calc(100% - 10px);
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 34px;
    padding: 0 15px 0 10px;
    border-style: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

button i {
    font-size: 20px !important;
    padding-right: 7px;
}

button.btn-default {
    background-color: #268D4D;
    color: white;
    font-family: Ubuntu, sans-serif;
}

button.btn-default:hover {
    background-color: #16512c;
}

button.btn-default:active {
    box-sizing: border-box;
    box-shadow: 0 0 0 4px #0b2916 inset;
    background-color: #103d21;
}

.input-group {
    position: relative;
    height: 34px;
}

.input-group span {
    position: absolute;
    background-color: #222;
    color: white;
    height: 99%;
    width: 36px;
    border-radius: 5px 0 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.input-group input {
    padding-left: 42px;
    width: calc(100% - 42px);
}

.input-group .visibility {
    position: absolute;
    transition-duration: 0.1s;
    color: #6f6f6f;
    right: 7px;
    top: 7px;
    font-size: 17px;
}

.input-group .visibility:hover {
    cursor: pointer;
    color: #222;
}

.input-group .visibility + input {
    padding-right: 32px;
    width: calc(100% - 42px - 31px);
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    min-height: 100vh;
    height: 100px;
}

a {
    color: #268D4D;
    text-decoration: none;
    height: 34px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    transition-duration: 0.1s;
    padding: 0 10px 0 10px;
}

.products-logo {
    padding: 0;
}

a:hover:not(.products-logo) {
    background-color: #87dfa8;
}

a i {
    padding-right: 5px;
}

.left-panel {
    background-color: #f7f7f7;
    flex-direction: column;
}

.left-panel p {
    text-align: center;
    padding: 0 30px 0 30px;
}

.login-form-grid {
    display: grid;
    grid-template: "username" 1fr "password" 1fr "remember" 1fr "confirm" 1fr / 1fr;
    grid-row-gap: 20px;
}

.login-form-grid .username-grid {
    grid-area: username;
}

.login-form-grid .password-grid {
    grid-area: password;
}

.login-form-grid .remember-grid {
    grid-area: remember;
}

.login-form-grid .form-confirm-grid {
    grid-area: confirm;
    display: grid;
    grid-template: ".  forgot button" 1fr / 1fr auto auto;
    grid-column-gap: 20px;
}

.login-form-grid .form-confirm-grid .forgot-password-grid {
    display: flex;
    align-items: center;
    grid-area: forgot;
}

.login-form-grid .form-confirm-grid .confirm-button-grid {
    grid-area: button;
}

.forgot-password-grid {
    display: grid;
    grid-template: "message" auto "username" auto "info" auto "confirm" auto / 1fr;
    grid-row-gap: 20px;
}

.forgot-password-grid .message-grid {
    grid-area: message;
}

.forgot-password-grid .user-or-mail-grid {
    grid-area: username;
}

.forgot-password-grid .content-info-grid {
    grid-area: info;
    display: flex;
    align-items: center;
}

.forgot-password-grid .form-confirm-grid {
    grid-area: confirm;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-password-grid {
    display: grid;
    grid-template: "new-password" auto "confirm-password" auto "confirm" auto / 1fr;
    grid-row-gap: 20px;
}

.update-password-grid .password-new-grid {
    grid-area: new-password;
}

.update-password-grid .password-confirm-grid {
    grid-area: confirm-password;
}

.update-password-grid .form-confirm-grid {
    grid-area: confirm;
    display: flex;
    align-items: center;
    justify-content: right;
}

/**
+------------------------------------------------------------------+-------->  main
+                                                                  +

+-----------------+------------------------------------------------+
|                 |                                                |
|                 |     right-panel                                |
|                 |            +-----------------------+           |
|                 |            |  content              |           |
|   left-panel    |            | +-------------------+ |           |
|                 |            | |   logo            | |           |
|                 |            | |                   | |           |
|                 |            | +-------------------+ |           |
|                 |            | |   info            | |           |
|                 |            | +-------------------+ |           |
|                 |            | |                   | |           |
|                 |            | |   content-form    | |           |
|                 |            | |                   | |           |
|                 |            | |                   | |           |
|                 |            | |                   | |           |
|                 |            | |                   | |           |
|                 |            | +-------------------+ |           |
|                 |            +-----------------------+           |
|                 |                                                |
+-----------------+------------------------------------------------+
|             footer                                               |
|                                                                  |
+------------------------------------------------------------------+

 */
.grid-container {
    /**
  +-------------------------+
  |                         |
  |                         |
  |                         |
  |      main               |
  |                         |
  |                         |
  |                         |
  +-------------------------+
  |      footer             |
  +-------------------------+
  */
    display: grid;
    grid-template: "main" 1fr "footer" 40px / 1fr;
}

.grid-container .main {
    /**
      +-------+------------------+
      |       |                  |
      |       |                  |
      | left- |   right-panel    |
      | panel |                  |
      |       |                  |
      |       |                  |
      |       |                  |
      |       |                  |
      |       |                  |
      +-------+------------------+
       */
    grid-area: main;
    display: grid;
    grid-template: "left-panel right-panel" 1fr / 30% 1fr;
}

.grid-container .main .left-panel {
    grid-area: left-panel;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container .main .right-panel {
    /**
        +--------------------+
        |                    |
        |                    |
        |                    |
        |                    |
        |      +-------+     |
        |      |content|     |
        |      |       |     |
        |      |       |     |
        |      |       |     |
        |      +-------+     |
        |                    |
        |                    |
        |                    |
        +--------------------+
         */
    grid-area: right-panel;
    display: grid;
    grid-template: ". .       ." minmax(75px, 1fr) ". content ." auto ". .       ." minmax(0px, 1fr) / 1fr 500px 1fr;
}

.grid-container .main .right-panel .content {
    /**
          +--------------------+
          |  logo              |
          |                    |
          +--------------------+
          |  info              |
          +--------------------+
          |  content-form      |
          |                    |
          |                    |
          |                    |
          |                    |
          |                    |
          |                    |
          |                    |
          +--------------------+
           */
    grid-area: content;
    display: grid;
    grid-template: "logo" 70px "info" 50px "content-form" 1fr / 1fr;
    grid-row-gap: 20px;
}

.grid-container .main .right-panel .content .logo-grid {
    grid-area: logo;
    display: flex;
    justify-content: center;
}

.grid-container .main .right-panel .content .logo-grid img {
    height: 70px;
}

.grid-container .main .right-panel .content .info-grid {
    grid-area: info;
    text-align: center;
}

.grid-container .main .right-panel .content .content-form-grid {
    grid-area: content-form;
}

.grid-container .footer {
    grid-area: footer;
}

.form-entry-grid {
    display: grid;
    grid-template: ".   input" 1fr / 33% 1fr;
    grid-column-gap: 20px;
}

.form-entry-grid label {
    display: inline-flex;
    align-items: center;
}

.form-entry-grid .input-grid {
    grid-area: input;
}
