<label [innerText]="messages.CLASSIFICATION_LABEL"></label>
<ng-select (change)="change.emit()"
           [(ngModel)]="classification"
           (ngModelChange)="classificationChange.emit(classification)"
           [clearAllText]="waCommonMessages.CLEAR_ALL"
           [items]="classificationList"
           [ngClass]="additionalClasses()"
           [ngModelOptions]="{ standalone : true }"
           [notFoundText]="waCommonMessages.NO_RESULT"
           bindLabel="name"
           class="ls-select ls-select-tree ls-select-tree-with-header"
           groupBy="parent_name"
           placeholder="{{messages.CLASSIFICATION_PLACEHOLDER}}">

  <ng-template let-item="item" ng-option-tmp>
    <div class="leaf">
      <span class="before before-classif"></span>
      <span [innerText]="item.name" class="ls-select-tree-content"></span>
    </div>
  </ng-template>
</ng-select>
