<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>
  <wa-button (btnClick)="structuresImport()"
             [disabled]="loading"
             [title]="messages.IMPORT_ORGANIZATION_BUTTON_TITLE">
  </wa-button>
</div>

<wa-table [elements]="organizationsAndStructuresList"
          [tbody]="tbody"
          [theader]="theader"
          (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadStructures()"
          [pagination]="pagination">
</wa-table>

<ng-template #theader>
  <th [innerText]="'Nom'" class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td [innerText]="element?.business_name" class="col"></td>
</ng-template>
