<div *ngIf="fileEditing==true">
  <div #modalOffice id="modalOffice">
    <div id="modalOfficeClose">
      <wa-button (btnClick)="closeEditor()"
                 additionalClasses="modalOfficeCloseBtn"
                 [colorOnHover]="true"
                 [iconSize]="'large'"
                 [icon]="commonIcons.CLOSE_ICON"
                 [onlyIcon]="true"
                 [style]="style.DANGER"
                 [title]="commonMessages.CLOSE">
      </wa-button>
    </div>
    <div style="display: inline-block;">
      <form #officeForm
            method="POST"
            target="collabora-iframe"
            [action]="actionUrl"
            id="officeForm">
        <input name="access_token" type="hidden" [value]="accessToken">
      </form>
      <iframe #officeFrame [height]="iframeHeight" [width]="iframeWidth" id="collabora-iframe" name="collabora-iframe">
      </iframe>
    </div>
  </div>
</div>
