:host ::ng-deep #modalOffice {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*:host ::ng-deep #officeFrame {*/
/*  margin-top: 100px;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  border: none;*/
/*  display: block;*/
/*}*/

:host ::ng-deep #modalOfficeClose {
  position: absolute;
  top: 5px;
  right: 5px;
}

:host ::ng-deep .modalOfficeCloseBtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
}


