<label [innerText]="messages.SIGN_PROJECT_MODAL_DATE_INPUT_LABEL" for="signingDate"></label>

<div [ngClass]="{'showing' : isCalendarShowing()}"
     class="input-group ls-input ls-small-input ls-datepicker-input">
  <input #dateModel="ngModel" #datePicker="ngbDatepicker"
         (click)="datePicker.toggle()"
         (ngModelChange)="OnChange($event)"
         [(ngModel)]="selectedDate"
         [dayTemplate]="customDay"
         [markDisabled]="isInFuture"
         [required]="true" class="form-control" id="signingDate"
         name="datePicker"
         ngbDatepicker
         placeholder="{{messages.SIGN_PROJECT_MODAL_DATE_INPUT_PLACE_HOLDER}}"
         type="text"/>
  <span (click)="datePicker.toggle()" [ngClass]="commonIcons.CALENDAR_ICON" class="ls-input-icon"></span>
</div>

<ng-template #customDay
             let-currentMonth="currentMonth"
             let-date
             let-disabled="disabled"
             let-focused="focused"
             let-selected="selected">
  <div class="btn-light ng-star-inserted">
    <span [class.focused]="focused" [class.selected]="selected"
          [class.text-muted]="disabled || date.month !== currentMonth"
          class="custom-day">{{ date.day }}
    </span>
  </div>
</ng-template>
