<wa-update-classification *ngIf="isShowingUpdateClassification"></wa-update-classification>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)" id="searchBar"></wa-search-bar>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadProjects()"
          [commonActions]="commonActions"
          [elements]="projects"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <ng-container [ngSwitch]="displayState">
    <ng-template [ngSwitchCase]="projectDisplayState.TO_BE_TRANSMITTED">
      <th class="col-auto state-icn-container">
        <span [innerText]="waCommonMessages.STATE"></span>
      </th>
      <th [innerText]="waCommonMessages.CODE_ACT" class="col-2"></th>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col"></th>
      <th [innerText]="waCommonMessages.CLASSIFICATION" class="col-1"></th>
      <th [innerText]="waCommonMessages.MAIN_DOC_TYPE" class="col-1"></th>
      <th [innerText]="waCommonMessages.MULTICHANNEL" class="col-1"></th>
      <th [innerText]="waCommonMessages.ANNEXES" class="col-1"></th>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.TRANSMISSION_READY">
      <th class="col-auto state-icn-container">
        <span [innerText]="waCommonMessages.STATE"></span>
      </th>
      <th [innerText]="waCommonMessages.CODE_ACT" class="col-2"></th>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col"></th>
      <th [innerText]="waCommonMessages.TYPE_ACT" class="col-2"></th>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.ACT">
      <th class="col-auto state-icn-container">
        <span [innerText]="waCommonMessages.STATE"></span>
      </th>
      <th [innerText]="waCommonMessages.CODE_ACT" class="col-2"></th>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col"></th>
      <th [innerText]="waCommonMessages.TYPE_ACT" class="col-2"></th>
    </ng-template>

    <ng-template ngSwitchDefault>
      <th [innerText]="waCommonMessages.ACT_NAME" class="col"></th>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #tbody let-element>
  <ng-container [ngSwitch]="displayState">
    <ng-template [ngSwitchCase]="projectDisplayState.TO_BE_TRANSMITTED">
      <td class="col-auto state-icn-container">
        <div class="state-icn">
          <span
            [ngClass]="getIconForState(element?.stateact)"
            ngbTooltip="{{element?.stateact?.name}}"
            placement="top">
          </span>
        </div>
      </td>
      <td [innerText]="actsService.isCodeActOK(element) ? element.codeAct : waCommonMessages.MISSING_INFO"
          [ngClass]="actsService.isCodeActOK(element) ? '' : stylesConstants.getWarningStyleClass()"
          class="col-2"></td>
      <td class="col">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ActsBreadcrumbs.PathBreadcrumb.get(routingPaths.TELETRANSMISSION_TO_BE_SEND_TO_TDT_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td
        [innerText]="actsService.isClassificationOK(element) ? element.classification.name : waCommonMessages.MISSING_INFO"
        [ngClass]="actsService.isClassificationOK(element) ? '' : stylesConstants.getWarningStyleClass()"
        class="col-1"></td>
      <td
        [innerText]="actsService.isMainDocOk(element) ? element.mainDocument.documentType.name : waCommonMessages.MISSING_INFO"
        [ngClass]="actsService.isMainDocOk(element) ? '' : stylesConstants.getWarningStyleClass()"
        class="col-1"></td>
      <td [innerText]="element?.isMultichannel ? commonMessages.YES : commonMessages.NO"
          class="col-1"></td>
      <td class="col-1">
        <div [placement]="'bottom-right'" class="d-inline-block inner-dropdown" ngbDropdown>
          <button class="btn btn-outline-primary" ngbDropdownToggle>
            <span [ngClass]="actsService.isAnnexesOK(element) ? '' : stylesConstants.getWarningStyleClass()"
                  class="bubble">{{ element?.annexes?.length }}</span>
          </button>
          <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
            <span *ngFor="let annexe of element?.annexes" ngbDropdownItem>{{ annexe.name }}</span>
            <span *ngIf="element?.annexes.length === 0" ngbDropdownItem>Aucune annexe</span>
          </div>
        </div>
      </td>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.TRANSMISSION_READY">
      <td class="col-auto state-icn-container">
        <div class="state-icn">
          <span
            [ngClass]="getIconForState(element?.stateact)"
            ngbTooltip="{{element?.stateact?.name}}"
            placement="top">
          </span>
        </div>
      </td>
      <td [innerText]="element.codeAct" class="col-2"></td>
      <td class="col">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ActsBreadcrumbs.PathBreadcrumb.get(routingPaths.TELETRANSMISSION_TO_BE_SEND_TO_PREFECTURE_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td [innerText]="element.typeAct.name" class="col-2"></td>
    </ng-template>

    <ng-template [ngSwitchCase]="projectDisplayState.ACT">
      <td class="col-auto state-icn-container">
        <div class="state-icn">
          <span
            [ngClass]="getIconForState(element?.stateact)"
            ngbTooltip="{{element?.stateact?.name}}"
            placement="top">
          </span>
        </div>
      </td>
      <td [innerText]="element.codeAct" class="col-2"></td>
      <td class="col">
        <wa-table-row-action
          [action]="projectActionItemFactory.getActionItem(ProjectAction.SHOW_PROJECT,
          ActsBreadcrumbs.PathBreadcrumb.get(routingPaths.ACTS_PATH_LIST_PATH))"
          [item]="element"></wa-table-row-action>
      </td>
      <td [innerText]="element.typeAct.name" class="col-2"></td>
    </ng-template>

    <ng-template ngSwitchDefault>
      <td [innerText]="element?.name" class="col"></td>
    </ng-template>
  </ng-container>
</ng-template>
