<div>
  <ngb-datepicker (click)="pickerClicked()"
                  [(ngModel)]="dateModel"
                  [dayTemplate]="customDay">
  </ngb-datepicker>
</div>

<ng-template #customDay
             let-currentMonth="currentMonth"
             let-date
             let-disabled="disabled"
             let-focused="focused"
             let-selected="selected">
  <span [class.bg-primary]="selected" [class.busy]="isSitting(date)" [class.focused]="focused"
        [class.text-muted]="disabled || date.month !== currentMonth"
        [innerText]="date.day"
        class="custom-day">
  </span>
</ng-template>

<ul class="wa-sittings">
  <li *ngFor="let sitting of selectedSittings">
    <span [innerText]="sitting.formatedTime" class="wa-date text-primary"></span>
    <span [innerText]="sitting.typesitting.name" class="wa-type-sitting"></span>
  </li>
</ul>
