:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ul.wa-sittings {
    margin-top: 1rem;
    list-style-type: none;
    padding-inline-start: 0;

    li > * {
      display: block;
    }

    .wa-type-sitting {
      padding-left: 1rem;
      font-size: 0.9rem;

      &::before {
        content: "-\00a0";
      }
    }

  }
}
