<wa-modal-header [activeModal]="activeModal"
                 [title]="theme.id ? messages.UPDATE_THEME : messages.CREATE_NEW_THEME">
</wa-modal-header>

<div class="modal-body">
  <form class="ls-form">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group required">
          <label [innerText]="messages.THEME_NAME" for="name"></label>
          <input [(ngModel)]="theme.name"
                 (ngModelChange)="checkRequiredFields()"
                 autofocus
                 class="form-control"
                 id="name"
                 maxlength="80"
                 name="name"
                 placeholder="{{messages.THEME_NAME_PLACE_HOLDER}}"
                 type="text"
                 tabindex="1">
        </div>

        <div class="form-group">
          <label [innerText]="messages.PARENT_THEME" for="parent"></label>
          <ng-select [(ngModel)]="parent"
                     (change)="getParentPositionMessage()"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [clearable]="true"
                     [items]="themeList"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     class="input-group ls-select"
                     id="parent"
                     name="parent"
                     placeholder="{{messages.MAIN_THEME_PLACE_HOLDER}}"
                     tabindex="2">
            <ng-template let-item="item" ng-option-tmp>
              {{item.name}}
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.SORT_CRITERIA_NAME" for="position"></label>
          <wa-panel *ngIf="parent" [text]="parentPositionMessage"></wa-panel>
          <input [(ngModel)]="theme.position"
                 (ngModelChange)="checkRequiredFields()"
                 class="form-control"
                 id="position"
                 maxlength="80"
                 name="position"
                 placeholder="{{messages.SORT_CRITERIA_PLACE_HOLDER}}"
                 type="text"
                 tabindex="3">
          <div [innerHTML]="positionSpecialCharactersMessage" class="ls-error-message text-danger"></div>
          <div [innerHTML]="duplicatedPositionErrorMessage" class="ls-error-message text-danger"></div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-7">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>

        <wa-button (btnClick)="createOrUpdateTheme()"
                   [disabled]="isSubmitDisabled"
                   [icon]="commonIcons.SAVE_ICON"
                   [processing]="isSubmitting"
                   [title]="messages.SAVE_THEME"
                   tabindex="4">
        </wa-button>
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>
