<div class="col ls-form readonly">
  <wa-table [elements]="[fakeVote]" [inner]="true" [tbody]="tbody" [theader]="theader">
  </wa-table>
  <ng-template #theader>
    <th [innerText]="voteMessages.HEADER_TITLE_ACTFOR" class="col"></th>
  </ng-template>
  <ng-template #tbody disabled="true">
    <td class="col-1">
      <input
        [(ngModel)]="takeAct"
        (ngModelChange)="onValueChange()"
        [value]="true"
        label="Oui"
        id="prendre_acte_oui"
        type="checkbox">
      <label for="prendre_acte_oui">{{voteMessages.LABEL_YES}}</label>
    </td>
  </ng-template>
</div>
