<ul>
  <li *ngFor="let item of projectHistory" class="entry">
    <div class="title">
      <span [ngClass]="getIcon(item.type)+' '+getIconColor(item.type)" class="icon"></span>
      <span [innerText]="messages.getDescription(item.type)"></span>
    </div>
    <div [innerText]="messages.getDetails(item)" class="detail"></div>
  </li>
</ul>
