ul {
  padding-inline-start: 0;
}

.entry {
  display: flex;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .title {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    margin-right: 1rem;
    flex-shrink: 0;
  }

  .detail {
    font-size: smaller;
  }

  .icon {
    margin-right: 1rem;
    width: 1rem;
    text-align: center;
  }
}
