<nav *ngIf="breadcrumb?.length" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li *ngFor="let item of breadcrumb;" class="breadcrumb-item">
      <div *ngIf="!item.location" [innerText]="item.name"></div>
      <a *ngIf="item.location" [innerText]="item.name" [routerLink]="'/' + item.location"></a>
    </li>
  </ol>
</nav>
<h1 *ngIf="title" [innerText]="title"></h1>
<h2 *ngIf="subTitle" [innerText]="subTitle"></h2>
<router-outlet></router-outlet>
