<div *ngFor="let actionItemsSet of actionItemsSets"
     [ngClass]="'ls-action-bar btn-group btn-group-lg'"
     class="common-actions"
     role="group">
  <wa-button (done)="sendResult($event)"
             *ngFor="let item of actionItemsSet.actionItems"
             [action]="item"
             [argument]="arguments"
             [disabled]="!item.enabled || !item.actionValidator?.isActionValid(arguments)"
             [iconSize]="'large'"
             [icon]="item.icon"
             [onlyIcon]="!item.fullButton"
             [style]="item.style"
             [title]="item.name"
             [weight]="weight.SECONDARY"
             id="{{item.name | toSnakeCase}}-common"
             waActionable>
  </wa-button>
</div>
