:host {
  margin: 0.2rem 0.2rem 1rem;
  display: flex;
  $wa-space-between-toolbars: 1rem;

  .btn-group:not(:last-child) {
    margin-right: $wa-space-between-toolbars;

    &:after {
      content: "";
      background: lightgray;
      position: absolute;
      bottom: 30%;
      right: calc(-0.5 * #{$wa-space-between-toolbars});
      height: 40%;
      width: 1px;
    }
  }
}
