<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<wa-table [commonActions]="[]"
          [elements]="roles"
          [singleActionsOthers]="[]"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerText]="'Nom du profil'" class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td [innerText]="element.name" class="col"></td>
</ng-template>
