.alert {
    padding: 5px 15px 5px 15px;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.alert.alert-error {
    color: #ea463a;
    background-color: #f9cfcf;
    border-color: #ea463a
}

.alert.alert-info {
    color: #3586C3;
    background-color: #EBF7FF;
    border-color: #B1DFFF;
}

.alert.alert-success {
    color: #47aa5a;
    background-color: #c7f2cd;
    border-color: #47aa5a
}

.alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #856404
}

.alert.alert-left-align {
    justify-content: left
}

.alert.alert-left-align i {
    padding: 0 15px 0 5px
}

.alert.fixed-message {
    position: absolute;
    top: 15px;
    left: 10%;
    right: 10%
}

.alert i {
    font-size: 25px !important
}

.alert span {
    text-align: left;
    padding-left: 30px
}

footer {
    background-color: #222;
    color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center
}

footer .application-list {
    display: inline-flex;
    padding: 0;
    margin: 0 17px 0 17px
}

footer .application-list li {
    list-style: none;
    margin: auto 4px auto auto
}

footer .application-list li a {
    height: 24px;
    background: url(../images/login-sprites.png) no-repeat;
    text-indent: -5000px;
    display: inline-block;
    margin: auto;
    border: 0;
    padding: 0;
    width: 24px;
    opacity: .4
}

footer .application-list li a.active, footer .application-list li a:hover {
    opacity: 1
}

footer #asalae {
    background-position: 0 0
}

footer #idelibre {
    background-position: -24px 0
}

footer #iparapheur {
    background-position: -48px 0
}

footer #pastell {
    background-position: -72px 0
}

footer #s2low {
    background-position: -96px 0;
    width: 28px
}

footer #webdpo {
    background-position: -124px 0
}

footer #webdelib {
    background-position: -148px 0
}

footer #webgfc {
    background-position: -174px 0
}

footer #libriciel {
    background-position: -198px 0;
    width: 188px
}

input {
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    transition-duration: .2s
}

input:focus {
    box-shadow: 0 0 4px 1px #8ec7f1;
    border-color: #8ec7f1
}

input:not([type=checkbox]) {
    height: 30px;
    width: calc(100% - 10px)
}

input::-ms-clear, input::-ms-reveal {
    display: none
}

button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 34px;
    padding: 0 15px 0 10px;
    border-style: none;
    cursor: pointer;
    transition-duration: .2s
}

button i {
    font-size: 20px !important;
    padding-right: 7px
}

button.btn-default {
    background-color: #42a1e8;
    color: #fff
}

button.btn-default:hover {
    background-color: #187bc5
}

button.btn-default:active {
    box-sizing: border-box;
    box-shadow: 0 0 0 4px #125f98 inset;
    background-color: #156daf
}

.input-group {
    position: relative;
    height: 34px
}

.input-group span {
    position: absolute;
    background-color: #222;
    color: #fff;
    height: 99%;
    width: 36px;
    border-radius: 5px 0 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.input-group input {
    padding-left: 42px;
    width: calc(100% - 42px)
}

.input-group .visibility {
    position: absolute;
    transition-duration: .1s;
    color: #6f6f6f;
    right: 7px;
    top: 7px;
    font-size: 17px
}

.input-group .visibility:hover {
    cursor: pointer;
    color: #222
}

.input-group .visibility + input {
    padding-right: 32px;
    width: calc(100% - 42px - 31px)
}

body {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    min-height: 100vh;
    height: 100px
}

a {
    color: #42a1e8;
    text-decoration: none;
    height: 34px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    transition-duration: .1s;
    padding: 0 10px 0 10px
}

a:hover {
    background-color: #e1f0fb
}

a i {
    padding-right: 5px
}

.left-panel {
    background-color: #f7f7f7;
    flex-direction: column
}

.left-panel p {
    text-align: center;
    padding: 0 30px 0 30px
}

.login-form-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
    -ms-grid-columns: 1fr;
    grid-template:"username" 1fr "password" 1fr "remember" 1fr "confirm" 1fr/1fr;
    grid-row-gap: 20px
}

.login-form-grid .username-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: username
}

.login-form-grid .password-grid {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: password
}

.login-form-grid .remember-grid {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: remember
}

.login-form-grid .form-confirm-grid {
    -ms-grid-row: 7;
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: confirm;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 20px auto 20px auto;
    grid-template:".  forgot button" 1fr/1fr auto auto;
    grid-column-gap: 20px
}

.login-form-grid .form-confirm-grid .forgot-password-grid {
    display: flex;
    align-items: center;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: forgot
}

.login-form-grid .form-confirm-grid .confirm-button-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: button
}

.forgot-password-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto;
    -ms-grid-columns: 1fr;
    grid-template:"message" auto "username" auto "info" auto "confirm" auto/1fr;
    grid-row-gap: 20px
}

.forgot-password-grid .message-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: message
}

.forgot-password-grid .user-or-mail-grid {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: username
}

.forgot-password-grid .content-info-grid {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: info;
    display: flex;
    align-items: center
}

.forgot-password-grid .form-confirm-grid {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: confirm;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.update-password-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 20px auto 20px auto;
    -ms-grid-columns: 1fr;
    grid-template:"new-password" auto "confirm-password" auto "confirm" auto/1fr;
    grid-row-gap: 20px
}

.update-password-grid .password-new-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: new-password
}

.update-password-grid .password-confirm-grid {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: confirm-password
}

.update-password-grid .form-confirm-grid {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: confirm;
    display: flex;
    align-items: center;
    justify-content: right
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 40px;
    -ms-grid-columns: 1fr;
    grid-template:"main" 1fr "footer" 40px/1fr
}

.grid-container .main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: main;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 30% 1fr;
    grid-template:"left-panel right-panel" 1fr/30% 1fr
}

.grid-container .main .left-panel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left-panel;
    display: flex;
    align-items: center;
    justify-content: center
}

.grid-container .main .right-panel {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: right-panel;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(75px, 1fr) auto minmax(0, 1fr);
    -ms-grid-columns: 1fr 500px 1fr;
    grid-template:". .       ." minmax(75px, 1fr) ". content ." auto ". .       ." minmax(0, 1fr)/1fr 500px 1fr
}

.grid-container .main .right-panel .content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 70px 20px 50px 20px 1fr;
    -ms-grid-columns: 1fr;
    grid-template:"logo" 70px "info" 50px "content-form" 1fr/1fr;
    grid-row-gap: 20px
}

.grid-container .main .right-panel .content .logo-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    display: flex;
    justify-content: center
}

.grid-container .main .right-panel .content .logo-grid img {
    height: 70px
}

.grid-container .main .right-panel .content .info-grid {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: info;
    text-align: center
}

.grid-container .main .right-panel .content .content-form-grid {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: content-form
}

.grid-container .footer {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: footer
}

.form-entry-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 33% 20px 1fr;
    grid-template:".   input" 1fr/33% 1fr;
    grid-column-gap: 20px
}

.form-entry-grid label {
    display: inline-flex;
    align-items: center
}

.form-entry-grid .input-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: input
}
