<wa-modal-header [activeModal]="activeModal"
                 [title]="sequence.id ? messages.UPDATE_SEQUENCE : messages.CREATE_SEQUENCE">
</wa-modal-header>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <form class="ls-form" [formGroup]="sequenceForm">
        <div class="form-group required">
          <label [innerText]="messages.NEW_SEQUENCE_NAME" for="name"></label>
          <input class="form-control"
                 formControlName="name"
                 id="name"
                 maxlength="80"
                 name="name"
                 placeholder="{{messages.NEW_SEQUENCE_NAME_PLACE_HOLDER}}"
                 required
                 type="text">
          <div *ngIf="sequenceForm.controls['name']?.errors?.duplicatedName && sequenceForm.controls['name'].dirty"
               [innerHTML]="messages.SEQUENCE_DUPLICATE_NAME"
               class="ls-error-message text-danger"></div>
          <div *ngIf="sequenceForm.controls['name']?.errors?.required && sequenceForm.controls['name'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group">
          <label [innerText]="messages.COMMENT" for="comment"></label>
          <input class="form-control"
                 formControlName="comment"
                 id="comment"
                 maxlength="80"
                 name="comment"
                 placeholder="{{messages.NEW_SEQUENCE_COMMENT_PLACE_HOLDER}}"
                 type="text">
        </div>

        <div class="form-group required">
          <label [innerText]="messages.SEQUENCE_NUM" for="sequence_num"></label>
          <input class="form-control"
                 formControlName="sequence_num"
                 id="sequence_num"
                 maxlength="80"
                 min="0"
                 name="sequence_num"
                 placeholder="{{messages.NEW_SEQUENCE_NUM_PLACE_HOLDER}}"
                 required
                 type="number">
          <div
              *ngIf="sequenceForm.controls['sequence_num']?.errors?.pattern && sequenceForm.controls['sequence_num'].dirty"
              [innerHTML]="messages.SEQUENCE_FORMAT_ERROR"
              class="ls-error-message text-danger"></div>
          <div
              *ngIf="sequenceForm.controls['sequence_num']?.errors?.required && sequenceForm.controls['sequence_num'].dirty"
              [innerHTML]="commonMessages.REQUIRED_FIELD"
              class="ls-error-message text-danger"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-12">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>
        <wa-button (btnClick)="addOrUpdateSequence()"
                   [disabled]="sequenceForm.invalid"
                   [icon]="sequence.id ? commonIcons.SAVE_ICON : commonIcons.CREATE_ICON"
                   [processing]="isSubmitting"
                   [title]="sequence.id ? messages.SEQUENCE_UPDATE : messages.SEQUENCE_ADD"
                   tabindex="4">
        </wa-button>
      </div>
    </div>
  </div>
</div>
