@import '_wa_variables';

// Bootstrap
$btn-disabled-opacity: 0.45;

$font-family-sans-serif: Ubuntu, sans-serif;
$text-muted: $wa-font-color-extra-light;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-inner-padding: 1rem;
$modal-header-padding-y: 1rem;
$modal-header-padding-x: 1rem;
$modal-content-border-radius: 0;

$table-bg: $wa-table-background-color;
$table-accent-bg: $wa-white;
$table-striped-bg: var(--bs-ls-grey-50);
$table-border-color: var(--bs-ls-grey-200);
$table-cell-padding-y: .75rem;
$table-cell-padding-x: .75rem;

$breadcrumb-divider: quote("/");
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: none;
$breadcrumb-item-padding: 0.3rem;
$breadcrumb-divider-color: var(--bs-ls-grey-500);

$form-group-margin-bottom: 1.5rem;
$input-focus-box-shadow: $wa-form-input-box-shadow-focused;
$input-border-color: $wa-input-border-color;
$input-group-addon-bg: var(--bs-ls-grey-100);
$input-group-addon-border-color: $input-border-color;
$input-group-addon-color: $wa-input-icon-color;
