@import 'wa_variables';

.wa-tree-select {
  &.in-modal {
    tree-viewport {
      height: 60vh;
    }
  }

  tree-viewport tree-node {
    .tree-node {
      padding-left: 1rem;
    }

    &:nth-child(even) .tree-node-level-1 {
      background-color: $wa-grey-light;
    }

    &:not(:first-child) .tree-node-level-1 {
      border-top: 1px solid $wa-grey-light;
    }
  }
}


.node-content-wrapper, .tree-children {
  position: relative;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid $wa-grey-light;
  border-left: 1px solid $wa-grey-light;
  height: 28px;
  top: -17px;
  width: 15px;
  left: -45px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid $wa-grey-light;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}
