@import '_wa_variables';

@mixin wa-card {
  background-color: $wa-white;
  box-shadow: $wa-box-shadow;
  border: none;
}

@mixin wa-card-light {
  background-color: $wa-white;
  box-shadow: $wa-box-shadow-light;
  border: none;
}

@mixin wa-step-icn {
  background-repeat: no-repeat;
  background-position: center;
  width: 1.2rem;
  height: 1.2rem;
}

@mixin wa-main-content {
  @include wa-card;
  padding: $wa-inner-padding;
  margin-top: $wa-inner-main-content-top-margin;
  display: block;
}
