// Colors
$wa-white: var(--bs-white);
$wa-black: var(--bs-gray-dark);
$wa-grey: var(--bs-ls-grey-200);
$wa-grey-light: var(--bs-ls-grey-50);
$wa-grey-dark: var(--bs-gray-dark);

$wa-primary-50: var(--bs-ls-primary-50);
$wa-primary-50-font: var(--bs-ls-dark);
$wa-primary-100: var(--bs-ls-primary-100);
$wa-primary-100-font: var(--bs-ls-dark);
$wa-primary-200: var(--bs-ls-primary-200);
$wa-primary-200-font: var(--bs-ls-dark);
$wa-primary-300: var(--bs-ls-primary-300);
$wa-primary-300-font: var(--bs-ls-dark);
$wa-primary-400: var(--bs-ls-primary-400);
$wa-primary-400-font: var(--bs-ls-dark);
$wa-primary-500: var(--bs-ls-primary-500);
$wa-primary-500-font: var(--bs-white);
$wa-primary-600: var(--bs-ls-primary-600);
$wa-primary-600-font: var(--bs-white);
$wa-primary-700: var(--bs-ls-primary-700);
$wa-primary-700-font: $wa-black;
$wa-primary-800: var(--bs-ls-primary-800);
$wa-primary-800-font: $wa-black;
$wa-primary-900: var(--bs-ls-primary-900);
$wa-primary-900-font: $wa-black;

$wa-primary: $wa-primary-600;
$wa-primary-light: $wa-primary-300;
$wa-primary-light-transparent: rgba(12, 150, 68, 0.25); // primary-300 0.25
$wa-primary-extra-light: $wa-primary-200;
$wa-primary-extra-light-transparent: rgba(172, 241, 203, 0.5); // primary-200 0.5
$wa-primary-extra-extra-light: $wa-primary-100;

$wa-secondary: var(--bs-secondary);

$wa-warning-font-color: $wa-white;
$wa-warning-color: var(--bs-warning);
$wa-soft-warning-color: var(--bs-soft-warning);
$wa-danger-color: var(--bs-danger);
$wa-success-color: var(--bs-success);

$wa-font-color: $wa-black;
$wa-font-color-light: #A5A4A4;
$wa-font-color-extra-light: #d1d1d1d1;

$wa-info-font-color: var(--bs-ls-info-600);
$wa-tooltip-icon-font-color: var(--bs-ls-info-700);
$wa-tooltip-font-color: $wa-white;
$wa-tooltip-background-color: $wa-black;

$wa-font-weight-bold: 500;

$wa-body-background-color: var(--bs-ls-grey-50);

// Panels
$wa-panel-border-radius: 2px;
$wa-panel-margin-bottom: 0.5rem;
$wa-panel-v-padding: 0.5rem;
$wa-panel-h-padding: 1rem;

$wa-info-background-color: var(--bs-ls-info-50);
$wa-info-border: solid 1px var(--bs-ls-info-200);
$wa-danger-border: solid 1px var(--bs-ls-danger-200);
$wa-danger-background-color: var(--bs-ls-danger-50);
$wa-warning-border: solid 1px var(--bs-ls-warning-200);
$wa-warning-background-color: var(--bs-ls-warning-50);

$wa-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
$wa-box-shadow-light: 0 0 0.25rem rgba(0, 0, 0, 0.15);
$wa-box-shadow-strong: 0 0.5rem 0.25rem rgba(0, 0, 0, 0.30);

$wa-inner-padding: 1rem 2rem;
$wa-inner-main-content-top-margin: 1rem;

// Tables
$wa-table-background-color: $wa-white;
$wa-table-header-background-color: $wa-white;
$wa-tr-background-color-hover: $wa-primary-100;
$wa-tr-background-color-selected: $wa-primary-extra-light-transparent;
$wa-tr-background-color-selected-hover: $wa-primary-light-transparent;
$wa-table-action-button-color: $wa-primary-600;

$wa-table-action-background-color-hover: $wa-tr-background-color-selected-hover;
$wa-box-shadow-tr: $wa-box-shadow-light;

// Modals
$modal-lg: 900px;
$wa-modal-title-font-size: 1.5rem;
$wa-modal-title-margin-bottom: 0;
$wa-modal-title-color: $wa-black;
$wa-modal-box-shadow: $wa-box-shadow;
$wa-separation: 1px solid #ced4da;

// Actions buttons
$wa-actions-btns-padding: 1.75rem;
$wa-actions-btns-btn-margin-x: 1rem;

// Forms
$wa-input-icon-size: 1.25rem;
$wa-input-icon-color: var(--bs-ls-grey-700);
$wa-input-border-color: var(--bs-ls-grey-200);
$wa-form-label-font-size: 1.1rem;
$wa-form-required-font-size: 1.2em;
$wa-form-required-color: $wa-danger-color;
$wa-form-input-box-shadow-focused-error: 0 0 10px rgba(244, 67, 54, 0.5);

$wa-form-valid-input-color: $wa-primary;
$wa-form-active-input-color: $wa-primary-400;
$wa-form-input-box-shadow-focused: 0 0 10px rgba(73, 206, 130, 0.5); //$wa-primary-400;

// Breadcrumb
$wa-breadcrumb-color: $wa-primary;

// Body
$wa-min-content-width: 950px;
$wa-link-hover-color: $wa-primary-800;

// Fonts
$wa-paragraph-font-size: 0.9rem;
