@import '_wa_variables';

body {
  background: $wa-body-background-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
    color: $wa-link-hover-color;
  }
}

.popover.wa-circuit-edition {
  margin-left: 3.5rem;
  max-width: 20rem;
  border: none;
  box-shadow: $wa-box-shadow-light;
}

.wa-primary {
  color: $wa-primary;
}

.wa-success {
  color: $wa-success-color;
}

.wa-warning {
  color: $wa-warning-color;
}

.wa-danger {
  color: $wa-danger-color;
}

.wa-panel {
  justify-content: left;
  border-radius: $wa-panel-border-radius;
  padding: $wa-panel-v-padding $wa-panel-h-padding;
  margin-bottom: $wa-panel-margin-bottom;
  width: fit-content;

  &.wa-info-panel {
    color: $wa-info-font-color;
    background-color: $wa-info-background-color;
    border: $wa-info-border;
  }

  &.wa-danger-panel {
    color: $wa-danger-color;
    background-color: $wa-danger-background-color;
    border: $wa-danger-border;
  }

  &.wa-warning-panel {
    color: $wa-warning-color;
    background-color: $wa-warning-background-color;
    border: $wa-warning-border;
  }
}

.wa-default-text {
  font-style: italic;
}

.wa-doc-secondary-info {
  color: var(--bs-ls-grey-600);
}
