@import '_wa_variables';

.ls-actions-bars {
  > * {
    &:not(:last-child) {
      margin-right: $wa-actions-btns-btn-margin-x;
    }
  }
}

.ls-actions-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  > a {
    white-space: nowrap;
  }

  > * {
    &:not(:last-child) {
      margin-right: $wa-actions-btns-btn-margin-x;
    }

    &.push-left {
      margin-right: auto;
    }

    &.push-right {
      margin-left: auto;
    }
  }

  &.ls-actions-bar-align-left, &.ls-actions-bar-main {
    justify-content: flex-start;
  }

  &.ls-actions-bar-align-right {
    justify-content: flex-end;
  }
}

.ls-actions-bar  ~ .ls-actions-bar {
  &:not(:first-child) {
    margin-left: $wa-actions-btns-btn-margin-x;
  }

  &:not(:last-child) {
    margin-right: $wa-actions-btns-btn-margin-x;
  }
}


.ls-small-buttons-bar {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  height: min-content;

  .btn, label {
    padding: 0;
    margin: 0;
  }
}

.btn {
  cursor: pointer;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    // Because of a bug in BS: https://stackoverflow.com/questions/50349017/how-can-i-change-cursor-for-disabled-button-or-a-in-bootstrap-4
    pointer-events: all !important;
  }

  &:not(.no-text-button) {
    span.far, span.fas, span.fa, wa-action-icon {
      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

.btn-link {
  color: $wa-primary-50-font;
  text-decoration: none;

  &:hover:not(:active) {
    text-decoration: none;
    color: $wa-primary-50-font;
    background-color: $wa-primary-extra-extra-light;
    border-color: $wa-primary-extra-extra-light;
  }

  &:active {
    border-color: $wa-primary-300;
  }
}

.wa-success-on-hover:hover, .btn.wa-success {
  color: $wa-success-color;
}

.wa-warning-on-hover:hover, .btn.wa-warning {
  color: $wa-warning-color;
}

.wa-danger-on-hover:hover, .btn.wa-danger {
  color: $wa-danger-color;
}

.wa-primary-on-hover:hover, .btn.wa-primary {
  color: $wa-primary;
}

.wa-secondary-on-hover:hover, .btn.wa-secondary {
  color: $wa-secondary;
}

.wa-icon {
  font-size: 1.3rem;
}
