@import 'wa_mixins';
@import '_wa_variables';

$ls-flex-size-around-link: 0 0 calc(50% - 2px);
$ls-flex-size-around-step: 0 0 5rem;
$ls-skipped-padding: 5rem;

.wa-horizontal-separation-line {
  margin-top: 2rem;
  border-bottom: solid 1px $wa-grey-dark;
}

.wa-circuit-endpoint {
  @include wa-card-light;

  display: grid;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.wa-circuit-endpoint-content {
  margin: auto;
  text-align: center;

  .wa-step-bounds-txt {
    color: $wa-primary;
    font-weight: bold;
  }

  .wa-circuit-endpoint-icn {
    color: $wa-primary;
  }

  &.not-active {
    .wa-step-bounds-txt, .wa-circuit-endpoint-icn {
      color: $wa-grey-dark;
    }
  }
}

.wa-circuit-end {
  position: relative;
}

.wa-circuit-link {
  width: 0;
  border: 1px solid $wa-black;
}

.wa-circuit-step {
  @include wa-card-light;

  width: 20rem;
  min-height: 6rem;

  .wa-step-top-line {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .wa-step-validator-list {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    color: $wa-grey-dark;
  }

  &.selected {
    box-shadow: $wa-box-shadow-strong;
  }
}

.wa-actual-validator {
  font-weight: bold;
}

.wa-emergency-validation {
  font-weight: bold;
  color: $wa-grey-dark;
}

.wa-emergency-validation-icon {
  color: $wa-primary;
  margin-right: 0.5rem;
}

.wa-comment-icon {
  color: $wa-primary;

  &:hover {
    color: $wa-primary-700;
  }
}

.ls-circuit-link-container {
  display: flex;
  flex-direction: row;

  min-height: 4rem;
  width: 50rem;

  // add a third element to have the link centered
  &::before {
    content: "";
    flex: $ls-flex-size-around-link;
  }

  .ls-link-button-container {
    flex: $ls-flex-size-around-link;
    align-self: center;
    height: min-content;
    width: min-content;
    padding-left: 1rem;
  }
}

.ls-circuit-step-container {
  align-self: center;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;

  &::before {
    content: "";
    flex: $ls-flex-size-around-step;
  }

  .wa-circuit-step {
    align-self: center;
  }

  .ls-circuit-step-external-buttons {
    padding-left: 1rem;
    height: min-content;
    flex: $ls-flex-size-around-step;
  }
}

.wa-circuit-step {
  .step-icn {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.ls-circuit-step-external-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .edit-step-btn {
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
      color: $wa-primary;
    }
  }

  .delete-step-btn {
    cursor: pointer;

    &:hover {
      color: $wa-danger-color;
    }
  }
}

.ls-circuit-canevas {
  grid-column: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin-top: 2rem;
}

.wa-circuit-display {

  .wa-circuit-step {
    padding-left: 0;
    padding-right: 0;

    .wa-step-validator-list {
      padding: 1rem 1rem 1rem 0.5rem;

      &.wa-circuit-instance {
        padding-left: 2rem;

        .wa-box-step-validator {
          position: relative;

          .wa-validation-action-icon {
            position: absolute;
            left: -1.5rem;
            top: calc(50% + -0.5rem);
          }
        }
      }
    }
  }

  .wa-step-top-line {
    justify-content: flex-start;
    padding-left: 0.5rem;

    .wa-active-step-icon {
      position: absolute;
      left: -2rem
    }

    .step-name {
      flex: 1;
      margin-left: 0.7rem;
    }
  }

  .wa-display-step-separator {
    width: 100%;
    border-bottom: solid 1px $wa-grey;
  }

  .ls-circuit-display-step-container {
    position: relative;

    .wa-skipped-step-info {
      margin-left: $ls-skipped-padding;
    }

    .wa-circuit-step.wa-circuit-skipped-step {
      margin-left: $ls-skipped-padding;
      position: relative;

      &:after {
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .wa-active-step {
    .wa-step-top-line {
      background-color: $wa-primary-600;
      color: $wa-white;
      margin: 0;

      .step-icn {
        color: $wa-white;
      }
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}


.wa-step-icn-simple {
  @include wa-step-icn;
  background-image: url('/assets/images/wa-step/green_simple.svg');
}

.wa-step-icn-concurrente {
  @include wa-step-icn;
  background-image: url('/assets/images/wa-step/green_concurrente.svg');
}

.wa-step-icn-collaborative {
  @include wa-step-icn;
  background-image: url('/assets/images/wa-step/green_collaborative.svg');
}


.wa-grey-icn {
  .wa-step-icn-simple {
    background-image: url('/assets/images/wa-step/grey_simple.svg');
  }

  .wa-step-icn-concurrente {
    background-image: url('/assets/images/wa-step/grey_concurrente.svg');
  }

  .wa-step-icn-collaborative {
    background-image: url('/assets/images/wa-step/grey_collaborative.svg');
  }
}

.wa-grey-icn {
  .btn {
    span.fa:not(:first-child) {
      margin-left: 0;
    }
  }
}

.wa-white-icn, .btn-outline-primary:not(:disabled):not(.disabled).active {
  .wa-step-icn-simple {
    background-image: url('/assets/images/wa-step/white_simple.svg');
  }

  .wa-step-icn-concurrente {
    background-image: url('/assets/images/wa-step/white_concurrente.svg');
  }

  .wa-step-icn-collaborative {
    background-image: url('/assets/images/wa-step/white_collaborative.svg');
  }
}
