@import '_wa_variables';
@import 'bootstrap_overrides';

ngb-datepicker {

  .ngb-dp-header, .ngb-dp-week {
    background-color: #fff !important;
  }

  .ngb-dp-week {
    border-bottom: none;
  }

  .ngb-dp-weekday {
    color: $wa-font-color;
    font-style: normal;
    font-weight: bold;
  }

  .ngb-dp-day:focus {
    outline: none;
  }

  .btn-light:not(:disabled):not(.disabled):active,
  .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle,
  .btn-light:hover {
    background-color: $wa-primary-extra-extra-light;
  }

  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0;
    display: inline-block;
    width: 2rem;
    background-color: white;


    &:hover, &.focused {
      background-color: $wa-primary-extra-extra-light;
    }

    &.selected {
      background-color: $wa-primary-extra-light
    }
  }

  .busy {
    background-color: $wa-primary-300;
    color: $wa-primary-300-font;
  }

  .hidden {
    display: none;
  }
}
