@import '_wa_variables';
@import 'bootstrap_overrides';

input[type=checkbox] {
  cursor: pointer;
}

input[type=radio] {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.ls-form, .wa-step-form {

  label:not(.btn) {
    font-weight: $wa-font-weight-bold;
    margin-bottom: 1.25rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .required label:not(.btn) {
    position: relative;
    margin-right: 0.5rem;

    &:before {
      content: " *";
      font-weight: normal;
      color: $wa-form-required-color;
      font-size: $wa-form-required-font-size;
      position: absolute;
      right: -0.8rem;
      top: -0.4rem;
    }
  }

  .ng-touched.ng-invalid:not(.ng-pristine), ng-select.ng-touched.ng-invalid:not(.ng-pristine) .ng-select-container {
    border-color: $wa-form-required-color;
    box-shadow: none;
  }

  .ng-invalid:focus:not(.ng-pristine) {
    border-color: $wa-form-required-color;
    box-shadow: $wa-form-input-box-shadow-focused-error;
  }

  // To remove default firefox behavior
  .ng-untouched:not(:focus) {
    box-shadow: none;
  }

  .input-group.ls-input {
    position: relative;

    &.ls-form-error input {
      border-color: $wa-form-required-color;
      box-shadow: none;
    }

    &.ls-small-input {
      width: 50%;

      & input {
        width: 100%;
      }
    }

    &.ls-datepicker-input {
      cursor: pointer;

      &.showing input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: $wa-form-input-box-shadow-focused;
        border: 1px solid $wa-form-active-input-color;
        border-bottom-style: none;
        padding-top: 4px;
      }

      ngb-datepicker {
        margin-top: 0;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        width: 100%;
      }
    }

    &.ng-touched.ng-valid input {
      border-color: $wa-form-valid-input-color;
    }

    &.ls-action-input {
      *, input {
        cursor: pointer;
      }
    }

    > .form-control, .ls-select, input {
      border-radius: 0.25rem;
    }

    .ls-input-icon, .input-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      margin-right: 0.5rem;
      font-size: $wa-input-icon-size;
      z-index: 3;
      pointer-events: none;
      color: $wa-font-color-light;
    }
  }

  .ls-btn-radio.btn-outline-secondary {
    color: var(--bs-body-color);
    border-color: $wa-input-border-color;
    background-color: transparent;
  }

  .form-group {
    .info {
      margin-left: 0.5rem;
      font-size: 1.2rem;
      color: $wa-tooltip-icon-font-color;
      cursor: pointer;
    }

    .file-field {
      background-color: $wa-grey-light;
    }

    .ls-error-message {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      white-space: normal;
    }

    ng-select {
      &.ng-touched.ng-valid {
        .ng-select-container {
          border-color: $wa-form-valid-input-color;
        }

        // mandatory because the line under are not taken into account because ng-touched.ng-valid
        // has a superior weight in a css mean then ng-select-focused and complexes selectors in not() is not supported
        &.ng-select-focused, &.ng-select-opened {
          .ng-select-container {
            box-shadow: $wa-form-input-box-shadow-focused;
            border-color: $wa-form-active-input-color;
          }
        }

      }

      &.ng-select-focused, &.ng-select-opened {
        .ng-select-container {
          box-shadow: $wa-form-input-box-shadow-focused;
          border-color: $wa-form-active-input-color;
        }
      }
    }

    :not(ng-select).ng-touched.ng-valid, :not(ng-select).ng-touched.ls-valid, .ls-touched.ls-valid input {
      border-color: $wa-form-valid-input-color;

      &:focus {
        box-shadow: $wa-form-input-box-shadow-focused;
        border-color: $wa-form-active-input-color;
      }
    }
  }

  &.readonly {
    .form-group {
      label {
        margin-bottom: 0.5rem;

        & ~ .value {
          display: block;
        }
      }
    }
  }
}

// ng-select theming
.ng-select.ls-select, .ls-select {
  border: 0;
  min-height: 0;
  border-radius: 0;

  &.ng-select-disabled {
    opacity: 0.5;

    .ng-select-container {
      &, .ng-value-container .ng-input > input {
        cursor: not-allowed;
      }
    }
  }

  .ng-select-container {
    min-height: 0;

    &, .ng-value-container .ng-input > input {
      cursor: pointer;
    }
  }

  &.ng-select-multiple .ng-select-container .ng-star-inserted:not(.ng-clear-wrapper) {
    background-color: $wa-primary-100;
  }

  .ng-dropdown-panel-items .ng-option {
    overflow: visible;
    background-color: $wa-white;
    white-space: normal;

    .root {
      z-index: 1;
      background-color: $wa-white;
    }
  }

  .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: $wa-primary-extra-extra-light;

    .root {
      background-color: $wa-primary-extra-extra-light;
    }
  }

  .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: $wa-grey-light;

    .root {
      background-color: $wa-grey-light;
    }
  }

  .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    background-color: $wa-primary-extra-light;

    .root {
      background-color: $wa-primary-extra-light;
    }
  }

  &.ls-select-multiline-options .ng-option {
    text-overflow: unset;

    span {
      white-space: normal;
    }
  }

  &.ls-select-tree {

    .ng-dropdown-panel-items .ng-option {
      overflow: visible;
    }

    .root, .leaf {
      position: relative;
    }

    .root {
      margin-left: 0.5rem;
    }

    .leaf-1 {
      margin-left: 1.5rem;
    }

    .leaf-2 {
      margin-left: 2.5rem;
    }

    .leaf-3 {
      margin-left: 3.5rem;
    }

    .leaf-4 {
      margin-left: 4.5rem;
    }

    .leaf-5 {
      margin-left: 5.5rem;
    }

    .leaf-6 {
      margin-left: 6.5rem;
    }

    .leaf-7 {
      margin-left: 7.5rem;
    }

    .leaf-8 {
      margin-left: 8.5rem;
    }

    .leaf-9 {
      margin-left: 9.5rem;
    }

    .leaf-10 {
      margin-left: 10.5rem;
    }

    .leaf {

      .ls-select-tree-content {
        margin-left: 0.5rem;
      }

      .before-classif {
        border-bottom: 1px solid $wa-black;
        border-left: 1px solid $wa-black;
      }

      .before {
        position: absolute;
        height: 2.5rem;
        top: -1.5rem;
        width: 1rem;
        left: -1rem;
      }
    }

    .ls-select-tree-content {
      z-index: 1;
    }

    &.ls-select-tree-with-header {

      .ng-optgroup {
        display: flex;
      }

      .ng-option-label {
        background-color: $wa-white;
        z-index: 1;
      }
    }
  }
}
