@import '_wa_variables';

.wa-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.wa-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $wa-primary;
  border-color: $wa-primary transparent $wa-primary transparent;
  animation: wa-dual-ring 1.2s linear infinite;
}

@keyframes wa-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
