@import "wa_mixins";

.wa-menu-tiles {
  margin-top: 2rem;
  > * {
    flex-basis: 200px;
  }
  .wa-menu-tile {
    @include wa-card;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
  }
}
