@import '_wa_variables';
@import 'bootstrap_overrides';

// Modals

.modal-dialog {

  .modal-body {
    padding: 0 2*$modal-inner-padding;

    &.fit-screen {
      max-height: 66vh;
      overflow-y: scroll;
    }

    .wa-panel {
      width: 100%;
      margin-bottom: $form-group-margin-bottom;
    }
  }

  // Separation for multiple columns modals
  form > .row > * {
    border-right: $wa-separation;

    &:last-child {
      border-right: 0;
    }
  }

  // No variables in bootstrap
  .modal-header .modal-title {
    color: $wa-modal-title-color;
    font-size: $wa-modal-title-font-size;
    margin-bottom: $wa-modal-title-margin-bottom;
  }

  .modal-content {
    box-shadow: $wa-modal-box-shadow;
    border: 0;
  }

  .form-group {
    label {
      font-size: $wa-form-label-font-size;
    }
  }

  .modal-footer {
    padding: 2*$modal-inner-padding;

    .footer-information {
      color: $wa-primary;
    }
  }
}
