@import 'wa_mixins';

main {
  overflow: auto;

  .container.ls-full-width {
    max-width: 100%;
  }
}

.main-content {
  p.text-indented {
    text-indent: 1.5rem;
  }

  h6 {
    font-weight: bold;
  }

  .article-content {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;

    .indented {
      padding-left: 1.5rem;
    }
  }

  &.separated-columns .row .col {
    border-right: $wa-separation;

    &:last-child {
      border-right: 0;
    }
  }
}

.wa-page {
  min-width: $wa-min-content-width;

  .main-content {
    @include wa-main-content;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .text-page {
    padding: 2rem;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      padding-bottom: 0.5rem;
      border-bottom: $wa-separation;
    }

    h3 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    p {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: $wa-paragraph-font-size;

      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }

  .breadcrumb {
    font-size: 0.7rem;
    color: $wa-breadcrumb-color;
  }

  ol.breadcrumb li:last-child {
    font-weight: bold;

    &:before {
      font-weight: normal;
    }
  }

  .ls-actions-bar {
    margin-bottom: 1.5rem;
  }
}

.wa-page-btn {
  margin-bottom: 1rem;
}

.content {
  padding-left: 1em;
}
