@import "wa_variables";

$wa-panel-background: $wa-white;


.wa-panel {
  background: $wa-panel-background;
  width: 100%;
  box-shadow: $wa-box-shadow;

  & .row > * {
    border-right: $wa-separation;
    padding: 2em;

    &:last-child {
      border-right: 0;
    }
  }

  .wa-panel-footer {
    border-top: $wa-separation;
    padding: 2em;

  }
}
