@import '_wa_variables';

wa-release-notes {

  .currentVersion {
    margin-bottom: 1rem;
    font-style: oblique;

    .version {
      font-style: normal;
      font-weight: bold;
      font-size: large;
    }
  }

  h4 {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }

  ul {
    &, & li {
      margin-left: 0;
      padding-left: 0;

      .part ul {
        list-style-type: disc;
        padding-left: 2rem;

        li {
          font-size: $wa-paragraph-font-size;

          &:last-child {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
