@import 'wa_mixins';

wa-stepper {
  .wa-step-form {
    @include wa-main-content;

    .ls-stepper-actions-btns {
      margin: 1rem 0;
    }
  }

  .step {
    .pos {
      background: $wa-primary;
      color: $wa-primary-500-font;
    }

    .name {
      color: $wa-primary;
    }

    &:not(.last):after, &:not(.first):before {
      background: $wa-primary;
    }
  }

  .fill {
    border-top-color: $wa-primary;
  }

  .active .pos {
    background: $wa-primary;
  }

  .active ~ .step {

    &:not(.first):before {
      background: $wa-primary-extra-light;
    }

    .name {
      color: $wa-primary-extra-light;
    }

    .pos {
      background: $wa-primary-extra-light;
    }
  }

  .active ~ .step, .active.step {
    &:not(.last):after {
      background: $wa-primary-extra-light;
    }
  }

  .active ~ .fill {
    border-top-color: $wa-primary-extra-light;
  }
}
