@import 'wa_mixins';

.ls-table {
  width: 100%;

  table {
    &:not(.inner-table) {
      box-shadow: $wa-box-shadow;
    }

    &.inner-table thead th {
      border-top: 0
    }

    .inner-dropdown .btn {
      color: $wa-black;
      border-color: var(--bs-ls-grey-300);
      margin-top: 10px;
      margin-bottom: 10px;

      .bubble {
        color: $wa-white;
        background-color: $wa-primary;
        line-height: 0.9rem;
        border-radius: 7px;
        font-weight: $wa-font-weight-bold;
        font-size: smaller;
        display: inline-block;
        width: 3ch;

        &.wa-warning {
          background-color: $wa-warning-color;
        }
      }
    }

    &.align-bottom-header th {
      display: flex;
      flex-direction: column-reverse;
    }

    thead {
      background: $wa-table-header-background-color;

      td, th, th > * {
        overflow-x: hidden;
        hyphens: auto;
      }
    }

    tbody {
      td, th {
        border: 0;
        hyphens: auto;
      }

      td.wa-warning {
        color: $wa-warning-color !important;
      }
    }

    &.with-highlights tbody {

      tr {
        position: relative;

        .wa-single-item-actions > *:hover {
          background-color: $wa-table-action-background-color-hover;
        }

        &:hover {
          z-index: 2;
          box-shadow: $wa-box-shadow-tr;
        }

        &.selected {
          background: $wa-tr-background-color-selected;

          &:not(:last-child) {
            box-shadow: inset 0 -1px $wa-white;

            &:hover {
              box-shadow: inset 0 -1px $wa-white, $wa-box-shadow-tr;
            }
          }

          .wa-single-item-actions > *:hover {
            background-color: $wa-tr-background-color-selected-hover;
          }
        }

        td.ls-action:hover input {
          cursor: pointer;
        }
      }
    }
  }

  .wa-single-item-actions, .wa-common-actions {

    .wa-dropdown .wa-menu-group .btn:hover {
      background-color: $wa-tr-background-color-hover;
    }

  }
}

.state-icn-container {
  display: flex;
  flex-direction: column;
  padding-right: 2.5em !important;
  padding-left: 2.5em !important;
  text-align: center;
}

.actionable:hover {
  color: $wa-primary;
}

.pointer {
  cursor: all-scroll;
}

//
//.tooltip {
//  opacity: 0.8 !important;
//}
