@import "wa_variables";
@import "wa_mixins";

$wa-tabs-shadow-length: 1rem;
$wa-tabs-background: $wa-white;

.wa-tabs {
  overflow: hidden;
  padding: $wa-tabs-shadow-length $wa-tabs-shadow-length 0;
  margin: (-$wa-tabs-shadow-length) (-$wa-tabs-shadow-length) 0;
  border: 0;

  .nav-item {
    margin: 0 0.25rem;

    &:first-child {
      margin-left: 0;
    }

    a {
      line-height: 2em;
      padding: 5px 10px 0;
      position: relative;
      z-index: 1;
      border: 0;
      border-radius: 0;
      color: $wa-font-color;
      background: $wa-grey-light;
      box-shadow: $wa-box-shadow;
      min-width: 10rem;
      text-align: center;
      text-decoration: none;

      &.disabled {
        color: $wa-font-color-light;
        cursor: not-allowed;
        // Because of a bug in BS: https://stackoverflow.com/questions/50349017/how-can-i-change-cursor-for-disabled-button-or-a-in-bootstrap-4
        pointer-events: all !important;
      }

      &.active {
        z-index: 3;
        background: $wa-tabs-background;
        font-weight: bold;
      }
    }
  }

}

.tab-content {
  position: relative;
  padding: 2em;
  background: $wa-tabs-background;
  box-shadow: $wa-box-shadow;

  // Separation for multiple columns modals
  & .row > .ls-form {
    border-right: $wa-separation;

    &:last-child {
      border-right: 0;
    }
  }
}

