@import '_wa_variables';
@import 'bootstrap_overrides';

// Timepicker
.timepicker {

  .clock-face {
    cursor: pointer;
    background-color: $wa-primary-light-transparent !important;
  }

  .timepicker__header {
    background-color: $wa-primary !important;
  }

  .clock-face__clock-hand {
    background-color: $wa-primary !important;

    &::after {
      background-color: $wa-primary !important;
    }

    &::before {
      border-color: $wa-primary !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: $wa-primary !important;
    }
  }

  .timepicker__actions {
    justify-content: center !important;

    > * {
      margin-left: $wa-actions-btns-btn-margin-x;
      margin-right: $wa-actions-btns-btn-margin-x;
    }
  }
}
