@import '_wa_variables';

.wa-tooltip ~ [role=tooltip] {
  .popover-body {
    background-color: $wa-tooltip-background-color;
    color: $wa-tooltip-font-color;
  }

  .arrow::after {
    border-right-color: $wa-tooltip-background-color
  }
}
