<ul class="application-list">
    <li>
        <a data-toggle="tooltip"
           title="as@lae"
           href="https://www.libriciel.fr/asalae"
           target="_blank" id="asalae">
            as@lae
        </a>
    </li>
    <li>
        <a data-toggle="tooltip"
           title="i-delibRE"
           href="https://www.libriciel.fr/i-delibre"
           target="_blank" id="idelibre">
            i-delibRE
        </a>
    </li>
    <li>
        <a data-toggle="tooltip"
           title="i-Parapheur"
           href="https://www.libriciel.fr/i-parapheur"
           target="_blank" id="iparapheur" class="active">
            i-Parapheur
        </a>
    </li>
    <li>
        <a data-toggle="tooltip"
           title="Pastell"
           href="https://www.libriciel.fr/pastell"
           target="_blank" id="pastell">
            Pastell
        </a>
    </li>
    <li>
        <a data-toggle="tooltip"
           title="S²LOW"
           href="https://www.libriciel.fr/s2low"
           target="_blank" id="s2low">
            S²LOW
        </a>
    </li>
    <li>
        <a data-toggle="tooltip"
           title="web-DPO"
           href="https://www.libriciel.fr/web-dpo"
           target="_blank" id="webdpo">
            web-DPO
        </a>
    </li>
    <li>
        <a data-toggle="tooltip"
           title="web-delib"
           href="https://www.libriciel.fr/web-delib"
           target="_blank" id="webdelib">
            web-delib
        </a>
    </li>
    <li>
        <a data-toggle="tooltip"
           title="web-GFC"
           href="https://www.libriciel.fr/web-gfc"
           target="_blank" id="webgfc">
            web-GFC
        </a>
    </li>
</ul>
<span class="application-version"> <!-- font-family: 'Ubuntu Light', serif -->
 ${kcSanitize(msg("loginTitleHtml",(realm.displayName!'')))?no_esc} © Libriciel SCOP 2006-2019
</span>
<ul class="application-list">
    <li>
        <a href="https://www.libriciel.fr"
           target="_blank"
           class="pull-right active" id="libriciel">
            Libriciel
        </a>
    </li>
</ul>
