<span [ngClass]="commonIcons.TOOLTIP_ICON"
      [ngbPopover]="htmlContent ? htmlPopoverContent : textPopoverContent"
      class="wa-tooltip info"
      placement="right">
</span>
<ng-template #htmlPopoverContent><span [innerHTML]="message"></span></ng-template>
<ng-template #textPopoverContent><span [innerText]="message"></span></ng-template>
