<div class="steps">
  <ng-container *ngFor="let step of steps; let i = index;">
    <div [ngClass]="{'active': selectedIndex === i, 'first':i===0, 'last': i=== steps.length-1}" class="step">
      <span [innerText]="i + 1"
            class="pos">
      </span>
      <span class="name">
        <ng-container *ngIf="step.stepLabel" [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
        <span *ngIf="!step.stepLabel">&nbsp;</span>
      </span>
    </div>
    <span *ngIf="i!=steps.length-1" class="fill"></span>
  </ng-container>
</div>

<div class="wa-step-form">
  <ng-container [ngTemplateOutlet]="selected.content"></ng-container>

  <div class="ls-actions-bar ls-stepper-actions-btns ls-actions-bar-align-right">
    <wa-button (btnClick)="onClickPrevious()"
               *ngIf="selectedIndex > 0"
               [icon]="commonIcons.PREVIOUS_ICON"
               [ngClass]="'push-left'"
               [title]="messages.PREVIOUS"
               [weight]="weight.SECONDARY">
    </wa-button>

    <wa-cancel-button (btnClick)="onClickCancel()">
    </wa-cancel-button>

    <wa-button (btnClick)="onClickNext()"
               *ngIf="selectedIndex < steps.length -1"
               [disabled]="!isValid"
               [iconOnLeft]="false"
               [icon]="commonIcons.NEXT_ICON"
               [title]="messages.NEXT">
    </wa-button>

    <wa-save-button (btnClick)="onclickSave()"
                    *ngIf="selectedIndex >= steps.length -1"
                    [disabled]="!isValid"
                    [processing]="isProcessing">
    </wa-save-button>
  </div>
</div>
