.steps {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:not(.last):after, &:not(.first):before {
      position: absolute;
      content: "";
      top: 1.5rem;
      height: 3px;
      display: inline-block;
      z-index: -1;
    }

    &:not(.last):after {
      left: 50%;
      width: calc(50% + 1rem);
    }

    &:not(.first):before {
      right: 50%;
      width: 50%;
    }


    &:not(:last-child) {
      margin-right: 1rem;
    }

    .pos {
      position: relative;
      font-size: 2rem;
      width: 3rem;
      height: 3rem;
      text-align: center;
      line-height: 3rem;
      border-radius: 1.5rem;
      margin: 0;
      flex-shrink: 0;
    }

    .name {
      font-size: 1rem;
      width: 8rem;
      text-align: center;
    }
  }

  .fill {
    width: 100%;
    border-top-style: solid;
    margin-top: 1.5rem;
    border-top-width: 3px;
  }
}



