<div *ngIf="classificationDate" class="wa-panel wa-info-panel ls-actions-bar">
  <span [innerText]="classificationMessages.classificationPanelMessage(classificationDate.date)">
  </span>
  <wa-button (btnClick)="updateClassification()"
             [processing]="isLoading"
             [icon]="classificationMessages.UPDATE_BUTTON_ICON"
             [style]="style.INFO"
             [title]="classificationMessages.UPDATE_BUTTON_TITLE"
             [weight]="weight.SECONDARY">
  </wa-button>
</div>
