<wa-modal-header [activeModal]="activeModal" [title]="voteMessages.VOTER_LIST_MODAL_TITLE"></wa-modal-header>

<div class="modal-body fit-screen">
  <form class="ls-form">
    <div class="row">
      <wa-table [elements]="votersListItems"
                [tbody]="tbody"
                [theader]="theader">
      </wa-table>

      <ng-template #theader>
        <th [innerText]="voteMessages.HEADER_TITLE_VOTERS" class="col"></th>
        <th [innerText]="voteMessages.HEADER_TITLE_PRESENT_VOTER" class="col"></th>
        <th [innerText]="voteMessages.HEADER_TITLE_REPRESENTATIVE_VOTER" class="col"></th>
      </ng-template>

      <ng-template #tbody let-element>
        <td [innerText]="element.name" class="col">
        </td>

        <td class="col">
          <wa-slider
            (valueChange)="onToggleIsPresent(element.id)"
            [(ngModel)]="element.is_present"
            [ngModelOptions]="{standalone: true}"
            [title]="voteMessages.TITLE_YES_NO_TOGGLE_BUTTON">
          </wa-slider>
        </td>

        <td class="col">
          <ng-select
            (change)="onToggleIsPresent(element.id)"
            [(ngModel)]="element.representative"
            [clearAllText]="waCommonMessages.CLEAR_ALL"
            [disabled]="!!element.is_present"
            [items]="presentVoters"
            [ngModelOptions]="{standalone: true}"
            [notFoundText]="waCommonMessages.NO_RESULT"
            [placeholder]="voteMessages.PLACE_HOLDER_REPRESENTATIVE_VOTERS"
            [title]="voteMessages.LABEL_REPRESENTATIVE_VOTERS"
            bindLabel="name"
            class="ls-select">

            <ng-template let-item="item" ng-option-tmp>
              <span [innerText]="item.name" [title]="item.name"></span>
            </ng-template>
          </ng-select>
        </td>
      </ng-template>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()"></wa-cancel-button>
        <wa-save-button (btnClick)="save()" [processing]="saving"></wa-save-button>
      </div>
    </div>
  </div>
</div>
