<div class="row wa-step-form">
  <div>
    <div class="form-group required">
      <label [innerText]="messages.STEP_NAME"></label>
      <div class="input-group ls-input">
        <input #nameInput
               [formControl]="formGroup.controls.stepName"
               [required]="true"
               class="form-control"
               placeholder="{{messages.STEP_NAME_PLACEHOLDER}}"
               trim
               type="text">
      </div>
      <div *ngIf="forUpdate && formGroup.controls.stepName.errors?.required"
           [innerText]="messages.STEP_NAME_REQUIRED"
           class="ls-error-message text-danger">
      </div>
      <div *ngIf="formGroup.controls.stepName.errors?.alreadyUsedName"
           [innerText]="messages.STEP_NAME_ALREADY_IN_USE"
           class="ls-error-message text-danger">
      </div>
    </div>

    <div class="form-group required">
      <label [innerText]="messages.STEP_TYPE"></label>
      <wa-list-or-button
        [ngModel]="step.type"
        (ngModelChange)="selectedTypeChanged($event)"
        [icons]="stepTypeIconClasses"
        [items]="stepTypeChoices"
        [placeholder]="messages.STEP_TYPE_PLACE_HOLDER"
        class="wa-grey-icn">
      </wa-list-or-button>
    </div>

    <div *ngIf="typeAllowMultipleValidators()" class="form-group required">
      <label [innerText]="messages.STEP_VALIDATORS" for="validators"></label>
      <ng-select (change)="checkDataValidity()" [(ngModel)]="step.validators"
                 [clearAllText]="waCommonMessages.CLEAR_ALL"
                 [items]="availableValidators"
                 [multiple]="true"
                 [notFoundText]="waCommonMessages.NO_RESULT"
                 bindLabel="name"
                 class="input-group ls-select"
                 id="validators"
                 name="validators"
                 placeholder="{{messages.STEP_VALIDATOR_PLACE_HOLDER}}" selectOnTab>
        <ng-template let-item="item" ng-option-tmp>
          {{item.firstname + ' ' + item.lastname}}
        </ng-template>

        <ng-template let-clear="clear" let-item="item" ng-label-tmp>
          <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
          <span class="ng-value-label">{{item.firstname + ' ' + item.lastname}}</span>
        </ng-template>
      </ng-select>
    </div>

    <div *ngIf=" ! typeAllowMultipleValidators()" class="form-group required">
      <label [innerText]="messages.STEP_SINGLE_VALIDATOR" for="validators"></label>
      <ng-select (change)="checkDataValidity()" [(ngModel)]="step.validators[0]"
                 [clearAllText]="waCommonMessages.CLEAR_ALL"
                 [items]="availableValidators"
                 [multiple]="false"
                 [notFoundText]="waCommonMessages.NO_RESULT"
                 bindLabel="name"
                 class="input-group ls-select"
                 id="validators"
                 name="validators"
                 placeholder="{{messages.STEP_VALIDATOR_PLACE_HOLDER}}" selectOnTab>
        <ng-template let-item="item" ng-option-tmp>
          {{item.firstname + ' ' + item.lastname}}
        </ng-template>

        <ng-template let-clear="clear" let-item="item" ng-label-tmp>
          <span class="ng-value-label">{{item.firstname + ' ' + item.lastname}}</span>
        </ng-template>
      </ng-select>
    </div>
  </div>
</div>

<div class="ls-actions-bar ls-actions-bar-align-right">
  <wa-cancel-button (btnClick)="cancel()"></wa-cancel-button>

  <wa-save-button (btnClick)="addOrUpdateStep()"
                  [disabled]="validateBtnDisabled"
                  [icon]="forUpdate ? null : commonIcons.CREATE_ICON"
                  [title]="forUpdate ? null : commonMessages.ADD">
  </wa-save-button>
</div>
