<span *ngIf="item.icon_stacked" [ngClass]="!item.fullButton ? item.getStyleClass() : ''"
      class="wa-icon stack">
                <i class="wa-icon {{item.icon}}" style="position: relative">
                <i class="wa-icon {{item.icon_stacked}}"
                   style="position: absolute; font-size: small; top: -0.5rem; right: -0.5rem"></i>
                  </i>
           </span>
<span *ngIf="!item.icon_stacked" [ngClass]="(showFullButton && item.fullButton) ? '' : item.getStyleClass()"
      class="wa-icon {{item.icon}}">
</span>
