<div class="col ls-form readonly">
  <wa-table [elements]="[fakeVote]" [inner]="true" [tbody]="tbody" [theader]="theader">
  </wa-table>
  <ng-template #theader>
    <th [innerText]="voteMessages.HEADER_TITLE_RESULT" class="col"></th>
  </ng-template>
  <ng-template #tbody disabled="true" ngbRadioGroup>
    <td class="col-1">
      <input
        [(ngModel)]="result"
        (ngModelChange)="onValueChange()"
        [checked]="result === true"
        [value]="true"
        id="result_yes"
        name="result_yes"
        type="radio">
      <label for="result_yes">{{voteMessages.LABEL_ADOPTED}}</label>
      <br/>
      <input
        [(ngModel)]="result"
        [checked]="result === false"
        [value]="false"
        (ngModelChange)="onValueChange()"
        id="result_no"
        name="result_no"
        type="radio">
      <label for="result_no">{{voteMessages.LABEL_REJECTED}}</label>
    </td>
  </ng-template>
</div>
