<label [innerText]="messages.ACT_CODE" for="actCodeInput"></label>

<wa-tooltip [message]="messages.ACT_CODE_PLACEHOLDER"></wa-tooltip>

<div class="input-group ls-input">
  <input [formControl]="formGroup.controls.codeAct" [required]="requireNotEmpty"
         class="form-control"
         id="actCodeInput"
         maxlength="15"
         oninput="this.value = this.value.normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/\s|-/g, '_').toUpperCase()"
         placeholder="{{messages.ACT_CODE_PLACEHOLDER}}"
         trim
         type="text">
</div>

<div *ngIf="formGroup.controls.codeAct.errors?.codeActExists"
     [innerText]="messages.ALREADY_USED_ACT_CODE"
     class="ls-error-message text-danger">
</div>

<div *ngIf="formGroup.controls.codeAct.hasError('pattern')"
     [innerText]="messages.ACT_CODE_PLACEHOLDER"
     class="ls-error-message text-danger">
</div>
