<ngx-spinner [name]="convocationSpinner"><p style="color: white">Génération en cours </p></ngx-spinner>

<wa-action-buttons (actionResult)="sendActionDone($event)"
                   [secondaryActions]="secondaryActionsItems"
                   [argument]="summon">
</wa-action-buttons>

<div class="wa-panel">
  <div class="row">
    <div class="summon-documents">
      <wa-manage-summon [summon]="summon"
                        [resetEvent]="resetEventsSubject.asObservable()"
                        (documentChanged)="updateDocuments($event)"
                        (documentChangedServerSide)="reloadSummon()">
      </wa-manage-summon>
    </div>

    <div class="col">
      <h2 [innerText]="sittingListMessages.SEND_SITTING_CONVOCATION_ACTORS_TITLE"></h2>
      <wa-table [elements]="convocationsListItems"
                [tbody]="tbody"
                [loading]="true"
                [theader]="theader">
      </wa-table>

      <ng-template #theader>
        <th [innerText]="commonMessages.ACTORS" class="col"></th>
        <th [innerText]=commonMessages.SENDING_STATUS class="col"></th>
        <th [innerText]=commonMessages.READING_STATUS class="col"></th>
      </ng-template>

      <ng-template #tbody let-element>
        <td [innerText]="[element.actor.lastname, element.actor.firstname].join(' ')" class="col"></td>
        <td [innerText]="element.date_send|isSendEmail" class="col"></td>
        <td [innerText]="element.date_open|isReceiveEmail" class="col"></td>
      </ng-template>
    </div>
  </div>

  <div class="wa-panel-footer">
    <div class="ls-actions-bar ls-actions-bar-align-right">
      <wa-go-back-button (btnClick)="cancel()">
      </wa-go-back-button>

      <wa-save-button (btnClick)="saveDocuments()"
                      [disabled]="!documentsModified()"
                      [processing]="processingSavingAction"
                      [weight]="weight.SECONDARY">
      </wa-save-button>

      <wa-button (done)="sendActionDone($event)"
                 [action]="sendConvocationAction"
                 [argument]="[summon]"
                 [disabled]="processingSavingAction || documentsModified()"
                 waActionable>
      </wa-button>
    </div>
  </div>
</div>
