<i *ngIf="comment" ngbTooltip="{{messages.COMMENT_TOOLTIP_TXT}}">
  <i #p="ngbPopover"
     (click)="p.open({comment: comment})"
     [autoClose]="'outside'"
     [ngClass]="messages.CIRCUIT_COMMENT_ICON"
     [ngbPopover]="popComment"
     [popoverTitle]="messages.COMMENT_POPUP_TILE_TXT"
     class="fa-2x wa-comment-icon"
     container="body"
     placement="top"
     triggers="'manual'">
  </i>
</i>

<ng-template #popComment let-comment="comment">
  <span [innerText]="comment"></span>
</ng-template>
