<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>
  <wa-button (done)="actionDone($event)"
             [action]="themeActionItemFactory.getActionItem(themeActions.ADD_THEME)"
             [icon]="commonIcons.CREATE_ICON"
             [title]="messages.CREATE_THEME"
             waActionable>
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadThemes()"
          [pagination]="pagination"
          [elements]="fullThemesList"
          [filtered]="hasFilter()"
          [loading]="loading"
          [singleActionsOthers]="otherSingleActions"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader"
          id="searchBar">
</wa-table>

<ng-template #theader>
  <th [innerHTML]="commonMessages.NOT_BREAKABLE_SPACE" class="col-1"></th>
  <th [innerText]="messages.COLUMN_TITLE_NAME" class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td class="col-1">
    <wa-slider #btn (valueChange)="toggleActivation(element, $event, btn)"
               [(ngModel)]="element.active"
               [title]="commonMessages.ACTIVATE_DEACTIVATE"></wa-slider>
  </td>
  <td class="col" [innerText]="'[' + element.position + ']' + ' ' + element.name"></td>
</ng-template>

