<wa-modal-header [activeModal]="activeModal"
                 [title]="signingType === 'manual' ? messages.SIGN_PROJECT_MODAL_TITLE : messages.SEND_PROJECT_TO_I_PARAPHEUR_MODAL_TITLE"></wa-modal-header>

<div class="modal-body">
  <wa-panel *ngIf="!isActGenerate" [text]="messages.SIGN_PROJECT_MODAL_INFO"></wa-panel>

  <form class="ls-form">
    <div class="row">
      <div class="col">
        <div class="form-group overflow-hidden text-break">
          <label [innerText]="project.name" [title]="project.name"></label>

          <wa-main-document-component [mainDocument]="project.mainDocument"></wa-main-document-component>
          <div *ngIf="documentTypeError"
               [innerText]="messages.add_document_format(config.mainDocumentAcceptedTypesForSigning, this.messages.MAIN_DOCUMENT)"
               class="ls-error-message text-danger">
          </div>

          <wa-file-btn *ngIf="!isActGenerate" (change)="addMainDoc($event)"
                       [btnStyle]="'btn-outline-primary'"
                       [icon]="messages.SIGN_PROJECT_MODAL_REPLACE_BUTTON_ICON"
                       [multiple]="false"
                       [title]="messages.SIGN_PROJECT_MODAL_REPLACE_BUTTON"
                       [types]="mainDocumentAcceptedTypesBeforeSigningString"
                       id="addMainDocInput"
                       name="addMainDocInput">
          </wa-file-btn>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group required">
          <ng-container *ngTemplateOutlet="signeAction"></ng-container>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="activeModal.dismiss({isError:false})">
        </wa-cancel-button>

        <wa-save-button (btnClick)="signMethodCall()"
                        [disabled]="!valid"
                        [icon]="signingButtonIcon"
                        [processing]="isProcessing"
                        [title]="signingButtonMessage">
        </wa-save-button>
      </div>
    </div>
  </div>
</div>

<ng-template #signeAction>
  <ng-container [ngSwitch]="signingType">
    <ng-template [ngSwitchCase]="'i-parapheur'">
      <wa-select-iparapheur-circuit
        #signingInput
        (changeValue)="changeSigningInputValue($event)"
        [project]="project">
      </wa-select-iparapheur-circuit>

    </ng-template>
    <ng-template [ngSwitchCase]="'manual'">
      <wa-select-date
        #signingInput
        (changeValue)="changeSigningInputValue($event)">
      </wa-select-date>
    </ng-template>
  </ng-container>
</ng-template>
