<ng-container *ngIf="items  && items.length > maxLength">
  <ng-select (change)="onChangeSelection($event)"
             [(ngModel)]="value"
             [clearAllText]="waCommonMessages.CLEAR_ALL"
             [clearable]="!required"
             [items]="items"
             [notFoundText]="waCommonMessages.NO_RESULT"
             [placeholder]="placeholder"
             [required]="required" bindLabel="name"
             class="ls-select">
  </ng-select>
</ng-container>

<ng-container *ngIf="(items && items.length <= maxLength)">
  <ls-radio-buttons [ngModel]="value"
                    (ngModelChange)="onChangeSelection($event)"
                    [items]="items"
                    [value]="value"
                    [id]="id">
  </ls-radio-buttons>
</ng-container>
