<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>

  <wa-button
      (done)="actionDone($event)"
      [action]="sequenceActionItemFactory.getActionItem(sequenceAction.ADD_SEQUENCE)"
      [icon]="commonIcons.CREATE_ICON"
      [title]="messages.CREATE_SEQUENCE"
      waActionable>
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadSequences()"
          [commonActions]="commonActions"
          [elements]="sequences"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActionsOthers]="otherSingleActions"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerText]="messages.NAME"
      class="col-3"></th>
  <th [innerText]="messages.COMMENT"
      class="col-6"></th>
  <th [innerHTML]="messages.SEQUENCE_NUM"
      class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td [innerText]="element.name"
      class="col-3"></td>
  <td [innerText]="element.comment"
      class="col-6"></td>
  <td [innerText]="element.sequence_num"
      class="col"></td>
</ng-template>


