<wa-modal-header [activeModal]="activeModal"
                 [title]="messages.get_tdt_info_modal_title_for_act(_information.codeAct)"></wa-modal-header>

<div class="modal-body">
  <form [formGroup]="formGroup" class="ls-form">
    <div class="row">
      <div class="col">
        <div class="form-group required">
          <wa-classification-selector
            (change)="OnChange()"
            [(classification)]="_information.classification"
            [requireNotEmpty]="true">
          </wa-classification-selector>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.MAIN_DOC_TYPE">
          </label>
          <ng-select
            [clearAllText]="waCommonMessages.CLEAR_ALL"
            [notFoundText]="waCommonMessages.NO_RESULT"
            class="ls-select ls-select-multiline-options"
            [(ngModel)]="_information.mainDocumentType"
            (ngModelChange)="OnChange()"
            [ngModelOptions]="{standalone: true}"
            [items]="mainDocumentTypes"
            placeholder="{{messages.TYPE_PLACE_HOLDER}}"
            bindLabel="name"
            [title]="_information.mainDocumentType ? _information.mainDocumentType.name : ''">

            <ng-template let-item="item" ng-option-tmp>
              <span [innerText]="item.name" [title]="item.name"></span>
            </ng-template>
          </ng-select>
        </div>

        <!--        <div class="form-group required">-->
        <!--          <label [innerText]="messages.IS_MULTICHANNEL">-->
        <!--          </label>-->

        <!--          <wa-tooltip [message]="messages.MULTICHANNEL_INFO_TOOLTIP"></wa-tooltip>-->

        <!--          <div class="btn-group-toggle ls-actions-bar ls-actions-bar-align-left"-->
        <!--               name="isMultichannel"-->
        <!--               ngbRadioGroup>-->
        <!--            <input id="isMultichannelTrue" formControlName="isMultichannel" [value]="true" class="btn-check"-->
        <!--                   ngbButton-->
        <!--                   type="radio">-->
        <!--            <label for="isMultichannelTrue" class="btn ls-btn-radio btn-outline-primary"-->
        <!--                   ngbButtonLabel>-->
        <!--                          <span-->
        <!--                            [innerText]="commonMessages.YES"></span>-->
        <!--            </label>-->

        <!--            <input id="isMultichannelFalse" formControlName="isMultichannel" [value]="false"-->
        <!--                   class="btn-check" ngbButton type="radio">-->
        <!--            <label for="isMultichannelFalse" class="btn ls-btn-radio btn-outline-primary"-->
        <!--                   ngbButtonLabel>-->
        <!--                          <span-->
        <!--                            [innerText]="commonMessages.NO"></span>-->
        <!--            </label>-->
        <!--          </div>-->
        <!--        </div>-->

        <div *ngIf="_information.annexes && _information.annexes.length" class="form-group required">
          <label [innerText]="messages.ANNEXES"></label>
          <table class="table table-striped table-annexes">
            <thead>
            <tr class="d-flex justify-content-left">
              <th class="col-1"></th>
              <th [innerText]="messages.DOCUMENT" class="col-4"></th>
              <th [innerText]="messages.REMOTE_TRANSMISSION" class="col-2"></th>
              <th [innerText]="messages.TYPOLOGY" class="col-4"></th>
            </tr>
            </thead>

            <tbody formArrayName="annexTypes">
            <tr *ngFor="let annex of _information.annexes; let i = index" class="d-flex">
              <td [innerText]="i + 1" class="col-1 number"></td>

              <td class="col-4 document">
                <span class="document-name">{{annex.name}}
                  ({{commonMessages.getHumanlyReadableSizeInMo(annex.size)}})</span>
              </td>

              <ng-container *ngIf="hasTransferableType(annex)">
                <td class="col-2 act-type">
                  <input
                    [(ngModel)]="annex.toGotTransfer"
                    (ngModelChange)="OnChange()"
                    [ngModelOptions]="{standalone: true}"
                    type="checkbox">
                </td>

              </ng-container>

              <td class="col-4 act-type">
                <ng-container *ngIf="hasTransferableType(annex)">
                  <ng-select
                    [(ngModel)]="annex.documentType"
                    (ngModelChange)="OnChange()"
                    [ngModelOptions]="{standalone: true}"
                    [clearAllText]="waCommonMessages.CLEAR_ALL"
                    [disabled]="!annex.toGotTransfer"
                    [items]="annexeDocumentTypes"
                    (clear)="resetCodeType(annex)"
                    [notFoundText]="waCommonMessages.NO_RESULT"
                    [title]="annex && annex.documentType ? annex.documentType.name : ''"
                    bindLabel="name"
                    class="ls-select ls-select-multiline-options"
                    ngbTooltip="{{ annex.toGotTransfer ? '' : messages.ANNEX_TYPE_NOT_SELECTABLE_TOOLTIP}}"
                    placeholder="{{messages.TYPE_PLACE_HOLDER}}">

                    <ng-template let-item="item" ng-option-tmp>
                      <span [innerText]="item.name" [title]="item.name"></span>
                    </ng-template>
                  </ng-select>
                </ng-container>

                <ng-container *ngIf="!hasTransferableType(annex)">
                  <span [innerText]="messages.NON_TRANSFERABLE_ANNEXE" class="comment"></span>
                </ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="ls-actions-bar ls-actions-bar-align-right">
      <wa-cancel-button (btnClick)="close()">
      </wa-cancel-button>

      <wa-save-button (btnClick)="saveProject()"
                      [processing]="isSaving"
                      [weight]="weight.SECONDARY">
      </wa-save-button>

      <wa-button (btnClick)="sendToTdt()"
                 [disabled]="isSubmitDisabled"
                 [icon]="messages.BUTTON_CHECK_AND_SEND_TO_CONTROL_ICON"
                 [processing]="isSubmitting"
                 [title]="messages.BUTTON_CHECK_AND_SEND_TO_CONTROL_TITLE">
      </wa-button>
    </div>
  </div>
</div>
