<div class="row" *ngIf="!isWriting">
  <div class="col">
    <div class="form-group required">
      <label [innerText]="messages.MAIN_DOCUMENT"></label>

      <wa-tooltip
        [message]="messages.add_document_format(mainDocumentAcceptedTypes, messages.MAIN_DOCUMENT)"></wa-tooltip>

      <ng-container *ngIf="!documentsInformation.mainDocument">
        <div class="input-group ls-input">
          <wa-file-btn (change)="addMainDoc($event)" [icon]="commonIcon.ADD_ICON"
                       [multiple]="false"
                       [title]="messages.ADD_DOCUMENT"
                       [types]="mainDocumentAcceptedTypesBeforeSigningString"
                       id="addMainDocInput"
                       name="addMainDocInput">
          </wa-file-btn>
        </div>
        <span *ngIf="showMandatoryMainDocMessage"
              [innerText]="messages.MAIN_DOC_IS_MANDATORY_MESSAGE"
              [ngClass]="commonStyles.getErrorStyleClass()">
        </span>
      </ng-container>

      <ng-container *ngIf="documentsInformation.mainDocument">
        <div class="row">
          <div class="col-6 form-group document">
            <wa-button (btnClick)="removeMainDoc()"
                       [colorOnHover]="true"
                       [icon]="commonIcon.REMOVE_ICON"
                       [onlyIcon]="true"
                       [style]="style.DANGER"
                       [title]="messages.REMOVE_MAIN_DOCUMENT"
                       [weight]="weight.TERTIARY"
                       class="remove-document-button">
            </wa-button>

            <span class="document-name text-primary">{{ documentsInformation.mainDocument.name }}
              ({{ commonMessages.getHumanlyReadableSizeInMo(documentsInformation.mainDocument.size) }})
          </span>
          </div>

          <div *ngIf="isTransferable" class="col-6 form-group">
            <ng-select [(ngModel)]="documentsInformation.mainDocument.documentType"
                       [clearAllText]="waCommonMessages.CLEAR_ALL"
                       [items]="mainDocumentTypes"
                       [notFoundText]="waCommonMessages.NO_RESULT"
                       [title]="documentsInformation && documentsInformation.mainDocument.documentType
            ? documentsInformation.mainDocument.documentType.name : ''"
                       bindLabel="name"
                       class="ls-select ls-select-multiline-options"
                       placeholder="{{messages.TYPE_PLACE_HOLDER}}">

              <ng-template let-item="item" ng-option-tmp>
                <span [innerText]="item.name" [title]="item.name"></span>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="row" *ngIf="isWriting">
  <div class="col">
    <div class="form-group">
      <div *ngIf="!isCreating" [formGroup]="projectTextForm">
        <div class="input-group ls-input">
          <wa-file-upload *ngIf="projectTextProject" formControlName="projectTextProject"
                          [fileUploadEditable]="true"
                          [fileUploadDeletable]="false"
                          [fileUploadReplaceable]="false"
                          [fileUploadDownload]="false"
                          [officeEditorFile]="projectTextProject"
                          [fileUploadTooltipMessage]="messages.formFieldDraftTemplateFileHelp(1)"
                          [fileUploadLabel]="messages.FORM_FIELD_PROJECT_TEXT_PROJECT_FILE_LABEL"
                          [fileUploadBtnText]="messages.FORM_FIELD_PROJECT_TEXT_PROJECT_FILE_BUTTON_TEXT"
                          [fileUploadBtnTitle]="messages.FORM_FIELD_PROJECT_TEXT_PROJECT_FILE_BUTTON_TEXT"
                          [fileUploadAcceptType]="[fileType.ODT]"
          ></wa-file-upload>
        </div>
        <div class="input-group ls-input">
          <wa-file-upload *ngIf="projectTextAct" formControlName="projectTextAct"
                          [fileUploadEditable]="true"
                          [fileUploadDeletable]="false"
                          [fileUploadReplaceable]="false"
                          [fileUploadDownload]="false"
                          [officeEditorFile]="projectTextAct"
                          [fileUploadTooltipMessage]="messages.formFieldDraftTemplateFileHelp(1)"
                          [fileUploadLabel]="messages.FORM_FIELD_PROJECT_TEXT_ACT_FILE_LABEL"
                          [fileUploadBtnText]="messages.FORM_FIELD_PROJECT_TEXT_ACT_FILE_BUTTON_TEXT"
                          [fileUploadBtnTitle]="messages.FORM_FIELD_PROJECT_TEXT_ACT_FILE_BUTTON_TEXT"
                          [fileUploadAcceptType]="[fileType.ODT]"
          ></wa-file-upload>
        </div>
      </div>
      <label *ngIf="isTransferable" [innerText]="messages.MAIN_DOCUMENT_TYPE"></label>
      <wa-tooltip *ngIf="isTransferable"
                  [htmlContent]="true"
                  [message]="messages.FILE_TEXTS_MESSAGE">
      </wa-tooltip>
      <div *ngIf="documentsInformation.mainDocument && isTransferable" class="col-6 form-group">
        <ng-select [(ngModel)]="documentsInformation.mainDocument.documentType"
                   [clearAllText]="waCommonMessages.CLEAR_ALL"
                   [items]="mainDocumentTypes"
                   [notFoundText]="waCommonMessages.NO_RESULT"
                   [title]="documentsInformation && documentsInformation.mainDocument.documentType
            ? documentsInformation.mainDocument.documentType.name : ''"
                   bindLabel="name"
                   class="ls-select ls-select-multiline-options"
                   placeholder="{{messages.TYPE_PLACE_HOLDER}}">

          <ng-template let-item="item" ng-option-tmp>
            <span [innerText]="item.name" [title]="item.name"></span>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col form-group">
    <label [innerText]="messages.ANNEXES"></label>

    <wa-tooltip
      [htmlContent]="true"
      [message]="messages.add_document_format(annexesTransferableAcceptedTypes, messages.ANNEXES_TRANSFERABLE)">
    </wa-tooltip>

    <div class="input-group ls-input">
      <wa-file-btn #annexInput (change)="addAnnexes($event)"
                   [icon]="commonIcon.ADD_ICON"
                   [multiple]="true"
                   [title]="messages.ADD_DOCUMENTS"
                   [types]="annexesTransferableAcceptedTypesString"
                   id="annexInput"
                   name="annexInput">
      </wa-file-btn>
    </div>
  </div>
</div>

<div *ngIf="documentsInformation.annexes && documentsInformation.annexes.length">
  <table class="table table-striped table-annexes">
    <thead>
    <tr class="d-flex">
      <th class="col-1"></th>
      <th [innerText]="messages.DOCUMENT" class="col"></th>
      <th *ngIf="isWriting" [innerText]="messages.DOCUMENT_FUSION" class="col"></th>
      <th *ngIf="isTransferable" [innerText]="messages.REMOTE_TRANSMISSION" class="col-4"></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let annex of documentsInformation.annexes; let i = index" class="d-flex">
      <td [innerText]="i + 1" class="col-1 number"></td>

      <td class="col document">
        <wa-button (btnClick)="removeAnnexe(i)"
                   [colorOnHover]="true"
                   [icon]="commonIcon.REMOVE_ICON"
                   [onlyIcon]="true"
                   [style]="style.DANGER"
                   [title]="messages.REMOVE_ANNEXE"
                   class="remove-document-button">
        </wa-button>

        <span class="document-name">{{ annex.name }}
          ({{ commonMessages.getHumanlyReadableSizeInMo(annex.size) }})</span>
      </td>
      <td *ngIf="isWriting" class="col">
        <ng-container *ngIf="hasMergeableType(annex)">
          <input [(ngModel)]="annex.joinGenerate" class="col-1" type="checkbox">
        </ng-container>
      </td>
      <td *ngIf="isTransferable" class="col-4 act-type">
        <ng-container *ngIf="hasTransferableType(annex)">
          <input [(ngModel)]="annex.toGotTransfer" class="col-1" type="checkbox">

          <ng-select
            [(ngModel)]="annex.documentType"
            [appendTo]="'body'"
            [clearAllText]="waCommonMessages.CLEAR_ALL"
            [disabled]="!annex.toGotTransfer"
            [items]="annexeDocumentTypes"
            [notFoundText]="waCommonMessages.NO_RESULT"
            [title]="annex && annex.documentType ? annex.documentType.name : ''"
            bindLabel="name"
            class="ls-select ls-select-multiline-options"
            container="body"
            ngbTooltip="{{ annex.toGotTransfer ? '' : messages.ANNEX_TYPE_NOT_SELECTABLE_TOOLTIP}}"
            placeholder="{{messages.TYPE_PLACE_HOLDER}}">

            <ng-template let-item="item" ng-option-tmp>
              <span [innerText]="item.name" [title]="item.name"></span>
            </ng-template>
          </ng-select>
        </ng-container>

        <ng-container *ngIf="!hasTransferableType(annex)">
          <span [innerText]="messages.NON_TRANSFERABLE_ANNEXE" class="comment"></span>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</div>
