:host {

  .remove-document-button{
    margin-right: 0.5rem;
  }

  .document {
    display: flex;
    align-items: center;

    .document-name {
      word-break: break-all;
    }
  }

  .table-annexes {

    .act-type {
      justify-content: center;

      .comment {
        font-style: italic;
        font-size: smaller;
      }
    }

    tbody {
      display: block;
      max-height: 30vh;
      overflow-y: auto;
      padding-bottom: 2rem;

      td {
        display: flex;
        align-items: center;

        &.number {
          justify-content: center;
        }

        ng-select {
          margin-left: 0.5rem;
          width: 100%;
          max-width: calc(100% - 1.5rem);

          &.ng-select-disabled {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
