<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>

  <wa-button (btnClick)="createCircuit()"
             [icon]="commonIcons.CREATE_ICON"
             [title]="messages.CREATE_CIRCUIT">
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadCircuits()"
          [elements]="circuitList"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader"
          id="searchBar">
</wa-table>

<ng-template #theader>
  <th [innerHTML]="commonMessages.NOT_BREAKABLE_SPACE"
      class="col-1"></th>
  <th [innerText]="messages.COLUMN_TITLE_NAME"
      class="col-4"></th>
  <th [innerText]="messages.COLUMN_DESCRIPTION_NAME"
      class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td class="col-1">
    <wa-slider #btn (valueChange)="toggleActivation(element, $event, btn)" [(ngModel)]="element.active"
               [title]="commonMessages.ACTIVATE_DEACTIVATE"></wa-slider>
  </td>
  <td class="col-4">
    <wa-table-row-action
      [action]="circuitActionItemFactory.getActionItem(circuitAction.SHOW_CIRCUIT)"
      [item]="element"></wa-table-row-action>
  </td>
  <td [innerText]="element?.description"
      class="col description-content"></td>
</ng-template>
