<wa-menu-tiles [menu]="adminMenuGroup1">
</wa-menu-tiles>
<hr width="100%">
<wa-menu-tiles [menu]="adminMenuGroup2">
</wa-menu-tiles>
<hr width="100%">
<wa-menu-tiles [menu]="adminMenuGroup3">
</wa-menu-tiles>
<hr width="100%">
<wa-menu-tiles [menu]="superAdminMenu">
</wa-menu-tiles>

