<div [ngClass]="cssClass" class="ls-actions-bar">
  <span [ngClass]="icon" class="fa-2x"></span>
  <span *ngIf="htmlText" [innerHTML]="htmlText"></span>
  <span *ngIf="text" [innerText]="text"></span>
  <ng-content></ng-content>
</div>
