<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<wa-panel [htmlText]="messages.CONNEXION_IDELIBRE_HELP"></wa-panel>

<div class="main-content">
  <form [formGroup]="connexionForm" class="ls-form">
    <div class="form-group required">
      <label [innerText]="messages.URL_IDELIBRE_INPUT_LABEL" for="#url"></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span [innerText]="commonMessages.HTTPS_PROTOCOL" class="input-group-text"></span>
        </div>
        <input class="form-control"
               formControlName="url"
               id="#url"
               maxlength="255"
               name="url"
               placeholder="{{messages.URL_IDELIBRE_INPUT_PLACE_HOLDER}}"
               type="text">
      </div>
    </div>

    <div class="form-group required">
      <label [innerText]="messages.ID_IDELIBRE_INPUT_LABEL" for="#username"></label>
      <input class="form-control"
             formControlName="username"
             id="#username"
             maxlength="80"
             name="username"
             placeholder="{{messages.ID_IDELIBRE_INPUT_PLACE_HOLDER}}"
             type="text">
    </div>

    <div class="form-group">
      <label [innerText]="messages.PASSWORD_IDELIBRE_INPUT_LABEL" for="#passwordIdelibre"></label>
      <ls-password formControlName="password"
                   id="#passwordIdelibre"
                   name="passwordIdelibre"
      ></ls-password>
    </div>

    <div class="form-group required">
      <label [innerText]="messages.IDE_IDELIBRE_INPUT_LABEL" for="#connexion_option"></label>
      <input class="form-control"
             formControlName="connexion_option"
             id="#connexion_option"
             maxlength="255"
             name="connexion_option"
             placeholder="{{messages.IDE_IDELIBRE_INPUT_PLACE_HOLDER}}"
      >
    </div>

    <div *ngIf="testMessage">
      <span [innerHTML]="testMessage"
            [ngClass]="testSuccess ? commonStyles.getSuccessStyleClass() : commonStyles.getErrorStyleClass()"></span>
    </div>

    <div class="ls-actions-bar ls-actions-bar-align-right">
      <wa-button (btnClick)="testConnexion()"
                 [processing]="isTesting"
                 [title]="messages.BTN_TEST_CONNEXION_IDELIBRE_TITLE"
                 [weight]="weight.SECONDARY">
      </wa-button>

      <wa-save-button (btnClick)="save()"
                      [disabled]="isSubmitDisabled || !connexionForm.valid"
                      [processing]="isSubmitting">
      </wa-save-button>
    </div>
  </form>
</div>
