<wa-panel *ngIf="showCheckIParapheurRefusalBtn" [style]="styles.WARNING"
          [text]="messages.I_PARAPHEUR_REFUSAL_INFO_TEXT">
  <wa-button (btnClick)="showIParapheurRefusalPopup()" [icon]="messages.SHOW_I_PARAPHEUR_REFUSAL_BUTTON_ICON"
             [style]="styles.WARNING" [title]="messages.SHOW_I_PARAPHEUR_REFUSAL_ACTION_NAME"
             [weight]="weight.SECONDARY">
  </wa-button>
</wa-panel>

<wa-action-buttons *ngIf="show" [argument]="project"
                   [otherActions]="otherActionSItems"
                   [primaryActions]="primaryActionsItems"
                   [secondaryActions]="secondaryActionsItems"
                   (actionResult)="fillComponent($event)">
</wa-action-buttons>

<ul #nav="ngbNav" class="wa-tabs" ngbNav>
  <li [ngbNavItem]="1">
    <a [innerText]="messages.INFORMATION_TAB_TITLE" ngbNavLink></a>

    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-6 ls-form readonly">
          <h2 [innerText]="messages.STEP_1_LABEL"></h2>
          <div class="form-group">
            <label [innerText]="messages.ACT_TYPE"></label>
            <span [innerText]="project?.typeAct?.name" class="value"></span>
          </div>

          <div class="form-group">
            <label [innerText]="messages.ACT_NAME"></label>
            <span [innerText]="project?.name" class="value"></span>
          </div>

          <div class="form-group">
            <label [innerText]="messages.ACT_STATE"></label>
            <span [innerText]="project?.stateact?.name" class="value"></span>
          </div>

          <div *ngIf="project?.stateact.code === StateActCode.REFUSED" class="form-group">
            <label [innerText]="messages.COMMENT"></label>
            <span [innerText]="project.circuit.getLastManagedStep().comment" class="value"></span>
          </div>
        </div>
        <div class="col-6 ls-form readonly">
          <h2 [innerText]="messages.STEP_2_LABEL"></h2>
          <div *ngIf="project?.theme" class="form-group">
            <label [innerText]="messages.THEME"></label>
            <span [innerText]="project?.theme?.name ? project?.theme?.name : ''" class="value"></span>
          </div>

          <div *ngIf="project?.typeAct.isDeliberative && sittingEnable" class="form-group">
            <label [innerText]="messages.SITTINGS"></label>
            <ul *ngIf="project?.sittings?.length > 0" class="value">
              <li *ngFor="let sitting of project.sittings">
                {{sitting?.typesitting?.name}} {{messages.sittingDate(sitting.date)}}</li>
            </ul>
          </div>

          <div *ngIf="project?.typeAct.isTransferable" class="form-group">
            <label [innerText]="messages.CLASSIFICATION"></label>
            <span [innerText]="project?.classification?.name ? project?.classification?.name : ''" class="value"></span>
          </div>

          <div class="form-group">
            <label [innerText]="messages.ACT_CODE"></label>
            <span [innerText]="project?.codeAct" class="value"></span>
          </div>

          <div *ngIf="project?.typeAct.isTransferable" class=" form-group">
            <label [innerText]="messages.IS_MULTICHANNEL"></label>
            <span [innerText]="project?.isMultichannel ? commonMessages.YES : commonMessages.NO" class="value"></span>
          </div>
        </div>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="2">
    <a ngbNavLink [innerText]="messages.DOCUMENTS_TAB_TITLE"></a>

    <ng-template ngbNavContent>
      <ngb-accordion #documentAccordion="ngbAccordion" [activeIds]="getOpenedAccordion()">

        <ngb-panel *ngIf="this.tdtDocumentsList" id="{{documentsTDTPanelId}}">
          <ng-template let-opened="opened" ngbPanelHeader>
            <wa-accordion-panel-header (toggle)="documentAccordion.toggle(documentsTDTPanelId)" [opened]="opened"
                                       [title]="messages.DOCUMENTS_TDT_TAB_TITLE"></wa-accordion-panel-header>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col ls-form readonly">
                <wa-table [elements]="tdtDocumentsList" [inner]="true" [singleActions]="downloadDocumentActions"
                          [tbody]="tbody" [theader]="theader">
                </wa-table>

                <ng-template #theader>
                  <th [innerText]="messages.TYPE" class="col-4"></th>
                  <th [innerText]="messages.DOCUMENT_NAME" class="col-7"></th>
                </ng-template>

                <ng-template #tbody let-element>
                  <td [innerText]="element?.typeName" class="col-4"></td>
                  <td [innerText]="element?.fileName" class="col-7"></td>
                </ng-template>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel *ngIf="project.isSignedIParapheur" id="{{documentsParapheurPanelId}}">
          <ng-template let-opened="opened" ngbPanelHeader>
            <wa-accordion-panel-header (toggle)="documentAccordion.toggle(documentsParapheurPanelId)" [opened]="opened"
                                       [title]="messages.DOCUMENTS_IPARAPHEUR_TITLE">
            </wa-accordion-panel-header>
          </ng-template>

          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col ls-form readonly">
                <div class="form-group">
                  <wa-table [elements]="iParapheurDocumentList" [inner]="true" [singleActions]="downloadDocumentActions"
                            [tbody]="tbody" [theader]="theader">
                  </wa-table>

                  <ng-template #theader>
                    <th [innerText]="messages.TYPE" class="col-4"></th>
                    <th [innerText]="messages.DOCUMENT_NAME" class="col"></th>
                    <th *ngIf="project?.typeAct.isTransferable" [innerText]="messages.TYPE" class="col-2"></th>
                  </ng-template>

                  <ng-template #tbody let-element>
                    <td [innerText]="element?.typeName" class="col-4"></td>
                    <td [innerText]="element?.fileName" class="col"></td>
                    <td *ngIf="project?.typeAct.isTransferable" [innerText]="element?.documentType?.name"
                        class="col-2"></td>
                  </ng-template>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="{{documentsOriginalPanelId}}">
          <ng-template let-opened="opened" ngbPanelHeader>
            <wa-accordion-panel-header (toggle)="documentAccordion.toggle(documentsOriginalPanelId)" [opened]="opened"
                                       [title]="messages.DOCUMENTS_ORIGINAL_TITLE">
            </wa-accordion-panel-header>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col ls-form readonly">
                <div class="form-group">
                  <div>
                    <label for="downloadButton" [innerText]="messages.MAIN_DOCUMENT"></label>
                    <wa-button
                      *ngIf="project?.mainDocument && project?.mainDocument.fileId"
                      (btnClick)="downloadMainDocument(project.mainDocument)" [iconSize]="'large'"
                      [icon]="messages.DOCUMENT_DOWNLOAD_ICON" [onlyIcon]="true" [processing]="mainDownloading"
                      [title]="messages.DOCUMENT_DOWNLOAD_TITLE"
                      id="downloadButton">
                    </wa-button>
                    <wa-main-document-component
                      [mainDocument]="project.mainDocument">
                    </wa-main-document-component>
                  </div>
                </div>
                <div class="form-group">
                  <label [innerText]="messages.ANNEXES"></label>
                  <div *ngIf="project?.annexes && project?.annexes.length">
                    <wa-table [elements]="project.annexes" [inner]=true [singleActions]="singleActions" [tbody]="tbody"
                              [theader]="theader"></wa-table>

                    <ng-template #theader>
                      <th [innerText]="messages.DOCUMENT" class="col"></th>
                      <th *ngIf="project?.typeAct.isTransferable" [innerText]="messages.REMOTE_TRANSMISSION"
                          class="col-2"></th>
                      <th *ngIf="project?.typeAct.isTransferable" [innerText]="messages.TYPE" class="col-2"></th>
                    </ng-template>

                    <ng-template #tbody let-element>
                      <td class="col"><span [innerText]="element ? messages.getFileInformation(element) : ''"></span>
                      </td>
                      <td *ngIf="project?.typeAct.isTransferable"
                          [innerText]="element?.toGotTransfer ? commonMessages.YES : commonMessages.NO"
                          class="col-2"></td>
                      <td *ngIf="project?.typeAct.isTransferable" [innerText]="element?.documentType?.name"
                          class="col-2"></td>
                    </ng-template>
                  </div>

                  <div *ngIf="!(project?.annexes) || project?.annexes.length === 0">
                    <span [innerText]="messages.NO_ANNEXES_MSG" class="wa-default-text"></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ng-template>
  </li>

  <li [ngbNavItem]="3">
    <a [innerText]="messages.CIRCUIT_TAB_TITLE" ngbNavLink></a>
    <ng-template ngbNavContent>
      <div *ngIf="project.circuit" class="row">
        <div class="col global-circuit-fields ls-form readonly">
          <div class="form-group">
            <label>{{messages.CIRCUIT_NAME_FIELD_LABEL}}</label>
            <div>{{project.circuit.name}}</div>
          </div>

          <div class="description-group form-group">
            <label>{{messages.CIRCUIT_DESCRIPTION_FIELD_LABEL}}</label>
            <div [innerText]="project.circuit?.description ? project.circuit.description : '-'"></div>
          </div>
        </div>

        <wa-circuit-display [circuit]="project.circuit" class="col"></wa-circuit-display>
      </div>

      <div *ngIf="!(project.circuit)" class="row">
        <span [innerText]="messages.NO_CIRCUIT_FOR_PROJECT_TXT"></span>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="4">
    <a ngbNavLink [innerText]="messages.HISTORY"></a>
    <ng-template ngbNavContent>
      <wa-project-history [projectHistory]="project.history"></wa-project-history>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>
