wa-main-document-component {
  display: flex;
}

.download-tdt-documents {
  font-size: 18px;
  font-weight: bold;

  .download-all-btn {
    margin-left: 1.5em;
    color: var(--bs-ls-primary-600);
    cursor: pointer;
  }

  #downloadButton {
    padding: 0;
  }
}
