<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>


<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>

  <wa-button
      (done)="actionDone($event)"
      [action]="typeActActionItemFactory.getActionItem(typeActAction.ADD_TYPE_ACT)"
      [icon]="commonIcons.CREATE_ICON"
      [title]="messages.CREATE_TYPE_ACT"
      waActionable>
  </wa-button>
</div>


<wa-table
          (gotoPage)="gotoPage($event)"
          [pagination]="pagination"
          [elements]="typesActs"
          [loading]="loading"
          (reloadElements)="reloadTypesActs()"
          [singleActionsOthers]="otherSingleActions"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerHTML]="commonMessages.NOT_BREAKABLE_SPACE" class="col-1"></th>
  <th [innerText]="messages.NAME" class="col"></th>
  <th [innerText]="messages.NATURE" class="col"></th>
  <th [innerText]="messages.TDT" class="col"></th>
</ng-template>

<ng-template #tbody let-element>
  <td *ngIf="element" class="col-1">
    <wa-slider #btn
               (valueChange)="toggleActivation(element, $event, btn)"
               [(ngModel)]="element.active"
               [title]="commonMessages.ACTIVATE_DEACTIVATE">

    </wa-slider>
  </td>
  <td [innerText]="element?.name" class="col"></td>
  <td [innerText]="element?.nature.libelle" class="col"></td>
  <td [innerText]="element?.isTransferable ? commonMessages.YES : commonMessages.NO" class="col"></td>
</ng-template>
