<form [formGroup]="formGroup" class="ls-form">
  <div *ngIf="typeAct?.isDeliberative" class="form-group">
    <label *ngIf="sittingEnable" [innerText]="messages.SITTINGS"></label>

    <div *ngIf="sittingEnable">
      <ng-select (change)="changeSittings($event)" [(ngModel)]="information.sittings"
                 [clearAllText]="waCommonMessages.CLEAR_ALL"
                 [items]="sittings"
                 [multiple]="true"
                 [ngModelOptions]="{ standalone : true }"
                 [notFoundText]="waCommonMessages.NO_RESULT"
                 bindLabel="fullName"
                 class="ls-select"
                 placeholder="{{messages.SITTINGS_PLACEHOLDER}}">
        <ng-template let-item="item" ng-option-tmp>
          <div>{{item.type}} - {{item.date | date:'short'}}</div>
        </ng-template>
      </ng-select>
      <div *ngIf="sittingsIsValid === false">
        <span [innerText]="messages.ASSOCIATED__SITTING_IS_DELIBERATING_FALSE" class="ls-error-message text-danger"></span>
      </div>
    </div>
    <div *ngIf="sittingEnable && sittings.length === 0">
      <span [innerText]="messages.NO_ASSOCIATED_SITTING_MSG" class="wa-default-text"></span>
    </div>
  </div>

  <div class="form-group">
    <wa-theme-selector
      (change)="OnChange()"
      [(theme)]="information.theme"
      [themeList]="themes">
    </wa-theme-selector>
  </div>

  <div *ngIf="typeAct?.isTransferable" class="form-group">
    <wa-classification-selector
      (change)="OnChange()"
      [(classification)]="information.classification"
      [classificationList]="classifications">
    </wa-classification-selector>
  </div>

  <div class="form-group" *ngIf="!generateNumber">
    <wa-act-code-input
      (validityChange)="actCodeValidityChanged($event)"
      [(codeValue)]="_information.codeAct">
    </wa-act-code-input>
  </div>

  <div *ngIf="typeAct?.isTransferable" class="form-group">
    <label [innerText]="messages.IS_MULTICHANNEL"></label>
    <wa-tooltip [message]="messages.SEND_COMPLEMENTARY_PAPER_DOCUMENTS_INFO_MESSAGE"></wa-tooltip>

    <div class="btn-group-toggle ls-actions-bar ls-actions-bar-align-left"
         name="isMultichannel"
         ngbRadioGroup>
      <input id="isMultichannelTrue" formControlName="isMultichannel" [value]="true" class="btn-check"
             ngbButton
             type="radio">
      <label for="isMultichannelTrue" class="btn ls-btn-radio btn-outline-primary"
             ngbButtonLabel>
        <span [innerText]="commonMessages.YES"></span>
      </label>

      <input id="isMultichannelFalse" formControlName="isMultichannel" [value]="false"
             class="btn-check" ngbButton type="radio">
      <label for="isMultichannelFalse" class="btn ls-btn-radio btn-outline-primary"
             ngbButtonLabel>
        <span [innerText]="commonMessages.NO"></span>
      </label>
    </div>
  </div>
</form>
