<nav class="navbar fixed-top navbar-expand-md navbar-ls navbar-dark bg-ls-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img alt="Logo de l'application" src="assets/wa-light.svg"
           title="Revenir à l'accueil de l'application">
    </a>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <a class="nav-link" routerLink="/recherche">
          <span class="search-action-icon" [ngClass]="messages.MENU_SEARCH_ICON" title="Effectuer une recherche multi-critères"></span>
        </a>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown>
          <a [innerText]="structureUserInformation.structureInformation.customName + ' - ' + structureUserInformation.userInformation.name"
             [routerLink]=""
             aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
             data-toggle="dropdown" id="navbarDropdown" ngbDropdownToggle
             role="button">
          </a>
          <ul aria-labelledby="navbarDropdown" class="dropdown-menu-right" ngbDropdownMenu>
            <ng-container *ngFor="let itemMenu of menu; let i = index">
              <li>
                <a (click)="item.action ? item.action() : null"
                   *ngFor="let item of itemMenu"
                   [routerLink]="item.ref ? '/'+item.ref : null" ngbDropdownItem>
                  <i [className]="item.icon"></i>
                  <span [innerText]="item.name"></span>
                </a>
                <div *ngIf="i < menu.length" class="dropdown-divider"></div>
              </li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
