<div class="col ls-form readonly">
  <wa-table [elements]="[fakeVote]" [inner]="true" [tbody]="tbody" [theader]="theader">
  </wa-table>
  <ng-template #theader>
    <th [innerText]="'Oui'" class="col"></th>
    <th [innerText]="'Non'" class="col"></th>
    <th [innerText]="'Abstention'" class="col"></th>
    <th [innerText]="'Pas de participation'" class="col"></th>
  </ng-template>
  <ng-template #tbody disabled="true">
    <td class="col">
      <input
        [(ngModel)]="yes_counter"
        (ngModelChange)="onValueChange()"
        id="total_oui"
        type="number">
    </td>
    <td class="col">
      <input
        [(ngModel)]="no_counter"
        (ngModelChange)="onValueChange()"
        id="total_non"
        type="number">
    </td>

    <td class="col">
      <input
        [(ngModel)]="abstentions_counter"
        (ngModelChange)="onValueChange()"
        id="total_abstention"
        type="number">
    </td>
    <td class="col">
      <input
        [(ngModel)]="no_words_counter"
        (ngModelChange)="onValueChange()"
        id="total_pas_de_participation"
        type="number">
    </td>
  </ng-template>
</div>
