<wa-stepper (closeAction)="cancel()" (saveAction)="save()"
            (selectionChange)="stepChange($event)"
            [isProcessing]="isProcessing" [isValid]="isStepValid" [selectedIndex]="stepState">

  <cdk-step>
    <ng-template cdkStepLabel>{{messages.STEP_1_LABEL}}</ng-template>
    <div class="row">
      <div class="col-12">
        <wa-project-general-information
          (values)="validationStep_1($event)"
          [information]="generalInformation"
          [maxButtons]="5"
          [stateActs]="stateActs"
          [typesActs]="typesActs"
          [isTypeActEditable]="true">
        </wa-project-general-information>
      </div>
    </div>
  </cdk-step>

  <cdk-step>
    <ng-template cdkStepLabel>{{messages.STEP_2_LABEL}}</ng-template>
    <div class="row">
      <div class="col-12">
        <wa-project-complementary-information
          (values)="validationStep_2($event)"
          [classifications]="classifications"
          [information]="complementaryInformation"
          [typeAct]="generalInformation?.typeAct"
          [sittings]="sittings"
          [themes]="themes">
        </wa-project-complementary-information>
      </div>
    </div>
  </cdk-step>

  <cdk-step>
    <ng-template cdkStepLabel>{{messages.DOCUMENTS_TAB_TITLE}}</ng-template>
    <wa-project-documents
      (values)="validationStep_3($event)"
      [annexeDocumentTypes]="annexeDocumentTypes"
      [isTransferable]="generalInformation?.typeAct?.isTransferable"
      [isWriting]="isWriting"
      [isCreating]="true"
      [mainDocumentTypes]="mainDocumentTypes">
    </wa-project-documents>
  </cdk-step>
</wa-stepper>
