<div class="ls-actions-bar ls-actions-bar-main">
  <wa-go-back-button (click)="cancel()">
  </wa-go-back-button>

  <wa-save-button (btnClick)="save()"
                  [disabled]="!generalInformationTabValid || !documentTabValid"
                  [processing]="isProcessing"
                  [title]="messages.SAVE_CHANGES">
  </wa-save-button>
</div>

<ul #nav="ngbNav" [destroyOnHide]="false" class="wa-tabs" ngbNav>
  <li [ngbNavItem]="1">
    <a ngbNavLink>
      <span [innerText]="messages.INFORMATION_TAB_TITLE"></span>
      <span *ngIf="!generalInformationTabValid" [ngClass]="commonIcons.INVALID_FORM_ICON"
            class="wa-tab-error-icon"
            container="body"
            ngbTooltip="{{messages.MANDATORY_FIELD_MISSING_TOOLTIP}}">
      </span>
    </a>

    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-6 ls-form">
          <h2 [innerText]="messages.STEP_1_LABEL"></h2>
          <wa-project-general-information
            (values)="fillGeneralInformation($event)"
            [isStateEditable]="project.hasAvailableAction(ProjectRight.isStateEditable)"
            [maxButtons]="3"
            [stateActs]="stateActs"
            [typesActs]="typesActs"
            [information]="generalInformation"
            [isTypeActEditable]="false">
          </wa-project-general-information>
        </div>

        <div class="col-6 ls-form">
          <h2 [innerText]="messages.STEP_2_LABEL"></h2>
          <wa-project-complementary-information
            (values)="fillComplementaryInformation($event)"
            [classifications]="classifications"
            [information]="complementaryInformation"
            [typeAct]="generalInformation?.typeAct"
            [sittings]="sittings"
            [themes]="themes">
          </wa-project-complementary-information>
        </div>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="2">
    <a ngbNavLink>
      <span [innerText]="messages.DOCUMENTS_TAB_TITLE"></span>
      <span *ngIf="!documentTabValid" [ngClass]="commonIcons.INVALID_FORM_ICON"
            class="wa-tab-error-icon"
            container="body"
            ngbTooltip="{{messages.MANDATORY_FIELD_MISSING_TOOLTIP}}"></span>
    </a>

    <ng-template ngbNavContent>
      <div class="row">
        <div class="col ls-form">
          <wa-project-documents
            (values)="fillDocumentsInformation($event)"
            [annexeDocumentTypes]="annexeDocumentTypes"
            [documentsInformation]="documentsInformation"
            [isTransferable]="generalInformation?.typeAct?.isTransferable"
            [mainDocumentTypes]="mainDocumentTypes"
            [isCreating]="false"
            [isWriting]="isWriting"
          >
          </wa-project-documents>
        </div>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="3" [disabled]="true">
    <a ngbNavLink [innerText]="messages.CIRCUIT_TAB_TITLE"></a>
    <ng-template ngbNavContent>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>
