<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>

  <wa-button
      (done)="actionDone($event)"
      [action]="typeSittingActionItemFactory.getActionItem(typeSittingAction.ADD_TYPE_SITTING)"
      [icon]="commonIcons.CREATE_ICON"
      [title]="messages.CREATE_TYPE_SEANCE"
      waActionable>
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadTypesSittings()"
          [commonActions]="commonActions"
          [elements]="typeSittings"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActionsOthers]="otherSingleActions"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerHTML]="commonMessages.NOT_BREAKABLE_SPACE"
      class="col-1"></th>
  <th [innerText]="messages.NAME"
      class="col"></th>
  <th [innerText]="messages.ACT_TYPES"
      class="col-3"></th>
  <th [innerText]="messages.ACTOR_GROUPS"
      class="col-3"></th>
</ng-template>

<ng-template #tbody let-element>
  <td class="col-1">
    <wa-slider #btn (valueChange)="toggleActivation(element, $event, btn)" [(ngModel)]="element.active"
               [title]="commonMessages.ACTIVATE_DEACTIVATE"></wa-slider>
  </td>
  <td [innerText]="element.name"
      class="col"></td>
  <td class="col-3">
    <span *ngFor="let typeAct of element.typeActs; let last = last" >
      <span *ngIf="!last">{{typeAct.name}}, </span>
      <span *ngIf="last">{{typeAct.name}}</span>
    </span>
  </td>
  <td class="col-3">
    <span *ngFor="let actorGroups of element.actorGroups; let last = last" >
      <span *ngIf="!last">{{actorGroups.name}}, </span>
      <span *ngIf="last">{{actorGroups.name}}</span>
    </span>
  </td>
</ng-template>
