<wa-modal [title]="messages.MODAL_TITLE_CREATE">
<div modalBody>
  <form class="ls-form" [formGroup]="actorgroupForm" (ngSubmit)="onSubmit()">
    <div class="form-group required">
        <label for="name">{{messages.FORM_FIELD_NAME_LABEL}}</label>
        <input
          formControlName="name"
          id="name"
          [attr.aria-label]="messages.FORM_FIELD_NAME_LABEL_PLACEHOLDER"
          aria-describedby="name"
          class="form-control actor-group-name-field"
          placeholder="{{messages.FORM_FIELD_NAME_LABEL_PLACEHOLDER}}" type="text">
    </div>
    <wa-control-messages [control]="actorgroupForm.get('name')"></wa-control-messages>
</form>
</div>
<div modalFooterButtons>
  <wa-button (btnClick)="submitActorgroup()"
              [disabled]="!actorgroupForm.valid"
              [icon]="commonIcons.CREATE_ICON"
              [title]="commonMessages.SAVE"
              tabindex="4">
  </wa-button>
</div>
</wa-modal>
