.btn-add-image {
  display: block;
  width: fit-content;
}

input.hidden-input {
  display: none;
}

.preview {
  display: flex;
  align-items: center;

  .file {
    padding: 1rem;

    img:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
