<div class="form-group {{fileUploadRequired ? 'required':''}}">
  <label [innerText]="fileUploadLabel"></label>
  <wa-tooltip [message]="fileUploadTooltipMessage"></wa-tooltip>
  <label *ngIf="!file" class="btn btn-primary btn-add-image" [title]="fileUploadBtnTitle">
    <span [class]="commonIcons.ADD_ICON"></span>
    <span [innerText]="fileUploadBtnText"></span>
    <input [accept]="getFileExtensions()" class="hidden-input" type="file">
  </label>

  <div *ngIf="file" class="preview">
    <div class="file file-field overflow-auto">
      <span class="text-break" *ngIf="file" [innerText]="file.name"></span>
    </div>
    <div class="ls-small-buttons-bar">
      <wa-button (btnClick)="deleteGenerateTemplateFile()"
                 *ngIf="fileUploadDeletable"
                 [colorOnHover]="true"
                 [icon]="commonIcons.DELETE_ICON"
                 [onlyIcon]="true"
                 [style]="style.DANGER"
                 [title]="fileUploadBtnDeleteText">
      </wa-button>

      <wa-button (btnClick)="editGenerateTemplateFile(officeEditorFile)"
                 *ngIf="fileUploadEditable"
                 [colorOnHover]="true"
                 [icon]="commonIcons.EDIT_ICON"
                 [onlyIcon]="true"
                 [style]="style.NORMAL"
                 [title]="fileUploadEditableTitle">
      </wa-button>

      <wa-button (click)="uploadFileInput.click()"
                 *ngIf="fileUploadReplaceable"
                 [colorOnHover]="true"
                 [icon]="commonIcons.REPLACE_ICON"
                 [onlyIcon]="true"
                 [title]="fileUploadBtnReplaceText">
      </wa-button>
      <input class="hidden-input" #uploadFileInput [accept]="getFileExtensions()" type="file">

      <wa-button (btnClick)="downloadDocument(officeEditorFile)"
                 *ngIf="fileUploadDownload"
                 [icon]="commonIcons.DOCUMENT_DOWNLOAD_ICON"
                 [onlyIcon]="true"
                 [title]="commonMessages.DOCUMENT_DOWNLOAD_TITLE">
      </wa-button>
    </div>
  </div>
</div>
<app-office-editor #officeEditor [officeEditorFile]="officeEditorFile"></app-office-editor>

