<div class="">
  <p>La création de votre compte utilisateur sur webactes demande la saisie de données
    personnelles vous concernant. Vous trouverez ci-dessous le détail des informations collectées ainsi que les
    traitements effectués. Ces données sont collectées uniquement dans le cadre de votre activité professionnelle et
    pour l'utilisation exclusive de l'application webactes.</p>

  <p>Le fonctionnement dans les conditions nominales et recommandées de l'application, ne permet
    pas de partager ou de diffuser à un tiers vos informations personnelles. Vous pouvez demander à tout moment à
    l'administrateur de la plateforme de vous communiquer l'ensemble des informations collectées pour la création de
    votre compte.</p>

  <h6>Article 1 - Mentions légales</h6>
  <div class="">
    1.1 Logiciel (ci-après « le logiciel ») :
    <div class="content">
      webactes
    </div>
    <br/>

    1.2 Éditeur (ci-après « l'éditeur ») :
    <div class="content">
      LIBRICIEL SCOP<br/>
      140 Rue Aglaonice de Thessalie - 34170 Castelnau-Le-Lez<br/>
      numéro SIRET : 49101169800033
    </div>
    <br/>

  </div>

  <h6>Article 2 - Hébergement</h6>
  <div class="">
    1.1 Hébergeur (ci-après « l'hébergeur ») :
    <div class="content">
      webactes est hébergé par :<br/>
      <div>
        Libriciel SCOP<br/>
        140 Rue Aglaonice de Thessalie, 34170 Castelnau-Le-Lez<br/>
        représentée par : M. Fréderic LOSSERAND, en sa qualité de : Président-directeur Général<br/>
        numéro SIRET : 49101169800033<br/>
        code APE : 6202B<br/>
        n° de téléphone : 0467659644
      </div>
    </div>

    <br/>

    <p>Vos données sont hébergées chez plusieurs de nos sous-traitant, uniquement sur le territoire français.</p>

    <p>En notre qualité de sous-traitant, la société LIBRICIEL SCOP vous réaffirme que la protection des données de ses
      clients est l’une de ses plus hautes priorités, conformément à nos engagements figurant dans l’annexe de nos
      Conditions Générales de Vente.</p>

    <p>Depuis le 25 Mai 2018, tous nos collaborateurs intervenant sur vos données personnelles ont : </p>
    <ul>
      <li> été sensibilisés sur les enjeux et les risques liés aux libertés et à la vie privée.</li>
      <li> signé une clause de confidentialité</li>
    </ul>
  </div>

  <h6>Article 3 - Collecte</h6>
  <div class="">
    <p>Lors de la création de votre compte utilisateur, les informations suivantes sont collectées obligatoirement :
      Civilité de l'utilisateur
      Nom d'utilisateur
      Prénom de l'utilisateur
      Adresse de messagerie professionnelle
      Identifiant de connexion</p>
  </div>

  <h6>Article 4 - Traitements</h6>
  <div class="">
    <p>Vos informations personnelles sont utilisées pour le bon fonctionnement de webactes dans les cas listés ci-après
      :</p>

    <p>Affichage de vos données personnelles :</p>

    <ul>
      <li>liste des utilisateurs : votre identifiant de connexion, votre civilité, votre prénom, votre nom et votre
        adresse de messagerie professionnelle apparaissent dans la liste
      </li>
      <li>journal d'événement d'un traitement : votre prénom et votre nom apparaît pour chaque action (rédaction,
        modification, validation, consultation) de votre part.
      </li>
    </ul>
  </div>

  <h6>Article 5 - Droit à l'oubli</h6>
  <div class="">
    <p>Sur votre demande ou à la demande de l’administrateur de webactes, votre compte utilisateur peut être supprimé
      définitivement.</p>

    <p>La suppression de votre compte laissera les traces de votre activité sur les documents circulant dans webactes,
      le temps de leur présence ainsi que dans le journal des événements.</p>

    <p>Ces traces disparaîtront avec l'extraction de ces documents hors de webactes.</p>
  </div>

  <h6>Article 6 - Vos droits sur les données vous concernant</h6>
  <div class="">
    <p>Vous pouvez accéder et obtenir copie des données vous concernant, vous opposer au traitement de ces données, les
      faire rectifier ou les faire effacer. Vous disposez également d'un droit à la limitation du traitement de vos
      données. </p>

    <blockquote>
      <p>Comprendre vos droits informatique et libertés -->
        <a target="blank" href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles">
          https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles
        </a>
      </p>
    </blockquote>

    <p><em>Réclamation (plainte) auprès de la CNIL</em><br/>
      Si vous estimez, après nous avoir contactés, que vos droits sur vos données ne sont pas respectés, vous pouvez
      adresser une réclamation (plainte) à la CNIL. -->
      <a target="blank" href="https://www.cnil.fr/fr/webform/adresser-une-plainte">
        https://www.cnil.fr/fr/webform/adresser-une-plainte
      </a>
    </p>
  </div>
</div>
