<h2 [innerText]="applicationAboutMessages.VERSIONS"></h2>
<div class="currentVersion">
  <span [innerHTML]="applicationAboutMessages.CURRENT_VERSION"></span>
  <span class="version" [innerText]="applicationName"></span>
</div>
<ul>
  <li *ngFor="let releaseNote of releaseNotes">
    <h3 [innerText]="getVersionTitle(releaseNote)" class="version"></h3>
    <div *ngIf="releaseNote?.added?.length >0" class="part">
      <h4 [innerText]="applicationAboutMessages.ADDED"></h4>
      <ul>
        <li *ngFor="let added of releaseNote.added">{{ added }}</li>
      </ul>
    </div>
    <div *ngIf="releaseNote?.changed?.length >0" class="part">
      <h4 [innerText]="applicationAboutMessages.CHANGED"></h4>
      <ul>
        <li *ngFor="let changed of releaseNote.changed">{{ changed }}</li>
      </ul>
    </div>
    <div *ngIf="releaseNote?.fixed?.length >0" class="part">
      <h4 [innerText]="applicationAboutMessages.FIXED"></h4>
      <ul>
        <li *ngFor="let fixed of releaseNote.fixed">{{ fixed }}</li>
      </ul>
    </div>
    <div *ngIf="releaseNote?.deprecated?.length >0" class="part">
      <h4 [innerText]="applicationAboutMessages.DEPRECATED"></h4>
      <ul>
        <li *ngFor="let deprecated of releaseNote.deprecated">{{ deprecated }}</li>
      </ul>
    </div>
    <div *ngIf="releaseNote?.removed?.length >0" class="part">
      <h4 [innerText]="applicationAboutMessages.REMOVED"></h4>
      <ul>
        <li *ngFor="let removed of releaseNote.removed">{{ removed }}</li>
      </ul>
    </div>
    <div *ngIf="releaseNote?.security?.length >0" class="part">
      <h4 [innerText]="applicationAboutMessages.SECURITY"></h4>
      <ul>
        <li *ngFor="let security of releaseNote.security">{{ security }}</li>
      </ul>
    </div>
    <div *ngIf="releaseNote?.limitations?.length >0" class="part">
      <h4 [innerText]="applicationAboutMessages.LIMITATIONS"></h4>
      <ul>
        <li *ngFor="let limitations of releaseNote.limitations">{{ limitations }}</li>
      </ul>
    </div>
    <div *ngIf="releaseNote?.others?.length >0" class="part">
      <h4 [innerText]="applicationAboutMessages.OTHERS"></h4>
      <ul>
        <li *ngFor="let other of releaseNote.others">{{ other }}</li>
      </ul>
    </div>
  </li>
</ul>
