<wa-modal-header [activeModal]="activeModal" [title]="messages.TITLE"></wa-modal-header>

<div class="modal-body">
  <form class="ls-form">
    <div class="form-group required">
      <label [innerText]="messages.SELECT_CIRCUIT_LABEL" for="circuits"></label>
      <ng-select [(ngModel)]="selectedCircuit"
                 [clearAllText]="waCommonMessages.CLEAR_ALL"
                 [items]="circuitList"
                 [notFoundText]="waCommonMessages.NO_RESULT"
                 bindLabel="name"
                 class="input-group ls-select"
                 id="circuits"
                 name="circuits"
                 placeholder=""
                 selectOnTab>
        <ng-template let-item="item" ng-option-tmp>
          {{item.name}}
        </ng-template>
      </ng-select>
    </div>

    <div *ngIf="selectedCircuit">
      <div *ngIf="selectedCircuit.description" [innerText]="selectedCircuit.description"></div>
      <wa-circuit-display [circuit]="selectedCircuit" class="col"></wa-circuit-display>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="row bottom-btn-bar">
    <div class="col-md-12">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>

        <wa-save-button (btnClick)="selectCurrentCircuit()"
                        [disabled]="!selectedCircuit"
                        [icon]="projectsMessages.SEND_TO_CIRCUIT_BUTTON_ICON"
                        [processing]="isProcessing"
                        [title]="messages.SEND_TO_CIRCUIT_BTN_TXT"
                        class="select-circuit-btn">
        </wa-save-button>
      </div>
    </div>
  </div>
</div>
