<div class="wa-page-btn">
  <wa-go-back-button (click)="goBack()">
  </wa-go-back-button>
</div>

<div class="ls-actions-bar ls-actions-bar-main">

</div>

<wa-table (gotoPage)="gotoPage($event)"
          (reloadElements)="reloadProjects()"
          [commonActions]="commonActions"
          [elements]="projects"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActionsOthers]="otherSingleActions"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerText]="waCommonMessages.STATE" class="col-auto text-center state-icn-container"></th>
  <th [innerText]="waCommonMessages.ORDRE" class="col-1"></th>
  <th [innerText]="waCommonMessages.THEME" class="col-2"></th>
  <th [innerText]="waCommonMessages.ACT_NAME" class="col"></th>
  <th [innerText]="waCommonMessages.CODE_ACT" class="col-2"></th>
  <th [innerText]="waCommonMessages.TYPE_ACT" class="col-1"></th>

</ng-template>

<ng-template #tbody let-element>
  <td class="col-auto text-center state-icn-container">
    <div class="state-icn">
          <span
            [ngClass]="getIconForState(element?.stateact)"
            ngbTooltip="{{element?.stateact.name}}"
            placement="top">
          </span>
    </div>
  </td>
  <td [innerText]="element?.rank" class="col-1 "></td>
  <td [innerText]="element?.theme?.name|noValue" class="col-2"></td>
  <td class="col">
    <wa-table-row-action
      [action]="projectActionItemFactory.getActionItem(projectAction.SHOW_PROJECT)"
      [item]="element"></wa-table-row-action>
  </td>
  <td [innerText]="element.codeAct" class="col-2"></td>
  <td [innerText]="element?.typeAct?.name" class="col-1"></td>

</ng-template>
