<div class="ls-actions-bar">
  <wa-search-bar (applyFilter)="applyFilter($event)"></wa-search-bar>

  <wa-button
    (click)="createSitting()"
    [icon]="commonIcons.CREATE_ICON"
    [title]="messages.CREATE_SEANCE">
  </wa-button>
</div>

<wa-table (gotoPage)="gotoPage(Number($event))"
          (reloadElements)="reloadSittings()"
          [commonActions]="commonActions"
          [elements]="sittings"
          [filtered]="hasFilter()"
          [loading]="loading"
          [pagination]="pagination"
          [singleActionsOthers]="singleActionsOthers"
          [singleActions]="singleActions"
          [tbody]="tbody"
          [theader]="theader">
</wa-table>

<ng-template #theader>
  <th [innerText]="messages.type"
      class="col"></th>
  <th [innerText]="messages.dateTime"
      class="col-3"></th>
</ng-template>

<ng-template #tbody let-element>
  <td [innerText]="element?.typesitting?.name"
      class="col"></td>
  <td [innerText]="element?.date | date:'dd/MM/yyyy - HH:mm'"
      class="col-3"></td>
</ng-template>
