<wa-modal-header [activeModal]="activeModal"
                 [title]="counter.id ? messages.UPDATE_COUNTER : messages.CREATE_COUNTER"></wa-modal-header>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <form class="ls-form" [formGroup]="counterForm">
        <div class="form-group required">
          <label [innerText]="messages.NEW_COUNTER_NAME" for="name"></label>
          <input formControlName="name"
                 class="form-control"
                 id="name"
                 maxlength="80"
                 name="name"
                 placeholder="{{messages.NEW_COUNTER_NAME_PLACE_HOLDER}}"
                 type="text">
          <div *ngIf="counterForm.controls['name']?.errors?.duplicatedName && counterForm.controls['name'].dirty"
               [innerHTML]="messages.DUPLICATED_COUNTER_NAME_ERROR_MESSAGE"
               class="ls-error-message text-danger"></div>
          <div *ngIf="counterForm.controls['name']?.errors?.required && counterForm.controls['name'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group">
          <label [innerText]="messages.COMMENT" for="comment"></label>
          <input formControlName="comment"
                 class="form-control"
                 id="comment"
                 maxlength="80"
                 name="comment"
                 placeholder="{{messages.NEW_COUNTER_COMMENT_PLACE_HOLDER}}"
                 type="text">
        </div>

        <div class="form-group required">
          <label [innerText]="messages.COUNTER_DEF" for="counter_def"></label>
          <input formControlName="counter_def"
                 class="form-control"
                 id="counter_def"
                 maxlength="80"
                 name="counter_def"
                 type="text">

          <div *ngIf="counterForm.controls['counter_def']?.errors?.counterDefLengthError && counterForm.controls['counter_def'].dirty"
               [innerHTML]="messages.COUNTER_DEF_LENGTH_ERROR_MESSAGE"
               class="ls-error-message text-danger"></div>
          <div *ngIf="counterForm.controls['counter_def']?.errors?.counterDefSyntaxError"
               [innerHTML]="messages.COUNTER_SYNTAX_ERROR_MESSAGE"
               class="ls-error-message text-danger"></div>
          <div *ngIf="counterForm.controls['counter_def']?.errors?.required && counterForm.controls['counter_def'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <ng-select formControlName="formatDef"
                     (change)="appendToCounterDef()"
                     [items]="formatDefHelp"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     [multiple]="false"
                     bindLabel="helper"
                     class="input-group ls-select"
                     id="formatDef"
                     placeholder="{{messages.COUNTER_DEF_HELP}}"
                     selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{item.helper}}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{item.helper}}</span>
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.COUNTER_REINIT_DEF" for="reinit_def"></label>
          <input formControlName="reinit_def"
                 class="form-control"
                 id="reinit_def"
                 maxlength="80"
                 name="reinit_def"
                 type="text">
          <div *ngIf="counterForm.controls['reinit_def']?.errors?.required && counterForm.controls['reinit_def'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>

        <div class="form-group required">
          <ng-select formControlName="formatDate"
                     (change)="updateReinitDef()"
                     [items]="formatDateHelp"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="helper"
                     class="input-group ls-select"
                     id="formatDate"
                     placeholder="{{messages.NEW_COUNTER_REINIT_DEF}}"
                     selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{item.helper}}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{item.helper}}</span>
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group required">
          <label [innerText]="messages.COUNTER_SEQUENCE" for="sequence"></label>
          <ng-select [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [items]="availableSequences"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     bindLabel="name"
                     class="input-group ls-select"
                     id="sequence"
                     placeholder="{{messages.COUNTER_SEQUENCE}}"
                     formControlName="sequence"
                     selectOnTab>
            <ng-template let-item="item" ng-option-tmp>
              {{item.name}}
            </ng-template>
            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
              <span (click)="clear(item);" aria-hidden="true" class="ng-value-icon left">×</span>
              <span class="ng-value-label">{{item.name}}</span>
            </ng-template>
          </ng-select>
          <div
            *ngIf="counterForm.controls['sequence']?.errors?.alreadyUsedSequence && counterForm.controls['sequence'].dirty"
            [innerHTML]="messages.ALREADY_USED_SEQUENCE_ERROR_MESSAGE"
            class="ls-error-message text-danger"></div>
          <div *ngIf="counterForm.controls['sequence']?.errors?.required && counterForm.controls['sequence'].dirty"
               [innerHTML]="commonMessages.REQUIRED_FIELD"
               class="ls-error-message text-danger"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-7">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>
        <wa-button (btnClick)="addOrUpdateCounter()"
                   [icon]="counter.id ? commonIcons.SAVE_ICON : commonIcons.CREATE_ICON"
                   [processing]="isSubmitting"
                   [disabled]="counterForm.invalid"
                   [title]="counter.id ? messages.COUNTER_UPDATE : messages.COUNTER_ADD"
                   tabindex="4">
        </wa-button>
      </div>
    </div>
  </div>
  <div class="col-md-5">
  </div>
</div>

