<div class="ls-actions-bar ls-actions-bar-main">
  <wa-go-back-button (click)="cancel()">
  </wa-go-back-button>

  <wa-button (btnClick)="editVotersList()"
             [disabled]="savingVotersList"
             [icon]="commonIcons.EDIT_ICON"
             [title]="voteMessages.EDIT_VOTERS_LIST">
  </wa-button>


  <wa-button (btnClick)="getVotersListFromPrecedent()"
             [icon]="commonIcons.GET_FROM"
             [title]="voteMessages.GET_VOTERS_LIST"
             [processing]="savingVotersList"
             [disabled]="sitting.actors_projects_sittings_previous.length===0">
  </wa-button>
</div>

<div class="main-content">
  <div class="form-group ls-form">
    <div class="row">
      <div class="col-3 form-group">
        <label [innerText]="voteMessages.VOTE_METHOD"></label>
        <wa-list-or-button [(ngModel)]="this.method"
                           [items]="voteMethods"
                           [maxLength]="5" [placeholder]="voteMessages.METHOD_PLACEHOLDER"
                           [required]="true">
        </wa-list-or-button>
      </div>
    </div>

    <div class="row" [ngSwitch]="this.method.code">
      <!--  TEMPLATE FOR DETAILS DES VOIX     -->
      <ng-container *ngSwitchCase="voteMethodEnum.DETAILS">
        <wa-detailed-vote-result class="col-12"
                                 (voteAvailable)="setVoteAvailable($event)"
                                 [sitting]="sitting"
                                 [votePresident]="votePresident"
                                 [vote]="vote"
                                 [voters]="voters"
                                 [voterGroups]="voterGroups"
                                 [presentAndRepresentedVoters]="presentAndRepresentedVoters()"
                                 [saveEventSubject]="saveEventsSubject">
        </wa-detailed-vote-result>
      </ng-container>

      <!--  TEMPLATE FOR TOTAL DES VOIX     -->
      <ng-container *ngSwitchCase="voteMethodEnum.TOTAL">
        <wa-total-vote-result class="col-12"
                              (voteAvailable)="setVoteAvailable($event)"
                              [sitting]="sitting"
                              [votePresident]="votePresident"
                              [vote]="vote"
                              [saveEventSubject]="saveEventsSubject">
        </wa-total-vote-result>
      </ng-container>

      <!--  TEMPLATE FOR RÉSULTAT     -->
      <ng-container *ngSwitchCase="voteMethodEnum.RESULT">
        <wa-result-vote-result class="col-12"
                               (voteAvailable)="setVoteAvailable($event)"
                               [sitting]="sitting"
                               [votePresident]="votePresident"
                               [vote]="vote"
                               [saveEventSubject]="saveEventsSubject">
        </wa-result-vote-result>
      </ng-container>

      <!--  TEMPLATE FOR PRENDRE ACTE     -->
      <ng-container *ngSwitchCase="voteMethodEnum.TAKE_ACT">
        <wa-take-act-result class="col-12"
                            (voteAvailable)="setVoteAvailable($event)"
                            [sitting]="sitting"
                            [votePresident]="votePresident"
                            [vote]="vote"
                            [saveEventSubject]="saveEventsSubject">
        </wa-take-act-result>
      </ng-container>

      <div *ngIf="this.voters.length > 0" class="col-3 form-group">
        <label [innerText]="voteMessages.VOTE_PRESIDENT_LABEL" for="votePresident"></label>
        <ng-select
          [clearAllText]="commonMessages.CLEAR_ALL"
          [notFoundText]="commonMessages.NO_RESULTS"
          [(ngModel)]="votePresident"
          [ngModelOptions]="{standalone: true}"
          [items]="voters"
          [title]="voteMessages.PRESIDENT_TITLE"
          class="ls-select"
          id="votePresident"
          bindLabel="name"
          placeholder="{{voteMessages.ACTOR_PLACE_HOLDER}}">

          <ng-template let-item="item" ng-option-tmp>
            <span [innerText]="item.name" [title]="item.name"></span>
          </ng-template>
        </ng-select>
      </div>

      <div *ngIf="vote" class="col-12 form-group">
        <div class="ls-form form-group">
          <label [innerText]="voteMessages.COMMENT_TITLE" for="voteComment"></label>
          <ls-max-length-textarea [(ngModel)]="vote.comment"
                                  [ngModelOptions]="{standalone: true}"
                                  [required]="true"
                                  id="voteComment"
                                  maxlength="1000">
          </ls-max-length-textarea>
        </div>
        <div class="ls-actions-bar ls-actions-bar-align-left">
          <wa-cancel-button
            (click)="cancel()">
          </wa-cancel-button>

          <wa-save-button [disabled]="!voteAvailable || savingVotersList"
                          (btnClick)="saveVote()">
          </wa-save-button>
        </div>
      </div>
    </div>
  </div>
</div>
