<wa-modal-header [activeModal]="activeModal" [title]="!sitting.id ? messages.CREATE_NEW_SITTING : messages.EDIT_SITTING"></wa-modal-header>

<div class="modal-body">
  <form class="ls-form">
    <div class="row">
      <div class="col-md-7">

        <div class="form-group required">
          <label [innerText]="messages.SITTING_TYPE" for="typeSitting"></label>
          <ng-select (change)="checkDataValidity()"
                     [(ngModel)]="selectedType"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [clearable]="false"
                     [items]="typeSittings"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     autofocus="false"
                     bindLabel="name"
                     class="input-group ls-select"
                     id="typeSitting"
                     name="typeSitting"
                     placeholder="{{messages.SITTING_TYPE_PLACE_HOLDER}}"
                     required
                     selectOnTab tabindex="1">
            <ng-template let-item="item" ng-option-tmp>
              {{ item.name }}
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group">
          <label [innerText]="messages.SITTING_PLACE" for="sittingPlace"></label>
          <ls-max-length-textarea [(ngModel)]="this.sitting.place"
                                  [ngModelOptions]="{standalone: true}"
                                  id="sittingPlace"
                                  maxlength="255">
          </ls-max-length-textarea>
        </div>


        <div class="form-group required">
          <label [innerText]="messages.SITTING_DATE" for="dateSitting"></label>
          <div [ngClass]="{'showing' : isCalendarShowing()}"
               class="input-group ls-input ls-small-input ls-datepicker-input ls-action-input">
            <input #datePicker="ngbDatepicker" (click)="datePicker.toggle()"
                   (ngModelChange)="checkDataValidity()" [(ngModel)]="selectedDate"
                   [dayTemplate]="customDay"
                   class="form-control"
                   id="dateSitting"
                   name="dateSitting" ngbDatepicker placeholder="dd/mm/aaaa" required
                   tabindex="2"/>
            <span (click)="datePicker.toggle()" [ngClass]="commonIcons.CALENDAR_ICON"
                  class="ls-input-icon"></span>
          </div>
          <ng-template #customDay let-currentMonth="currentMonth" let-date let-disabled="disabled"
                       let-focused="focused"
                       let-selected="selected">
            <div class="btn-light ng-star-inserted">
              <span [class.focused]="focused" [class.selected]="selected"
                    [class.text-muted]="disabled || date.month !== currentMonth"
                    class="custom-day">{{ date.day }}</span>
            </div>
          </ng-template>
        </div>


        <div class="form-group required">
          <label for="timePicker">{{ messages.SITTING_TIME }}</label>
          <div class="ls-input ls-small-input">
            <ls-timepicker
              (ngModelChange)="onTimePickerChange($event)"
              [(ngModel)]="timeDate"
              [ngClass]="{
            'ls-form-error': timePickerErrorMessage,
            'ls-valid': !timePickerErrorMessage && selectedTime
            }"
              class=""
              id="timePicker"
              name="timeDate"
              required
              tabindex="3">
            </ls-timepicker>
          </div>
          <div [innerHTML]="timePickerErrorMessage" class="ls-error-message text-danger"></div>
        </div>


        <div class="form-group">
          <label [innerText]="messages.SITTING_CONVOCATION_DATE" for="dateConvocationSitting"></label>
          <div [ngClass]="{'showing' : isCalendarShowing()}"
               class="input-group ls-input ls-small-input ls-datepicker-input ls-action-input">
            <input #dateConvocationPicker="ngbDatepicker" (click)="dateConvocationPicker.toggle()"
                   (ngModelChange)="checkDataValidity()" [(ngModel)]="selectedConvocationDate"
                   [dayTemplate]="customDay"
                   class="form-control"
                   id="dateConvocationSitting"
                   name="dateConvocationSitting" ngbDatepicker placeholder="dd/mm/aaaa"
                   tabindex="2"/>
            <span (click)="dateConvocationPicker.toggle()" [ngClass]="commonIcons.CALENDAR_ICON"
                  class="ls-input-icon"></span>
          </div>
          <ng-template #customDay let-currentMonth="currentMonth" let-date let-disabled="disabled"
                       let-focused="focused"
                       let-selected="selected">
            <div class="btn-light ng-star-inserted">
              <span [class.focused]="focused" [class.selected]="selected"
                    [class.text-muted]="disabled || date.month !== currentMonth"
                    class="custom-day">{{ date.day }}</span>
            </div>
          </ng-template>
        </div>

        <div class="form-group">
          <label [innerText]="messages.SITTING_PRESIDENT" for="sittingPresident"></label>
          <ng-select (change)="checkDataValidity()"
                     [(ngModel)]="sittingPresident"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [clearable]="false"
                     [items]="actors"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     autofocus="false"
                     bindLabel="name"
                     class="input-group ls-select"
                     id="sittingPresident"
                     name="sittingPresident"
                     placeholder="{{messages.SITTING_PRESIDENT_PLACE_HOLDER}}"
                     selectOnTab tabindex="1">
            <ng-template let-item="item" ng-option-tmp>
              {{ item.name }}
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group">
          <label [innerText]="messages.SITTING_SECRETARY" for="sittingSecretary"></label>
          <ng-select (change)="checkDataValidity()"
                     [(ngModel)]="sittingSecretary"
                     [clearAllText]="waCommonMessages.CLEAR_ALL"
                     [clearable]="false"
                     [items]="actors"
                     [notFoundText]="waCommonMessages.NO_RESULT"
                     autofocus="false"
                     bindLabel="name"
                     class="input-group ls-select"
                     id="sittingSecretary"
                     name="sittingSecretary"
                     placeholder="{{messages.SITTING_SECRETARY_PLACE_HOLDER}}"
                     selectOnTab tabindex="1">
            <ng-template let-item="item" ng-option-tmp>
              {{ item.name }}
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div class="col-md-5">
        <div class="wa-calendar">
          <label [innerText]="messages.SITTINGS_CALENDAR"></label>
          <wa-calendar [sittings]="sittings"></wa-calendar>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-7">
      <div class="ls-actions-bar ls-actions-bar-align-right">
        <wa-cancel-button (btnClick)="close()">
        </wa-cancel-button>

        <wa-button (btnClick)="addOrUpdateSitting()"
                   [disabled]="isSubmitDisabled"
                   [icon]="sitting.id ? commonIcons.SAVE_ICON : commonIcons.CREATE_ICON"
                   [processing]="isSubmitting"
                   [title]="sitting.id ? messages.SITTING_UPDATE : messages.SITTING_ADD"
                   tabindex="4">
        </wa-button>
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>
