<ng-container *ngFor="let item of actionItems?.actionItems; let index = index">
  <wa-button (done)="sendResult($event)"
             *ngIf="item.enabled && item.actionValidator?.isActionValid([argument])"
             [action]="item"
             [argument]="[argument]"
             [iconSize]="'large'"
             [icon]="item.icon"
             [onlyIcon]="true"
             [style]="item.style"
             [title]="item.name"
             id="{{item.name | toSnakeCase}}-{{index}}"
             waActionable>
  </wa-button>
</ng-container>

<div #dropdown="ngbDropdown"
     *ngIf="!isOtherActionItemsSetsEmpty()"
     class="d-inline-block wa-dropdown"
     ngbDropdown>
  <wa-button [iconSize]="'large'"
             [icon]="commonIcons.MORE_ACTIONS_ICON"
             [ngClass]="'wa-other'"
             [onlyIcon]="true"
             (focus)="dropdown.open()"
             ngbDropdownToggle>
  </wa-button>
  <div ngbDropdownMenu>
    <div style="display: flex; flex-direction: column">
      <div *ngFor="let actionItemsSet of otherActionItemsSets; let index = index" class="wa-menu-group">
        <ng-container *ngFor="let item of actionItemsSet.actionItems">
          <wa-button (done)="sendResult($event)"
                     *ngIf="item.enabled && item.actionValidator?.isActionValid([argument])"
                     [action]="item"
                     [argument]="[argument]"
                     [iconSize]="'large'"
                     [icon]="item.icon"
                     [style]="item.style"
                     [title]="item.name"
                     [weight]="weight.MENU_ITEM"
                     id="{{item.name | toSnakeCase}}-{{index}}"
                     waActionable>
          </wa-button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
