:host {
  display: flex;
  justify-content: flex-end;
  height: 3rem;

  wa-button, .wa-dropdown {
    width: 2.5rem;
  }

  .wa-dropdown {
    display: block;
  }

  .wa-menu-group {
    &:not(:first-child) {
      padding-top: 0.5rem;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }

    .btn {
      width: 100%;
      padding-right: 1rem;
      text-align: left;
      height: auto;
    }
  }

  .dropdown-menu {
    margin-top: -1px;
    border-radius: 0;

    .wa-menu-group:not(:last-child) {
      border-bottom: solid lightgray 1px;
    }

    .btn {
      height: 2.5rem;

      wa-action-icon {
        margin-right: 1rem;
        margin-left: 0.5rem;
      }
    }
  }

  .wa-other {
    display: block;
    height: 100%;

    &::after {
      content: none;
    }
  }
}
