.main-doc {
  padding: 1rem;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  overflow: hidden;

  > :first-child {
    margin-right: 1rem
  }

  .description, .description .name {
    text-overflow: ellipsis;
    overflow: hidden;
    hyphens: auto;

    > * {
      display: block;
    }
  }

  .name {
    font-weight: bold;
  }

  .date {
    font-size: smaller;
    font-style: italic;
  }
}
