<div class="main-doc">
    <i [ngClass]="mainDocument && mainDocument.fileId ? messages.DOCUMENT_ICON : messages.DOCUMENT_GENERATION"
       class="fa-2x"></i>
    <div [title]="messages.getFileInformation(mainDocument)" class="description">
        <span [innerText]="messages.getFileInformation(mainDocument)" class="name"></span>
        <span [innerText]="mainDocument?.documentType?.name" class="wa-doc-secondary-info"></span>
        <span *ngIf="mainDocument?.modified" [innerText]="messages.getFileModifiedDate(mainDocument)"
              class="date wa-doc-secondary-info"></span>
    </div>

</div>
