<table class="table table-striped inner-table">
  <thead>
  <tr>
    <th>
      <div class="option-header">
        <span [innerText]="optionsList?.name"></span>
        <span class="all-checked"
              [innerText]="allChecked ? commonMessages.DEACTIVATE_ALL : commonMessages.ACTIVATE_ALL">
        </span>
      </div>
    </th>
    <th class="toggle-button-column">
      <wa-slider [(ngModel)]="allChecked"
                 (valueChange)="toggleAll($event)">
      </wa-slider>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let option of optionsList?.values">
    <td [innerText]="option.name"></td>
    <td class="toggle-button-column">
      <wa-slider (valueChange)="valueChanged(option, $event)"
                 [(ngModel)]="option.active">
      </wa-slider>
    </td>
  </tr>
  </tbody>
</table>
