.option-header {
  display: flex;
  justify-content: space-between;

  .all-checked {
    text-align: right;
  }
}

.toggle-button-column {
  vertical-align: middle;

  wa-slider {
    display: flex;
  }
}
